<div class="col-md-12">
            <h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Titulo">Titulo</label>
                                <input type="text" required  name="title" title="Titulo" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Titulo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Link ou número">Link ou número</label>
                                <input type="text" required  name="link" title="Link ou número" value="<?php echo $this->view->obj->link ?>" class="form-control round" placeholder="Link ou número">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon"><i id="mostraicone" style="font-size: 15px; color: black" class="<?=$this->view->obj->icon?>"></i></span>
                                    <input type="text" onblur="trocaicone(this.value)" id="icone" name="icon" class="form-control" placeholder="Digite aqui o Icone Ex. fa fa-user" value="<?php echo $this->view->obj->icon ?>">
                                <small><a target="_blank" href="http://fontawesome.com/">Veja mais icones</a></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Ordem">Ordem</label>
                                <input type="number" required  name="ordem" title="Ordem" value="<?php echo $this->view->obj->ordem ?>" class="form-control round" placeholder="Ordem    ">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <small>32x32px</small>
                                        <div class="custom-file">
                                            <input onchange="uploadgeneric('formcrud', 'image', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="fileimage" id="fileimage" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher Icone</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimage" src="<?php echo $this->view->obj->image <> '' ? $this->view->obj->image : '' ?>" style="height: 100px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Tipo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="type" id="type" value="botao" <?php echo ('botao' == $this->view->obj->type ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="type">Botão de Contato</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="type" id="type2" value="redesocial" <?php echo ('redesocial' == $this->view->obj->type ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="type2">Rede Social</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idsocial ?>">
                    <input type="hidden" name="image" value="<?php echo $this->view->obj->image ?>" id="image">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn btn-info">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>