    <!--/ DOM positioning table -->
    <!-- Alternative pagination table -->
    <section id="pagination">
<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="form-t1">Redes Sociais</h4>
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) {?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php }?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <a href="<?php echo $this->view->url ?>/create" class="btn btn-success text-white btn-min-width mr-1 mb-1">Adicionar novo</a>
                            <div class="">
                                <table class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Ordem</th>
                                            <th>Icone</th>
                                            <th>Titulo</th>
                                            <th>Tipo</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) {?>
                                            <tr>
                                                <td><?php echo $a->ordem ?></td>
                                                <td><?php echo !strlen($a->image) ? '<i class="'.$a->icon.'"></i>' : '<img src="'.$a->image.'" style="height: 30px">' ?></td>
                                                <td><?php echo $a->title ?></td>
                                                <td>
                                                    <?php echo $a->type == 'botao' ? 'Botão de Contato' : 'Rede Social' ?>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="<?php echo $this->view->url ?>/update/<?php echo $a->idsocial ?>" class="text-info">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->idsocial ?>', '<?php echo $a->title ?>')" href="#." class="text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php }?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Ordem</th>
                                            <th>Icone</th>
                                            <th>Titulo</th>
                                            <th>Tipo</th>
                                            <th>Ação</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>