<div class="col-md-12">
    <h2 class="form-t1"><?php echo $this->titulo_pagina ?></h2>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Titulo">Titulo</label>
                                <input type="text" required  name="title" title="Título" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Digite aqui seu titulo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Copyright">Copyright</label>
                                <input type="text" required  name="copyright" title="Copyright" value="<?php echo $this->view->obj->copyright ?>" class="form-control round" placeholder="Digite aqui o Copyright">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="SMTP">SMTP</label>
                                <input type="text" required  name="smtp" title="SMTP" value="<?php echo $this->view->obj->smtp ?>" class="form-control round" placeholder="Digite aqui seu SMTP">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="E-mail de disparo">E-mail de disparo</label>
                                <input type="text" required  name="emailuser" title="E-mail de disparo" value="<?php echo $this->view->obj->emailuser ?>" class="form-control round" placeholder="Digite aqui o E-mail de disparo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Senha do e-mail">Senha do e-mail</label>
                                <input type="text" required  name="emailpassword" title="Senha do e-mail" value="<?php echo $this->view->obj->emailpassword ?>" class="form-control round" placeholder="Digite aqui Senha do e-mail">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Porta">Porta</label>
                                <input type="text" required  name="port" title="Porta" value="<?php echo $this->view->obj->port ?>" class="form-control round" placeholder="Digite aqui a Porta">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="E-mail de contato">E-mail de contato</label>
                                <input type="text" required  name="emailsend" title="E-mail de contato" value="<?php echo $this->view->obj->emailsend ?>" class="form-control round" placeholder="Digite aqui o E-mail de contato">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Login Analytics">Login Analytics</label>
                                <input type="text" placeholder="Login Analytics" required  name="loginanalytics" title="Login Analytics" value="<?php echo $this->view->obj->loginanalytics ?>" class="form-control round">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Senha Analytics">Senha Analytics</label>
                                <input type="text" placeholder="Senha Analytics" required  name="senhaanalytics" title="Senha Analytics" value="<?php echo $this->view->obj->senhaanalytics ?>" class="form-control round">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="label" for="Script Analytics">Script Analytics</label>
                                <textarea name="scriptanalytics" rows="5" title="Script Analytics" class="form-control round" placeholder="Script Analytics"><?php echo htmlentities($this->view->obj->scriptanalytics) ?></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <small>32x32px</small>
                                        <div class="custom-file">
                                            <input onchange="uploadgeneric('formcrud', 'favicon', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="filefavicon" id="filefavicon" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher Favicon</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewfavicon" src="<?php echo $this->view->obj->favicon <> '' ? $this->view->obj->favicon : '' ?>" style="height: 100px">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <small>300x150px - Observe as dimensões do seu logo e suba proporcionalmente</small>
                                        <div class="custom-file">
                                            <input onchange="uploadgeneric('formcrud', 'logo', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="filelogo" id="filelogo" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher logo</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewlogo" src="<?php echo $this->view->obj->logo <> '' ? $this->view->obj->logo : '' ?>" style="height: 100px">
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idconfig ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <input type="hidden" name="favicon" value="<?php echo $this->view->obj->favicon ?>" id="favicon">
                    <input type="hidden" name="logo" value="<?php echo $this->view->obj->logo ?>" id="logo">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                </form>
            </div>
        </div>
    </div>
</div>