

<main id="mainContent" class="container-categoria container-parcerias">
      <section class="parcerias-banner">
				<div class="banner-topo">
					<div>
						<span class="shape-down"></span>
						<h2>Parcerias</h2>
					</div>
				</div>
		</section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="p-categoria">
          O Programa de Parcerias do YPO Brasil está sempre em busca de trazer mais vantagens 
          para os seus membros. Por isso, criamos uma forma mais rápida e fácil para poderem 
          aproveitar todos os nossos benefícios. Experimentem!
        </p>
      </div>
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
        <div class="col-md-4">
            <?php $this->includepage("Ypo.Institucional.Includes.Parcerias.categoria-menu")?>
        </div>
          <div id="listagem" class="col-md-8 container-categoria-itens">
            <div class="row ">
              <?php foreach($this->view->adds->list as $parceiro){ ?>
                  <div title="<?php echo $parceiro->nome; ?>" style="cursor:pointer" onclick="window.location.href='<?php echo $parceiro->url; ?>'" class="col-md-4 categoria-item">
                    <img src="<?php echo $parceiro->logo; ?>" alt="">
                  </div>
              <?php }; ?>
            </div>
          </div>
        </div>
        
    </div>
</main>