
<style>
.info2 a {
    font-size: 21px;
    font-weight: 600;
    color: #00253c;
    text-decoration: none;
}

.info2{
  display: contents;
}
</style>
<main id="mainContent" class="">
  <div class="container-parcerias-detalhe">
    <div class="container p-0">
      <div div class="row">
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
      </div>
    </div>
    <div class="container box-parcerias-detalhe">
      <div class="box-parcerias-img">
        <img src="<?php echo $this->view->adds->parceiro->banner; ?>" alt="">
      </div>
      <div class="row">
        <div class="col-md-12"> 
          <div class="box-parcerias-title">
            <img style="width:240px;height: 240px;" src="<?php echo $this->view->adds->parceiro->logo; ?>" alt="">
            <div>
            <h2 style="padding: 20px 0px 0px 0px"><?php echo $this->view->adds->parceiro->nome; ?></h2>
            <h2 style="padding:0px"><?php echo $this->view->adds->parceiro->subtitulo; ?></h2>
            </div>  
          </div>
          <div class="col-md-12">
            <div class="box-parcerias-text">
                <p><?php echo $this->view->adds->parceiro->texto; ?></p>
            </div>
          </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12 <?php echo !strlen($this->view->adds->parceiro->descontos) ? 'd-none' : ''; ?>">
          <div class="box-parcerias-list">
            <div class="list-title">
              <h2>Descontos e Benefícios</h2>
            </div>
            <div style="color: #00253c !important; font-size: 20px">
              <?php echo $this->view->adds->parceiro->descontos; ?>
            </div>
          </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12 <?php echo !strlen($this->view->adds->parceiro->termos) ? 'd-none' : ''; ?>">
          <div class="box-parcerias-list">
            <div style="color: #00253c !important; font-size: 14px">
              <?php echo $this->view->adds->parceiro->termos; ?>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="container-parcerias-img-small">
            <div class="row box-parcerias-img-small">
                <?php 
                if(isset($this->view->adds->parceiro->arrayImages) && is_array($this->view->adds->parceiro->arrayImages)){
                foreach($this->view->adds->parceiro->arrayImages as $imagem){ ?>      
                  <div class="col-md-3">
                      <div class="box-parcerias-small-img mt-1">
                          <a href="<?php echo $imagem; ?>" data-lightbox="image-1" data-title="">
                            <img src="<?php echo $imagem; ?>" alt="">
                          </a>
                      </div>
                  </div>
                <?php } } ?>
            </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12 container-parcerias-info">
          
          <div class="row ">
              <div class="<?php echo !strlen($this->view->adds->parceiro->whatsapp) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Tel/WhatsApp</span>
                <span class="info2"><?php echo $this->view->adds->parceiro->botaoZap == 's' ? '<a target="_blank" href="https://api.whatsapp.com/send?phone=55'.preg_replace("/[^0-9]/", "", $this->view->adds->parceiro->whatsapp).'&text=Olá">'.$this->view->adds->parceiro->whatsapp.'</a>' : $this->view->adds->parceiro->whatsapp; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->parceiro->emailContato) ? 'd-none' : ''; ?> col-md-8 box-parcerias-info">
                <span class="info1">E-mail</span>
                <span style="cursor:pointer" onclick="window.location='mailto:<?php echo $this->view->adds->parceiro->emailContato; ?>'" class="info2"><?php echo $this->view->adds->parceiro->emailContato; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->parceiro->nomeContato) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Contato</span>
                <span class="info2"><?php echo $this->view->adds->parceiro->nomeContato; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->parceiro->site) ? 'd-none' : ''; ?> col-md-8 box-parcerias-info">
                <span class="info1">Site</span>
                <span style="cursor:pointer" onclick="window.open('http:\/\/<?php echo $this->view->adds->parceiro->site; ?>', '_blank')" class="info2"><?php echo $this->view->adds->parceiro->site; ?></span>
              </div>
            </div>
        </div>
        <div class="divisor">
        </div>
        <?php if($this->view->adds->parceiro->especiaisYpo == 's'){ ?>
          <div class="box-btn mb-4">
            <button type="button" data-toggle="modal" data-target="#exampleModal" style="max-width: 200px;" class="btnFiltrar">Solicitar Desconto</button>
          </div>
        <?php }; ?>
      </div>
    </div>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Solicitar Desconto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="formcrud" action="/parceiro-solicitar" >
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <input type="text" required name="nome" title="Nome" value="<?php echo $this->view->adds->user->name; ?>" class="form-control round" placeholder="Nome">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" name="capitulo" title="Capítulo" value="<?php echo $this->view->adds->user->capitulo; ?>" class="form-control round" placeholder="Capítulo">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" name="empresa" title="Empresa" value="" class="form-control round" placeholder="Empresa">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="email" required name="email" title="E-mail" value="<?php echo $this->view->adds->user->email; ?>" class="form-control round" placeholder="E-mail">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" name="whatsapp" title="Whatsapp/Tel" value="<?php echo $this->view->adds->user->phone; ?>" class="form-control round" placeholder="Whatsapp/Tel">
                  </div>
              </div>
              <div class="col-lg-12">
                  <textarea name="mensagem" required id="mensagem" class="form-control" rows="5"></textarea>
              </div>
              <input type="hidden" name="iduser" value="<?php echo $this->view->adds->user->iduser; ?>">
              <input type="hidden" name="idempresa" value="<?php echo $this->view->adds->parceiro->idempresa; ?>">
            </div>
        </form>
      </div>
      <div id="status_response" class="d-none text-center mt-2 mb-2">
          <div class="fa-3x">
              <i class="text-dark fas fa-spinner fa-spin"></i>
          </div>
      </div>
      <div class="text-center p-t-115">
          <div class="row">
              <div class="col-md-12">
                  <div id="response"></div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="register('#formcrud')">Solicitar</button>
      </div>
    </div>
  </div>
</div>