<style>
  .input-flex input {
    max-width: 500px !important;
}
.input-flex input {
    color: #fff;
    font-size: 22px;
    height: 100px !important;
    background-color: #0a3455;
    border-color: #607e93 !important;
    max-width: 500px !important;
    width: 100% !important;
    padding-left: 30px;
}
.container-select-video {
    display: flex;
    justify-content: flex-start;
}
</style>
<main id="mainContent" class="container-categoria container-dica-indicacao">
      <section class="dica-indicacao-banner">
				<div class="banner-topo">
					<div>
						<span class="shape-down"></span>
						<h2>Dicas e Indicações</h2>
					</div>
				</div>
		</section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="p-dica">
          Abaixo, você vai encontrar as melhores indicações em diversos segmentos. <br>
          Dicas seguras, testadas e aprovadas por YPOers para YPOers. <br>
          Deixe também as suas. Boas indicações são sempre bem-vindas!
        </p>
      </div>
      <div class="col-lg-12">
        <?php echo $this->view->adds->breadcrumb; ?>
      </div>
        <div class="col-md-4">
        <?php $this->includepage("Ypo.Institucional.Includes.Dicas.dica-menu")?>
        </div>
          <div class="col-md-8 container-dica-indicacao-itens">
            <div class="row">
              <div class="col-lg-6">
                <?php if($this->view->adds->mostrarSubCategoria){ ?>
                  <section>
                    <div class="container container-select-video">
                      <div class="row">
                        <div class="col-md-12 box-select-video mb-2">
                          <select class="mr-0" name="mostrar" id="mostrar">
                            <option hide value=""> Sub-Categoria: </option>
                            <?php foreach($this->view->adds->subscategoria as $value){ 
                              echo '<option onclick="window.location=\''.$value->url.'\'" '.($value->idcategory == $_GET['categoria'] ? 'selected' : '').' value="'.$value->idcategory.'">'.$value->title.'</option>';
                            } ?>
                          </select>
                        </div>
                      </div>
                    </div>
                  </section>
                <?php } ?>
              </div>
                <div class="col-lg-6">
                  <a href="/dicas/create" style="margin:35px 0px 60px; background-color:#073050; color:#fff" class="btn btn-min-width mr-1 mb-1 pull-right">Criar Dica</a>
                </div>
            </div>
            <div style="padding-left: 15px;" class="row ">
              <?php foreach($this->view->adds->list as $list){ ?>
              <div id="dica<?php echo $list->iddica; ?>" class="col-md-12 dica-indicacao-item">
                <h2 class="t1-dica">
                  <?php echo !strlen($list->nome) ? $list->empresa : $list->nome; ?><br>
                  <small style="font-size: 20px"><?php echo $list->subcategoria; ?></small>
                </h2>
                <p class="p-texto-dica">
                  <?php echo $list->texto; ?>
                </p>
                <div class="dica-contato">
                  <div class="tel-dica <?php echo !strlen($list->whatsapp) ? 'd-none' : ''; ?>">
                    <span class="t2-dica">Tel/WhatsApp</span>
                    <span class="info-dica"><?php echo $list->whatsapp; ?></span>
                  </div>
                  <div class="email-dica <?php echo !strlen($list->emailContato) ? 'd-none' : ''; ?>">
                    <span class="t2-dica">E-mail</span>
                    <span onclick="window.location='mailto:<?php echo $list->emailContato; ?>'" style="cursor:pointer" class="info-dica"><?php echo $list->emailContato; ?></span>
                  </div>
                  <div class="site-dica <?php echo !strlen($list->site) ? 'd-none' : ''; ?>">
                    <span class="t2-dica">Site</span>
                    <span onclick="window.open('<?php echo $list->site; ?>', '_blank')" style="cursor:pointer" class="info-dica"><?php echo $list->site; ?></span>
                  </div>
                </div>
                <div class="dica-contato">
                  <div class="tel-dica <?php echo !strlen($list->endereco) ? 'd-none' : ''; ?>">
                    <span class="t2-dica">Endereço</span>
                    <span class="info-dica"><?php echo $list->endereco; ?></span>
                  </div>
                </div>
              </div>
              <?php }; ?>
              <div class="col-md-12 d-none">
                <div class="page-nav">
                  <a href="#" class="page-nav__btn page-nav__left">
                    <i class="btn__icon">
                      <i class="fas fa-chevron-left"></i>
                    </i>
                    <span class="btn__text">ANT</span>
                  </a>
                  <ul class="page-nav__list">
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                  </ul>
                  <a href="#" class="page-nav__btn page-nav__right">
                    <span class="btn__text">PROX</span>
                    <i class="btn__icon">
                      <i class="fas fa-chevron-right"></i>
                    </i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <section class="container-dica-form">
        <div class="row box-form-dica">
          <div class="col-md-12 box-form-dica-t1">
            <h2 class="t1-form-dica">Deixa sua dica ou indicação</h2>
          </div>
            <div class="col-md-12 ">
            <form class="contact-form form-default form-dica" id="contactform" method="post" action="/enviar-dica">
                <div class="box-dicas">	
                  <div class="form-group">
                    <div class="wrapper-select-for-title">
                      <label class="placeholder-label">SEGMENTO</label>
                      <select required title="Segmento" name="idcategory" class="js-init-select select-custom-02">
                        <option value="">selecione uma opção</option>
                        <?php foreach($this->view->adds->categorias as $categoria){ ?>
                          <option value="<?php echo $categoria->idcategory; ?>"><?php echo $categoria->title; ?></option>
                        <?php }; ?>
                      </select>
                    </div>
                  </div>
                  <div class="input-flex">
                  <input required title="Cidade" style="margin: unset;" name="cidade" type="text" placeholder="Cidade">	
                  </div>	
                </div>
                <div class="input-flex">
                  <input required title="Nome/Titulo" type="text" name="nome" placeholder="Nome/Título">
                  <input required title="E-mail" type="email" name="emailContato" placeholder="E-mail">
                </div>
                <div class="input-flex">
                  <div>
                    <input type="tel" title="Tel/Whatapp"  name="whatsapp" placeholder="Tel/Whatapp">
                    <input type="text" title="Site"  name="site" placeholder="Site">
                  </div>
                  <textarea name="texto" title="Descrição" id="" cols="4" rows="3" placeholder="Descrição"></textarea>
                </div>
                <div class="box-form-dica-btn-submit mb-5">
                  <button class="form-dica-btn-submit" onclick="register('#contactform')" type="button">enviar</button>
                </div>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
              </form>            
            </div>
        </div>
    </section>
</main>