

<main id="mainContent" class="">
  <div class="container-parcerias-detalhe">
    <div class="container box-parcerias-detalhe">
      <div class="box-parcerias-img">
        <img src="<?php echo $this->view->adds->parceiro->banner; ?>" alt="">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box-parcerias-title">
            <img style="width:240px;height: 240px;" src="<?php echo $this->view->adds->parceiro->logo; ?>" alt="">
            <h2><?php echo $this->view->adds->parceiro->nome; ?></h2>
          </div>
          <div class="col-md-12">
            <div class="box-parcerias-text">
                <p><?php echo $this->view->adds->parceiro->texto; ?></p>
            </div>
          </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12">
          <div class="box-parcerias-list">
            <div class="list-title">
              <h2>Descontos e Benefícios</h2>
            </div>
            <ul>
                <?php foreach($this->view->adds->parceiro->arrayDescontos as $desconto){ ?>
                    <li><?php echo $desconto; ?></li>
                <?php } ?>
            </ul>
          </div>
        </div>
        <div class="col-md-12">
          <div class="container-parcerias-img-small">
            <div class="row box-parcerias-img-small">
                <?php foreach($this->view->adds->parceiro->arrayImages as $imagem){ ?>    
                    <div class="col-md-3">
                        <div class="box-parcerias-small-img">
                            <img src="<?php echo $imagem; ?>" alt="">
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12 container-parcerias-info">
          <div class="row ">
              <div class="<?php echo !strlen($this->view->adds->parceiro->telefone) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Telefone</span>
                <span class="info2"><?php echo $this->view->adds->parceiro->telefone; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->parceiro->whatsapp) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">WhatsApp</span>
                <span class="info2"><?php echo '<a target="_blank" href="https://api.whatsapp.com/send?phone=55'.preg_replace("/[^0-9]/", "", $this->view->adds->parceiro->whatsapp).'&text=Olá">'.$this->view->adds->parceiro->whatsapp.'</a>'; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->parceiro->emailContato) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">E-mail</span>
                <span style="cursor:pointer" onclick="window.location='mailto:<?php echo $this->view->adds->parceiro->emailContato; ?>'" class="info2"><?php echo $this->view->adds->parceiro->emailContato; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->parceiro->site) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Site</span>
                <span style="cursor:pointer" onclick="window.open('http:\/\/<?php echo $this->view->adds->parceiro->site; ?>', '_blank')" class="info2"><?php echo $this->view->adds->parceiro->site; ?></span>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>