<!DOCTYPE html>
<html lang="en">
<head>
    <?php $this->loadPage('head');?>
    <style>
        /* cores do painel */
        body.vertical-layout[data-color="bg-gradient-x-purple-blue"] .navbar-container, body.vertical-layout[data-color="bg-gradient-x-purple-blue"] .content-wrapper-before {
            background-color: <?php echo $this->view->info->datasite->admincolor ?>;
            background-image: none;
        }
        .main-menu.menu-dark .navigation > li.hover > a, .main-menu.menu-dark .navigation > li:hover > a, .main-menu.menu-dark .navigation > li.active > a {
            color: <?php echo $this->view->info->datasite->admincolor ?>;
        }
        body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-dark .navigation .hover > a > i, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-dark .navigation:hover > a > i, body.vertical-layout.vertical-menu.menu-expanded .main-menu.menu-dark .navigation .open > a > i {
            -webkit-box-shadow: 0px 0px 20px rgba(112, 167, 24, 0.3);
            box-shadow: 0px 0px 20px rgba(112, 167, 24, 0.3);
        }
        .main-menu.menu-dark .navigation > li.open > a {
            color: <?php echo $this->view->info->datasite->admincolor ?>;
        }
        .main-menu.menu-dark .navigation > li.open .hover > a::before {
            background-color: <?php echo $this->view->info->datasite->admincolor ?>;
            border-color: <?php echo $this->view->info->datasite->admincolor ?>;
        }
        .bold{
            font-weight: 900;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <?php $this->loadPage('menu');?>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <?php
        if ($this->view->pagelink != 'sistema') {
            $this->loadPage('breadcrumb');
        }
    ?>
    <?php $this->content();?>
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<?php $this->loadPage('footer');?>
<?php $this->loadPage('scripts');?>
<?php $this->loadPage('modal')?>
</body>
</html>
