<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <?php $this->loadPage('head');?>
    <!-- END: Page CSS-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu 1-column blank-page blank-page bg-login" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="1-column">
    <!-- BEGIN: Content-->
    <?php echo $this->content(); ?>
    <!-- END: Content-->
    <?php $this->loadPage('scripts')?>
</body>
<!-- END: Body-->

</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <?php $this->loadPage('head');?>
</head>
<body class="hold-transition login-page">
<!-- BEGIN: Content-->
<?php echo $this->content(); ?>
<!-- END: Content-->


<?php $this->loadPage('scripts')?>
</body>
</html>
