<div class="col-md-12">
    <h2 class="form-t1"><?php echo $this->titulo_pagina ?></h2>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) {?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php }?>
                </div>

                <form autocomplete="off" id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Usuário">Capitulo</label>
                                <select class="form-control round" name="capitulo" id="capitulo">
                                    <option value="">Selecione</option>
                                    <?php foreach ($this->view->adds->capitulos as $g) {?>
                                        <option  value="<?=$g->capitulo?>"><?=$g->capitulo?></option>
                                    <?php }?>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="Nome Fantasia">Usuário</label>
                            <input list="usuarios" data-id="" placeholder="Usuário" name="usuario" class="form-control" id="usuario">
                            <datalist id="usuarios">
                                <?php foreach ($this->view->adds->usuarios as $g) {?>
                                    <option value="<?php echo $g->name; ?>">
                                <?php }?>
                            </datalist>
                        </div>
                        <div class="col-lg-6">
                            <label for="Spouse">Spouse</label>
                            <input placeholder="Spouse" list="spouses" name="idspouse" class="inputlist" id="idspouse">
                            <datalist id="spouses">
                                <?php foreach ($this->view->adds->spouses as $g) {?>
                                    <option value="<?php echo $g->nome; ?>">
                                <?php }?>
                            </datalist>
                        </div>
                        <div class="col-lg-6">
                            <label for="Nome Fantasia">Cargo</label>
                            <input list="cargos" name="cargo" placeholder="Cargo" class="form-control" id="cargo">
                            <datalist id="cargos">
                                <?php foreach ($this->view->adds->cargos as $g) {?>
                                    <option value="<?php echo $g->cargo; ?>"><?php echo $g->cargo; ?></option>
                                <?php }?>
                            </datalist>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="Nome Fantasia">Nome Fantasia</label>
                                <input type="text" required id="fantasia" name="fantasia" title="Nome Fantasia" value="<?php echo $this->view->obj->fantasia ?>" class="form-control round" placeholder="Nome Fantasia completo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Ordem">Ordem</label>
                                <input type="number" required id="ordem" name="ordem" title="Ordem" value="<?php echo $this->view->obj->ordem ?>" class="form-control round" placeholder="Ordem">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input style="display:none" type="file" name="imagem" data-id="" class="inputlist" id="imagem">
                                <button type="button" title="Enviar foto" onclick="clickFile()" style="border:none; background:none" class="text-info"><i class="fa fa-upload"></i> Enviar Foto</button>
                                <div id="imagemPreview"></div>
                            </div>
                        </div>
                    </div>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idspouse ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="save()" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        function save(){
            let usuario  = $('#iduser').val();
            let spouse   = $('#idspouse').val();
            let fantasia = $('#fantasia').val();
            let cargo    = $('#cargo').val();
            let capitulo = $('#capitulo').val();
            let ordem    = $('#ordem').val();

            var fd = new FormData();
            var files = $('#imagem')[0].files;

            fd.append('usuario',usuario);
            fd.append('spouse',spouse);
            fd.append('fantasia',fantasia);
            fd.append('cargo',cargo);
            fd.append('ordem',ordem);
            fd.append('capitulo',capitulo);
            fd.append('imagem',files[0]);

            $.ajax({
                url: '/cadastro-diretoria/create',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(response){
                    if(response['response']['imagem']){
                        $('#imagemPreview').html('');
                        $('#imagemPreview').html(`
                            <a title="Ver foto" href="${response['response']['imagem']}" target="_blank"><i class="fa fa-image"></i></a>
                        `);
                    }
                    alertmsg(response['response']['mensagem'], response['response']['classe'])
                },
            });
        }

function clickFile(){
    $("#imagem").click();
}
</script>