
<style>
.inputlist{
    height: 30px !important;
}
.notificacao{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2 class="form-t1">
                    Diretoria
                </h2>
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) { ?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <a href="<?php echo $this->view->url ?>/create" class="btn btn-min-width mr-1 mb-1">Adicionar novo</a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="Usuário">Capitulo</label>
                                        <select onchange="window.location='<?php echo $this->view->url ?>/index?capitulo='+$(this).val()" class="form-control round" name="capitulo" id="capitulo">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->capitulos as $g) {?>
                                                <option <?=((isset($_GET['capitulo']) && $g->capitulo == $_GET['capitulo']) ? "selected" : "");?> value="<?=$g->capitulo?>"><?=$g->capitulo?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Ordem do capitulo">Ordem do capitulo</label>
                                        <input type="number" id="ordemCapitulo" value="<?php echo $this->view->adds->ordemCapitulo; ?>" name="ordemCapitulo" title="Ordem do capitulo" value="" class="form-control round" placeholder="Ordem do capitulo">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-success" onclick="salvarOrdemCapitulo()">Salvar ordem</button>
                                </div>
                                <div class="notificacao" id="responsecapitulo"></div>
                            </div>
                            <div class="">
                                <table class="table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Usuário</th>
                                            <th>Nome Fantasia</th>
                                            <th>Cargo</th>
                                            <th>Ordem</th>
                                            <th>Foto</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) { ?>
                                            <tr>
                                                <td>
                                                    <input placeholder="Usuário" list="usuarios<?php echo $a->iddiretoria; ?>" data-id="<?php echo $a->iddiretoria; ?>" name="iduser<?php echo $a->iddiretoria; ?>" value="<?php echo isset($a->usuario->name) ? $a->usuario->name : ''; ?>" class="inputlist" id="iduser<?php echo $a->iddiretoria; ?>">
                                                    <datalist id="usuarios<?php echo $a->iddiretoria; ?>">
                                                        <?php foreach ($this->view->adds->usuarios as $g) {?>
                                                            <option value="<?php echo $g->name; ?>">
                                                        <?php }?>
                                                    </datalist>
                                                    <input placeholder="Spouse" list="spouses<?php echo $a->iddiretoria; ?>" data-id="<?php echo $a->iddiretoria; ?>" name="idspouse<?php echo $a->iddiretoria; ?>" value="<?php echo isset($a->spouse->nome) ? $a->spouse->nome : ''; ?>" class="inputlist" id="idspouse<?php echo $a->iddiretoria; ?>">
                                                    <datalist id="spouses<?php echo $a->iddiretoria; ?>">
                                                        <?php foreach ($this->view->adds->spouses as $g) {?>
                                                            <option value="<?php echo $g->nome; ?>">
                                                        <?php }?>
                                                    </datalist>
                                                    <div class="notificacao" id="response<?php echo $a->iddiretoria; ?>"></div>
                                                </td>
                                                <td><input name="fantasia<?php echo $a->iddiretoria; ?>" data-id="<?php echo $a->iddiretoria; ?>" value="<?php echo $a->fantasia; ?>" class="inputlist" id="fantasia<?php echo $a->iddiretoria; ?>"></td>
                                                <td>
                                                    <input list="cargos<?php echo $a->iddiretoria; ?>" data-id="<?php echo $a->iddiretoria; ?>" name="cargo<?php echo $a->iddiretoria; ?>" value="<?php echo $a->cargo; ?>" class="inputlist" id="cargo<?php echo $a->iddiretoria; ?>">
                                                    <datalist id="cargos<?php echo $a->iddiretoria; ?>">
                                                        <?php foreach ($this->view->adds->cargos as $g) {?>
                                                            <option value="<?php echo $g->cargo; ?>"><?php echo $g->cargo; ?></option>
                                                        <?php }?>
                                                    </datalist>
                                                </td>
                                                <td><input type="number" name="ordem<?php echo $a->iddiretoria; ?>" data-id="<?php echo $a->iddiretoria; ?>" value="<?php echo $a->ordemDiretoria; ?>" class="inputlist" id="ordem<?php echo $a->iddiretoria; ?>"></td>
                                                <td style="display:inline-flex">
                                                    <input style="display:none" type="file" onchange="save(<?php echo $a->iddiretoria; ?>)" name="imagem<?php echo $a->iddiretoria; ?>" data-id="<?php echo $a->iddiretoria; ?>" class="inputlist" id="imagem<?php echo $a->iddiretoria; ?>">
                                                    <button type="button" title="Enviar foto" onclick="clickFile(<?php echo $a->iddiretoria; ?>)" style="border:none; background:none" class="text-info"><i class="fa fa-upload"></i></button>
                                                    <div id="imagemPreview<?php echo $a->iddiretoria; ?>">
                                                        <?php 
                                                            if(strlen($a->imagem)){
                                                                echo '<a title="Ver foto" class="btn-link" target="_blank" href="'.$a->imagem.'"><i class="fa fa-image"></i></a>';
                                                            }
                                                        ?>
                                                    </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="#." onclick="save(<?php echo $a->iddiretoria; ?>)" class="text-success">
                                                                <i class="fa fa-save"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->iddiretoria ?>', '<?php echo $a->fantasia ?>')" href="#." class="text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Usuário</th>
                                            <th>Nome Fantasia</th>
                                            <th>Cargo</th>
                                            <th>Ordem</th>
                                            <th>Foto</th>
                                            <th>Ação</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>

    <script>
        function salvarOrdemCapitulo(){
            let ordemCapitulo = $('#ordemCapitulo').val();
            let capitulo      = $('#capitulo').val();

            var fd = new FormData();

            fd.append('ordemCapitulo',ordemCapitulo);
            fd.append('capitulo',capitulo);

            $.ajax({
                url: '/cadastro-diretoria/atualizarOrdemCapitulo',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(response){
                    alertmsg2(response['response']['mensagem'], response['response']['classe'], 'capitulo')
                },
            });
        }

        function save(idDiretor){
            let usuario  = $('#iduser'+idDiretor).val();
            let spouse   = $('#idspouse'+idDiretor).val();
            let fantasia = $('#fantasia'+idDiretor).val();
            let cargo    = $('#cargo'+idDiretor).val();
            let ordem    = $('#ordem'+idDiretor).val();
            let capitulo = $('#capitulo').val();

            var fd = new FormData();
            var files = $('#imagem'+idDiretor)[0].files;

            fd.append('usuario',usuario);
            fd.append('spouse',spouse);
            fd.append('fantasia',fantasia);
            fd.append('cargo',cargo);
            fd.append('ordem',ordem);
            fd.append('id',idDiretor);
            fd.append('capitulo',capitulo);
            fd.append('imagem',files[0]);

            $.ajax({
                url: '/cadastro-diretoria/update/'+idDiretor,
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(response){
                    if(response['response']['imagem']){
                        $('#imagemPreview'+idDiretor).html('');
                        $('#imagemPreview'+idDiretor).html(`
                            <a title="Ver foto" href="${response['response']['imagem']}" target="_blank"><i class="fa fa-image"></i></a>
                        `);
                    }
                    alertmsg2(response['response']['mensagem'], response['response']['classe'], idDiretor)
                },
            });
        }

        function alertmsg2(msg, classe, id) {
            $('#status_response').addClass('d-none');
            $('#response'+id).html('<div class="alert-dismissible fade show p-2" role="alert">' + msg + '</div>');
            $('#response'+id).removeClass('alert alert-danger');
            $('#response'+id).removeClass('alert alert-success');
            $('#response'+id).addClass('alert ' + classe);
            $("#response"+id).slideDown();
            setTimeout(function () {
                $("#response"+id).slideUp();
            }, 4000);
        }

        function clickFile(idDiretoria){
            $("#imagem"+idDiretoria).click();
        }
        $('.inputlist').keypress(function(event){
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == '13'){
                save($(this).attr('data-id'));  
            }
            if(keycode == 9){
                save($(this).attr('data-id'));  
            }
        });
    </script>