<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Titulo">Titulo</label>
                                <input type="text" required  name="title" title="Titulo" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Titulo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Endereço (Rua n°, bairro)">Endereço (Rua n°, bairro)</label>
                                <input type="text" required  name="address" title="Endereço (Rua n°, bairro)" value="<?php echo $this->view->obj->address ?>" class="form-control round" placeholder="Endereço (Rua n°, bairro)">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Telefone Fixo">Telefone Fixo</label>
                                <input type="text"  name="phone" title="Telefone Fixo" value="<?php echo $this->view->obj->phone ?>" class="form-control round" data-inputmask='"mask": "(99) 9999-9999"' data-mask placeholder="Telefone Fixo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Celular</label>
                                <input type="text"  name="mobilephone" title="Celular" value="<?php echo $this->view->obj->mobilephone ?>" class="form-control round" data-inputmask='"mask": "(99) 99999-9999"' data-mask placeholder="Celular">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="E-mail">E-mail</label>
                                <input type="email"  name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="E-mail">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="País">País</label>
                                <input type="text"  name="country" title="País" value="<?php echo $this->view->obj->country ?>" class="form-control round" placeholder="País">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <select name="state"  title="Estado" class="form-control" style="width: 100%;">
                                    <?php foreach($this->view->adds->ufs as $uf){ ?>
                                        <option <?php echo $uf->sigla == $this->view->obj->state ? 'selected' : '' ?> value="<?php echo $uf->sigla ?>"><?php echo $uf->nome ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Cidade">Cidade</label>
                                <input type="text"  name="city" title="Celular" value="<?php echo $this->view->obj->city ?>" class="form-control round" placeholder="Cidade">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Cep">Cep</label>
                                <input type="text"  name="cep" title="Cep" value="<?php echo $this->view->obj->cep ?>" class="form-control round" data-inputmask='"mask": "99999-999"' data-mask placeholder="Cep">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Ordem">Ordem</label>
                                <input type="number" required  name="ordem" title="Ordem" value="<?php echo $this->view->obj->ordem ?>" class="form-control round" placeholder="Ordem">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                <label for="Imagem">Imagem</label>
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="uploadgeneric('formcrud', 'image', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="fileimage" id="fileimage" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimage" src="<?php echo $this->view->obj->image <> '' ? $this->view->obj->image : '' ?>" style="height: 100px">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idunit ?>">
                    <input type="hidden" name="image" value="<?php echo $this->view->obj->image ?>" id="image">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>