
<div class="menu-categoria categoria-principal classificados menu-dica">
  <div class="box-menu-categoria box-menu-classificados">
    <div class="menuCategoria">
      <h2 class="menu-categoria-t1">
        Categorias
      </h2>
      <ul>
        <?php foreach($this->view->adds->categorias as $categoria){ ?>
          <li><a href="<?php echo $categoria->url; ?>#listagem"><?php echo $categoria->title; ?></a> <span class="qtd"><?php echo $categoria->classificados->where('ativo', 's')->count(); ?></span></li>
        <?php }; ?>
        <form>
        <ul class="list-inputs mt-4">
          <li class="t1-cidade"><span class="shape-rigth"></span>Finalidade</li>
          <li>
            <input type="checkbox" value="aluguel" <?php echo $this->view->adds->checkTipo['aluguel']; ?> name="tipo[]" id="check"> <label style="color:#3d5463" for="check">Quero alugar</label>
          </li>
          <li>
            <input type="checkbox" value="venda" <?php echo $this->view->adds->checkTipo['venda']; ?> name="tipo[]" id="check1"> <label style="color:#3d5463" for="check1">Quero comprar</label>
          </li>
        </ul>
          <ul class="input-valor mt-4">
            <li class="t1-cidade"><span class="shape-rigth"></span>Valor</li>
            <div class="main">
              <div id="slider-range"></div>
              <div class="valores">
                <input type="text" name="min" data-valor="<?php echo $this->view->adds->valor['min']; ?>" id="amountMin" readonly>
                <input type="text" name="max" data-valor="<?php echo $this->view->adds->valor['max']; ?>" data-value="<?php echo $this->view->adds->maxValue; ?>" id="amountMax" readonly>
              </div>
            </div>
          </ul>
          <ul class="list-inputs d-none">
            <li class="t1-cidade"><span class="shape-rigth"></span>Cidade</li>
            <?php foreach($this->view->adds->cidades as $key => $cidade){ ?>
              <li>
                <input <?php echo (isset($cidade->check) ? $cidade->check : ''); ?> type="checkbox" value="<?php echo $cidade->cidade; ?>" name="cidade[]" id="city<?php echo $key?>"> <label style="color:#3d5463" for="city<?php echo $key?>"><?php echo $cidade->city; ?></label>
              </li>
            <?php }; ?>
          </ul>
        </ul>
        <div class="box-btn">
          <button type="submit" class="btnFiltrar">Filtrar</button> <button onclick="window.location.href='/classificados'" type="button" class="btnLimpar">Limpar Tudo</button>
        </div>
      </form>
    </div>
</div>  
</div>    