
<!-- end Header -->
<main id="mainContent">
	<div class="">
		<!-- start section -->
		<section class="videoTeca-banner">
				<div class="banner-topo">
					<div>
						<span class="shape-down"></span>
						<h2>Videoteca</h2>
					</div>
				</div>
		</section>
		<section>
			<div class="container container-select-video">
				<div class="row">
					<div class="col-md-12 box-select-video">
						<select onchange="window.location=$(this).val()" name="categoria" id="categoria">
							<option hide value=""> Classificar por:</option>
							<?php foreach($this->view->adds->categorias as $categoria){ ?>
								<option value="<?php echo $categoria->url; ?>"><?php echo $categoria->title; ?></option>
							<?php }; ?>
						</select>
						<select class="d-none" name="mostrar" id="mostrar">
							<option hide value=""> Mostrar: </option>
							<option <?php echo (isset($_GET['mostrar']) && $_GET['mostrar'] == '20') ? 'selected' : ''; ?> value="20">20 Registros</option>
							<option <?php echo (isset($_GET['mostrar']) && $_GET['mostrar'] == '30') ? 'selected' : ''; ?> value="30">30 Registros</option>
							<option <?php echo (isset($_GET['mostrar']) && $_GET['mostrar'] == '40') ? 'selected' : ''; ?> value="40">40 Registros</option>
							<option <?php echo (isset($_GET['mostrar']) && $_GET['mostrar'] == '50') ? 'selected' : ''; ?> value="50">50 Registros</option>
						</select>
					</div>
				</div>
			</div>
		</section>
		<!-- end section -->
		<!-- start section -->
		<section class="">
			<div class="container">
				<div class="list-videoblock">
					<div class="row">
						<?php foreach($this->view->adds->listagem as $value){ ?>
							<div class="col-sm-6">
								<a href="<?php echo $value->url; ?>" class="videoblock">
									<div class="videoblock__img">
										<img src="<?php echo $value->imagem; ?>" alt="">
										<div class="videoblock__icon"></div>
									</div>
									<div class="videoblock__description">
										<h2 class="videoblock__title">
											<?php echo $value->titulo; ?>
										</h2>
									</div>
								</a>
							</div>
						<?php } ?>
					</div>
				</div>
				<div class="row ">
					<div class="col-md-12">
						<div class="page-nav">
						<ul class="page-nav__list">
							<?php if($this->view->adds->paginacao > 1){
								$pageAnt = str_replace('%7Bpage%7D', ($this->view->adds->paginacao-1),$this->view->adds->urlPagination);
								?>
									<li>
										<a href="/<?php echo $pageAnt ?>" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
									</li>
								<?php } ?>
								<?php

								$pags = ceil($this->view->adds->total/$this->view->adds->limit);

								for($i = $this->view->adds->paginacao; $i < $this->view->adds->paginacao + $this->view->adds->max_links; $i++) {
									if ($i <= $pags){ 
									$page = str_replace('%7Bpage%7D', $i, $this->view->adds->urlPagination);
									?>
										<li class="<?php if($this->view->adds->paginacao == $i){echo 'active';} ?>"><a <?php if($this->view->adds->paginacao == $i){?> href="#" <?php }else{ ?>href="/<?php echo $page ?>"<?php } ?>><?php echo $i ?></a></li>
								<?php }
								} ?>

								<?php
								if(($this->view->adds->paginacao+1) < $pags){ 
								$pageProx = str_replace('%7Bpage%7D', ($this->view->adds->paginacao+1),$this->view->adds->urlPagination);
								?>
									<li><a href="<?php echo $pageProx ?>"><i class="fas fa-chevron-right"></i></a></li>
								<?php }?>
						</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end section -->
	</div>
</main>