<style>
.d-none{
    display:none;
}
</style>
<!-- end Header -->
<main id="mainContent">
	<div class="container-detalhe-videoTeca">
		<!-- start section -->
		<section class="section section__indent-13">
			<div class="container">
				<a href="<?php echo $this->view->adds->videoteca->video; ?>" class="videolink video-popup no-shadow">
					<div class="videolink__icon"></div>
					<img src="<?php echo $this->view->adds->videoteca->imagem; ?>" alt="">
				</a>
				<div class="row indent-top">
					<div class="col-lg-5 col-xl-4">
						<div class="box-table-01">
							<table>
								<tbody>
									<tr>
										<td>Cetegoria:</td>
										<td><?php echo $this->view->adds->videoteca->categoria->title; ?></td>
									</tr>
									<tr>
										<td>Webinar:</td>
										<td><?php echo $this->view->adds->videoteca->webinar; ?></td>
									</tr>
									<tr>
										<td>Data:</td>
										<td><?php echo date('d/m/Y', strtotime($this->view->adds->videoteca->data)); ?></td>
									</tr>
									<!--<tr>
										<td>URL:</td>
										<td><a href="http://<?php echo $this->view->adds->videoteca->site; ?>" target="_blank"><?php echo $this->view->adds->videoteca->site; ?></a></td>
									</tr>-->
								</tbody>
							</table>
						</div>
					</div>
					<div class="divider divider__lg d-block d-xl-none d-lg-none"></div>
					<div class="col-lg-6 box-texto-videoteca-detalhe">
						<div class="section-heading">
							<h4 class="title"><?php echo $this->view->adds->videoteca->titulo; ?></h4>
						</div>
						<?php echo $this->view->adds->videoteca->texto; ?>
					</div>
				</div>

			</div>
		</section>
		<!-- end section -->
	</div>
	<div class="container-detalhe-videoTeca-relacionados <?php echo count($this->view->adds->listagem) == 0 ? 'd-none' : ''; ?>">
		<div class="relacionados-t1 container">
			<div class="t1">
				<span class="shape-right">
				</span>
				<h2>Vídeos relacionados</h2>
			</div>
			<div class="verTodos">
				<i class="fas fa-chevron-right"></i><a href="/videoteca">Ver todos</a>
			</div>
		</div>
		<div class="list-videoblock container">
			<div class="row">
                <?php foreach($this->view->adds->listagem as $value){ ?>
                    <div class="col-sm-6">
                        <a href="<?php echo $value->url; ?>" class="videoblock">
                            <div class="videoblock__img">
                                <img src="<?php echo $value->imagem; ?>" alt="">
                                <div class="videoblock__icon"></div>
                            </div>
                            <div class="videoblock__description">
                                <h2 class="videoblock__title">
                                    <?php echo $value->titulo; ?>
                                </h2>
                            </div>
                        </a>
                    </div>
                <?php } ?>
				<div class="col-sm-12">
					<div class="page-nav-img">
                        <?php 
                        $icon = 'fas fa-chevron-left';
                        $text = 'Anterior';
                        foreach($this->view->adds->listagem as $value){ ?>
                            <a href="<?php echo $value->url; ?>" class="page-nav-img__btn btn-prev box-icon">
                                <span class="wrapper-img"></span>
                                <i class="<?php echo $icon; ?>"></i>
                                <span class="btn__text"><?php echo $text; ?></span>
                            </a>
                        <?php 
                        $icon = 'fas fa-chevron-right';
                        $text = 'Próximo';} ?>
					</div>
				</div>
			</div>
		
		</div>

	</div>
</main>