<!DOCTYPE html>
<html>
<head>
	<?php $this->includepage("Ypo.Institucional.Includes.Turismo.head")?>
</head>
<body>
	<!-- start Header -->
	<header id="top-bar">
		<?php $this->includepage('Ypo.Institucional.Includes.Turismo.menu');?>
	</header>
    <?php $this->content(); ?>
	<?php $this->includepage("Ypo.Institucional.Includes.Turismo.footer")?>
	<?php $this->includepage("Ypo.Institucional.Includes.Turismo.scripts")?>
</body>
</html>