<!DOCTYPE html>
<html>
<head>
	<?php $this->includepage("Ypo.Includes.head")?>
    <link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/categoria.css">
	<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/videoTeca.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" />
    <style>
        .breadcrumb li a {
            font-size: 17px;
            color: #073050;
            font-weight: 600;
            text-decoration: none;
        }
        .breadcrumb li a:hover {
            text-decoration: underline;
        }
        .container-parcerias-detalhe {
            padding: 50px 0px 80px;
            background-color: #f1f4f6;
        }
#top-bar__navigation > ul > li.is-submenu > a span::after {
    border-top: 4px solid #dcaa1e !important;
}
#top-bar__navigation > ul > li ul {
    background-color: #dcaa1e;
}
.box-search {
    border-left: 1px solid #dcaa1e;
    background: #dcaa1e;
    color: #fff;
}
.boxBusca {
    z-index: 1;
}
    </style>
</head>
<body>
	<!-- start Header -->
	<header id="top-bar">
		<?php $this->includepage("Ypo.Includes.menu")?>
	</header>
    <?php $this->content(); ?>
	<?php $this->includepage("Ypo.Includes.footer")?>

	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<?php $this->includepage("Ypo.Includes.scripts")?>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous"></script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
</body>
</html>