<!DOCTYPE html>
<html>
<head>
	<?php $this->includepage("Ypo.Includes.head")?>
    <link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/categoria.css">
	<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/videoTeca.css">
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<style>
.pagination  .active{
	background-color: unset !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: unset;
}

select{
	height: 65px !important;
}

label {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    color: #898989;
}
form#formcrud::placeholder {
    text-indent: 20px !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    color: #898989 !important;
}

.note-editor .btn{
	height: auto;
	background-color: transparent;
	color:#073050;
}

.menu-classificados-t1, .menu-retreats-t1, .menu-dicas-t1, .dados-t1 {
    padding-bottom: 0px;
}
.box-menu-categoria ul li {
    padding: 10px 25px 10px 55px;
}
#top-bar__navigation > ul > li.is-submenu > a span::after {
    border-top: 4px solid #dcaa1e !important;
}
#top-bar__navigation > ul > li ul {
    background-color: #dcaa1e;
}
.box-search {
    border-left: 1px solid #dcaa1e;
    background: #dcaa1e;
    color: #fff;
}
select[readonly] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}
</style>
<!-- DataTables -->
<script src="/templates/sistema/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/templates/sistema/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/templates/sistema/AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/templates/sistema/AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<script>
function moeda(a, e, r, t) {
    let n = ""
      , h = j = 0
      , u = tamanho2 = 0
      , l = ajd2 = ""
      , o = window.Event ? t.which : t.keyCode;
    if (13 == o || 8 == o)
        return !0;
    if (n = String.fromCharCode(o),
    -1 == "0123456789".indexOf(n))
        return !1;
    for (u = a.value.length,
    h = 0; h < u && ("0" == a.value.charAt(h) || a.value.charAt(h) == r); h++)
        ;
    for (l = ""; h < u; h++)
        -1 != "0123456789".indexOf(a.value.charAt(h)) && (l += a.value.charAt(h));
    if (l += n,
    0 == (u = l.length) && (a.value = ""),
    1 == u && (a.value = "0" + r + "0" + l),
    2 == u && (a.value = "0" + r + l),
    u > 2) {
        for (ajd2 = "",
        j = 0,
        h = u - 3; h >= 0; h--)
            3 == j && (ajd2 += e,
            j = 0),
            ajd2 += l.charAt(h),
            j++;
        for (a.value = "",
        tamanho2 = ajd2.length,
        h = tamanho2 - 1; h >= 0; h--)
            a.value += ajd2.charAt(h);
        a.value += r + l.substr(u - 2, u)
    }
    return !1
}
$(function () {
    table = $('table').DataTable({
      "paging": true,
      "lengthChange": false,
      "pageLength": 50,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": false,
      "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json"
        }
    });
});
</script>
</head>
<body>
	<!-- start Header -->
	<header id="top-bar">
		<?php $this->includepage("Ypo.Includes.menu")?>
	</header>
	
	<main id="mainContent" class="container-categoria-cadastro">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<?php $this->includepage("Ypo.Includes.sidebar")?>
				</div>
				<div class="col-md-8">
					<?php $this->content(); ?>
				</div>
			</div>
		</div>
	</main>
	<?php $this->includepage("Ypo.Includes.footer")?>
	<?php $this->includepage("Ypo.Includes.scripts")?>
</body>
</html>