
<div class="menu-categoria categoria-principal dica menu-dica">
  <div class="box-menu-categoria box-menu-dica">
    <div class="menuCategoria">
      <h2 class="menu-categoria-t1">
        Categorias
      </h2>
      <ul>
        <?php foreach($this->view->adds->categorias as $categoria){ ?>
          <li <?php echo $this->view->adds->idcategoria == $categoria->idcategory ? 'style="color:#fff" class="active"' : ''; ?>>
          <a <?php echo $this->view->adds->idcategoria == $categoria->idcategory ? 'style="color:#fff"' : ''; ?> href="<?php echo $categoria->url; ?>#listagem"><span style="font-size: 24px;color: #d69d23;margin-right: 20px;"><i class="<?php echo $categoria->icon; ?>"></i></span> <?php echo $categoria->title; ?></a></li>
        <?php }; ?>
      </ul>
    </div>
</div>  
</div>    
<script>
  function loaditensbusca(el, next, atual, categoria) {
        let dropdown = $('#drop'+next);
        let stringfilter = atual+'='+$(el).val()+'&categoria='+categoria;
        
        dropdown.empty();

        $.getJSON('/loadPorItens?' + stringfilter + '&item='+next, function (data) {
          var newdropdown = $('#drop'+data.item);
          $('.'+data.item+'Select').removeClass('d-none');

          newdropdown.empty();
          $('.'+data.ocultar+'Select').addClass('d-none');
          
          newdropdown.removeAttr('disabled');
          newdropdown.append(`
              <option value="">Selecione</option>
          `);
          $.each(data.registros, function (key, entry) {
              newdropdown.append(`
                  <option value="${entry.id}">${entry.title}</option>
              `);
          })
        });

        $('#'+next).removeAttr('disabled');
    }
</script>