<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">        
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <?php 
                                    $active = 'active';
                                    $expande = 'true';
                                    foreach($this->view->adds->languages as $l){ 
                                ?>
                                    <li class="nav-item">
                                        <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                    </li>

                                <?php 
                                    $active = '';
                                    $expande = 'false';
                                    } 
                                ?>
                            </ul>
                            <div class="tab-content px-1 pt-1">
                                <?php 
                                    $active = 'active';
                                    $expande = 'true';
                                    $role = 'role="tabpanel"';
                                    foreach($this->view->adds->languages as $l){ 
                                ?>
                                <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">
                                    
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Traduções:</label>
                                    <div class="col-md-9">
                                        <div id="cloneTraducao" class="cloneTraducao">
                                            <div class="row" style="margin-bottom: 10px">
                                            <div class="col-lg-12">
                                                <button type="button" data-id="<?php echo $l->idlanguage ?>" class="btn btn-success addLinha">Adicionar Tradução </button>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="conteudoClonado<?php echo $l->idlanguage ?>">
                                            <?php foreach ($this->view->adds->fields[$l->idlanguage] as $key => $value) { ?>
                                            <div class="row" style="margin-bottom: 10px">
                                                <div class="col-lg-3">
                                                    <input  type="text" placeholder="Index da tradução" value="<?php echo $key ?>" name="index[<?php echo $l->idlanguage ?>][]" class="form-control" />   
                                                </div>
                                                <div class="col-lg-6">
                                                    <input  type="text" placeholder="Texto da tradução" value="<?php echo $value ?>" name="value[<?php echo $l->idlanguage ?>][]" class="form-control" /> 
                                                </div>
                                                <div class="col-lg-3">
                                                    <button type="button" class="btn btn-danger removeLinha">X</button>
                                                    <button type="button" data-id="<?php echo $l->idlanguage ?>" class="btn btn-success addLinha">+</button>
                                                </div>
                                            </div>
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div> 

                                    
                                    <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php 
                                    $active = '';
                                    $expande = 'false';
                                    $role = '';
                                    } 
                                ?>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Seção do site">Seções</label>
                                        <select class="form-control round" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  title="Seção do site" name="section" id="section">
                                            <option selected disabled>Selecione uma Seção</option>
                                            <option <?php echo ('home' == $this->view->obj[$l->idlanguage]->section ? "selected" : ""); ?> value="home">Home</option>
                                            <option <?php echo ('footer' == $this->view->obj[$l->idlanguage]->section ? "selected" : ""); ?> value="footer">Footer</option>
                                            <option <?php echo ('header' == $this->view->obj[$l->idlanguage]->section ? "selected" : ""); ?> value="header">Header</option>
                                        </select>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status2">Não</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) { ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).on('click', '.addLinha', function () {
    var idLinguagem = $(this).attr('data-id')
    var html = '<div class="row" style="margin-bottom: 10px">'
                  +'<div class="col-lg-3">'
                    +'<input  type="text" placeholder="Index da tradução"  name="index['+idLinguagem+'][]" class="form-control" />   '
                  +'</div>'
                  +'<div class="col-lg-6">'
                    +'<input  type="text" placeholder="Texto da tradução"  name="value['+idLinguagem+'][]" class="form-control" /> '
                  +'</div>'
                  +'<div class="col-lg-3">'
                    +'<button type="button" class="btn btn-danger removeLinha">X</button> '
                    +'<button type="button" data-id="'+idLinguagem+'" class="btn btn-success addLinha">+</button>'
                  +'</div>'
                +'</div>';

    $('.conteudoClonado'+idLinguagem).append(html);
  });

  $(document).on('click', '.removeLinha', function () {
    $(this).closest('.row').remove();
  })
  
</script>
