<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/login.css">
<style>
    #formContent{
        min-width: 350px;
    }
</style>
<section class="p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-4 col-lg-4">
                <div class="login-box pt-5">
                    <div class="wrapper fadeInDown">
                        <div id="formContent">
                            <!-- Tabs Titles -->
                            <!-- Icon -->
                            <div class="fadeIn first">
                                <h3 class="pt-4 pb-0">Minha conta</h3>
                            </div>

                            <!-- Login Form -->
                            <form id="formlogin" action="/login/logar" method="post">
                                <input type="text"     id="user-name"     class="fadeIn second" name="username" placeholder="Usuário" required>
                                <input type="password" id="user-password" class="fadeIn third"  name="password" placeholder="Senha" required>
                                <input onclick="login('#formlogin')" type="button" class="fadeIn fourth" value="Logar">
                            </form>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="status_response" class="d-none text-center mt-2">
                                        <div class="fa-3x">
                                            <i class="text-black fas fa-spinner fa-spin"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div id="response"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Remind Passowrd -->
                            <div id="formFooter">
                                <a class="underlineHover" data-toggle="modal" data-target="#exampleModal" href="#">Recuperar Senha</a>
                            </div>

                        </div>
                    </div>
                    <!-- /.login-logo -->
                </div>
                    <!-- /.login-box -->
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #00253c;color: #fff;">
        <h5 class="modal-title text-white p-0" id="exampleModalLabel">Recuperar Senha</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form id="formrecuperar" action="/login/retrievepassword" method="post">
        <input type="text" style="width:100%" id="user-email" class="fadeIn first" name="email" placeholder="Digite seu E-mail" required>
        <input onclick="login('#formrecuperar')" type="button" style="width:100%; margin: 5px 20px 40px 5px" class="fadeIn fourth" value="Enviar nova senha">
        <div class="row">
            <div class="col-lg-12">
                <div id="status_response" class="d-none text-center mt-2">
                    <div class="fa-3x">
                        <i class="text-black fas fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="text-center col-12">
                <div class="row">
                    <div class="col-12">
                        <div id="response"></div>
                    </div>
                </div>
            </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>