@charset "utf-8";
/* CSS Document */

body { background-color:#dcdcdc; text-decoration:none;
}

h1 { text-align:center; margin:0 auto; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:20px; color:#002157;}
p { margin:0 auto; font-family: Arial, sans-serif; font-size:16px; font-weight:500; -webkit-font-smoothing: antialiased; color:#262626; margin-bottom:5px;}

img { margin:0 auto; display:flex; justify-content:center; padding-top:20px;}

.cabecalho {width:860px; margin:0 auto; align-content:center; padding:20px; background-color:#ffffff; }

.form { width:840px; margin:0 auto; text-align:left; padding:30px; background-color:#ffffff;}

.line {height:2px; width:900px; background-color:#002157; margin:0 auto; }

.formfield {
	
	margin-bottom:20px; width:600px;}
	
	.button { background-image: linear-gradient(to top, #002157, #007DC5 130%); font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#ffffff; font-size:16px; font-weight:500; -webkit-font-smoothing: antialiased; border-radius: 10px; border-style:none; padding:10px; margin:0 auto; text-align:center; display:flex; justify-content:center;	width:200px;
	}
	
		.buttonreset { background-image: linear-gradient(to top, #dcdcdc, #fefefe 130%); font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#002157; font-size:16px; border-radius: 10px; border-style:none; padding:10px; margin:0 auto; text-align:center; display:flex; justify-content:center; margin-bottom:10px; width:200px;
	}
	
	.rodape { width:880px; margin:0 auto; text-align:left; padding:10px; background-color:#ffffff; padding-bottom:30px;}