@charset "utf-8";
/* CSS Document */

select.corpoemail {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; color:#007DC5;
	
}

.button { background-color:#007DC5; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:14px;
	
}