<style>
.menuPai{
    background: #ccced1;
    padding-left: 25px;
    border: 1px solid #fff;
}
.submenu{
    background: #f1f1f1;
    border: 1px solid #fff;
    margin-left: 10px;
}
</style>
<div class="col-md-12">

<h2 class="form-t1"><?php echo $this->titulo_pagina ?></h2>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) {?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php }?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="form-group">
                        <label for="Titulo">Titulo</label>
                        <input type="text" required  name="title" title="Título" value="<?php echo $this->view->obj->description ?>" class="form-control round" placeholder="Digite aqui seu titulo">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Menus:</label>
                        <div class="col-sm-10">
                            <?php for ($i = 0; $i < count($this->view->adds->menus['menu']); $i++) {    
                                $id = $this->view->adds->menus['menu'][$i]->idmenu;
                                ?>
                                <div class="custom-control custom-checkbox menuPai">
                                    <input type="checkbox" name="menus[]" <?php echo $this->view->adds->menus['ckecked'][$i] ?> class="custom-control-input" id="customCheck<?php echo $this->view->adds->menus['menu'][$i]->idmenu ?>" value="<?php echo $this->view->adds->menus['menu'][$i]->idmenu ?>">
                                    <label class="custom-control-label" for="customCheck<?php echo $this->view->adds->menus['menu'][$i]->idmenu ?>"><?php echo $this->view->adds->menus['menu'][$i]->title ?></label>
                                </div>
                                <?php 
                                if(isset($this->view->adds->menus[$id]['submenu'])){
                                foreach ($this->view->adds->menus[$id]['submenu'] as $key => $sub) {?>
                                    <div class="custom-control custom-checkbox submenu">
                                        <input type="checkbox" name="menus[]" <?php echo $this->view->adds->menus[$id]['ckecked'][$key] ?> class="custom-control-input" id="customCheck<?php echo $sub->idmenu ?>" value="<?php echo $sub->idmenu ?>">
                                        <label style="font-weight: normal" class="custom-control-label" for="customCheck<?php echo $sub->idmenu ?>"><?php echo $sub->title ?></label>
                                    </div>
                                <?php } }?>
                            <?php }?>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idgroup ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn btn-info">Voltar</button>
                </form>
            </div>
        </div>
    </div>
</div>