<style>

.container-select-video {
    display: flex;
    justify-content: flex-start;
}
</style>

<main id="mainContent" style="background-color: #f0f4f7;" class="container-categoria container-retreats">
      <section class="retreats-banner">
				<div class="banner-topo">
					<div>
						<span class="shape-down"></span>
						<h2>Retreats</h2>
					</div>
				</div>
		</section>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
        <div class="col-md-4">
          <?php $this->includepage("Ypo.Institucional.Includes.Parcerias.menu-categoria-retreats")?>
        </div>
          <div id="listagem" class="col-md-8 mb-5 container-retreats-itens">
            <div class="row">
                <div class="col-lg-6">
                  <?php if($this->view->adds->mostrarSubCategoria){ ?>
                    <section>
                      <div class="container container-select-video">
                        <div class="row">
                          <div class="col-md-12 box-select-video mb-2">
                            <select onchange="redirect($(this).val())" style="background-color: unset !important;" class="mr-0" name="mostrar" id="mostrar">
                              <option hide value=""> Sub-Categoria: </option>
                              <?php foreach($this->view->adds->subscategoria as $value){ ?>
                                <option value="<?php echo $value->url; ?>#listagem" <?php echo ($value->idcategory == $_GET['categoria'] ? 'selected' : ''); ?> ><?php echo $value->title; ?></option>
                              <?php  } ?>
                            </select>
                          </div>
                        </div>
                      </div>
                    </section>
                  <?php } ?>
                </div>
                  <div class="col-lg-6">
                    <a href="/retreats/create" style="margin:35px 0px 60px; background-color:#073050; color:#fff" class="btn btn-min-width mr-1 mb-1 pull-right">Criar Retreat</a>
                  </div>
            </div>
            <div class="row ">
              <?php 
                if(count($this->view->adds->list) == 0) {echo '<p>Nenhum registro encontrado.</p>';}else{
                foreach($this->view->adds->list as $file){ ?>
                  <div class="col-md-12">
                    <p>
                      <a class="btn-link" target="_blank" href="<?php echo $file['path']; ?>"><?php echo $file['file']; ?></a>
                    </p>
                  </div>
                <?php }} ?>
            </div>
          </div>
        </div>
        
    </div>
</main>
<script>
function redirect(url){
  window.location = url;
  return false;
}

</script>