
<style>
.container-retreats-itens .boxtexto h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.container-retreats-itens .boxtexto p {
  font-size: 17px;
}
.container-select-video {
    display: flex;
    justify-content: flex-start;
}
.box-btn-criar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.btn-criar {
  background-color: #073050;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  max-width: 265px;
  width: 100%;
  min-height: 80px;
  font-size: 24px;
  border: none;
}
.lista-arquivos {
  border-bottom: 1px solid #d5dbde;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.lista-arquivos a {
  text-decoration: none;
}
.name-arquivo {
  font-size: 26px;
  color: #073050;
  font-weight: bold;
}
.name-arquivo:hover {
  color: #073050;
}
.lista-arquivos-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 420px;
  width: 100%;
}
.lista-arquivos-download a {
  font-size: 16px;
  font-weight: bold;
  color: #71818b;
}
.lista-arquivos-download a:hover {
  color: #71818b;
}
.lista-arquivos-download a i {
  color: #e1c17a;
  font-size: 12px;
  border: 1px solid #e1c17a;
  border-radius: 50px;
  padding: 10px 11px;
  margin-right: 10px;
}
@media (max-width: 767px){
  .lista-arquivos-download {
    flex-wrap: wrap;
  }
  .lista-arquivos-download a {
    margin-bottom: 10px;
  }
}
</style>
<main id="mainContent" style="background-color: #f0f4f7;" class="container-categoria container-retreats">
      <section class="retreats-banner">
				<div class="banner-topo">
					<div>
						<span class="shape-down"></span>
						<h2>Retreats e Fóruns</h2>
					</div>
				</div>
		</section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="p-dica">
          Documentos traduzidos com o Google Tradutor.
        </p>
      </div>
    <div class="row">
      
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
       
        <div class="col-md-4">
          <?php $this->includepage("Ypo.Institucional.Includes.Parcerias.menu-categoria-retreats")?>
        </div>
          <div id="listagem" class="col-md-8 container-retreats-itens">
            <div class="row">
              <div class="col-lg-6">
                <?php if($this->view->adds->mostrarSubCategoria){ ?>
                  <section>
                    <div class="container container-select-video">
                      <div class="row">
                        <div class="col-md-12 box-select-video mb-2">
                          <select onchange="redirect($(this).val())" style="background-color: unset !important;" class="mr-0" name="mostrar" id="mostrar">
                            <option hide value=""> Sub-Categoria: </option>
                            <?php foreach($this->view->adds->subscategoria as $value){ ?>
                              <option value="<?php echo $value->url; ?>#listagem" <?php echo ($value->idcategory == $_GET['categoria'] ? 'selected' : ''); ?> ><?php echo $value->title; ?></option>
                            <?php  } ?>
                          </select>
                        </div>
                      </div>
                    </div>
                  </section>
                <?php } ?>
              </div>
              <div class="col-md-6">
                <div class="box-btn-criar">
                  <button onclick="redirect('/arquivos-retreats')" class="btn-criar">Criar Retreat</button>
                </div>
              </div>
            </div>
            <div>
                <?php if(count($this->view->adds->list) == 0) {echo '<p>Nenhum registro encontrado.</p>';}else{
                foreach($this->view->adds->list as $value){ ?>
                  <div class="lista-arquivos">     
                    <a href="#" class="name-arquivo"><?php echo $value->nome; ?></a>
                      <div class="lista-arquivos-download">
                        <a class="<?php echo !strlen($value->portugues) ? 'd-none' : ''; ?>" target="_blank" href="<?php echo $value->portugues; ?>"><i class="fas fa-arrow-down"></i>Baixar arquivo (Port)</a>
                        <a class="<?php echo !strlen($value->ingles) ? 'd-none' : ''; ?>" target="_blank" href="<?php echo $value->ingles; ?>"><i class="fas fa-arrow-down"></i>Download (English)</a>
                    </div>
                  </div>
                <?php  }
                } ?>
            </div>
          </div>
        </div>       
    </div>
</main>
<script>
function redirect(url){
  window.location = url;
  return false;
}

</script>