
<style>
.d-none{
  display:none;
}

.box-parcerias-title img{
  margin-top:<?php echo !strlen($this->view->adds->retreat->banner) ? '50px' : '-100px'; ?>;
}
a {
    color: #00253c;
    text-decoration: none;
}
a:hover {
    color: #00253c;
    
}
</style>
<main id="mainContent" class="">
  <div class="container-parcerias-detalhe">
    <div class="container p-0">
      <div div class="row">
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 10px;" class="container box-parcerias-detalhe">
      <div class="box-parcerias-img <?php echo !strlen($this->view->adds->retreat->banner) ? 'd-none' : ''; ?>">
        <img src="<?php echo $this->view->adds->retreat->banner; ?>" alt="">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box-parcerias-title">
            <img class="<?php echo !strlen($this->view->adds->retreat->logo) ? 'd-none' : ''; ?>" style="height: 240px;" src="<?php echo $this->view->adds->retreat->logo; ?>" alt="">
            <h2><?php echo $this->view->adds->retreat->nome; ?></h2>
          </div>
          <div class="col-md-12">
            <div class="box-parcerias-text">
                <p><?php echo $this->view->adds->retreat->texto; ?></p>
            </div>
          </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12 <?php echo (!is_array($this->view->adds->retreat->arrayImages)) ? 'd-none' : ''; ?>">
          <div class="container-parcerias-img-small">
            <div class="row box-parcerias-img-small">
                <?php 
                if(is_array($this->view->adds->retreat->arrayImages)){
                foreach($this->view->adds->retreat->arrayImages as $imagem){ ?>      
                  <div class="col-md-3">
                      <div class="box-parcerias-small-img mt-1">
                          <a href="<?php echo $imagem; ?>" data-lightbox="image-1" data-title="">
                            <img src="<?php echo $imagem; ?>" alt="">
                          </a>
                      </div>
                  </div>
                <?php } } ?>
            </div>
        </div>
        </div>
        </div>
        <div class="divisor <?php echo (!is_array($this->view->adds->retreat->arrayImages)) ? 'd-none' : ''; ?>">
        </div>
        <div class="col-md-12 container-parcerias-info">
          <div class="row ">
            <div class="col-md-4 box-parcerias-info <?php echo !strlen($this->view->adds->retreat->whatsapp) ? 'd-none' : ''; ?>">
              <span class="info1">Tel/WhatsApp</span>
              <span class="info2"><?php echo '<a target="_blank" href="https://api.whatsapp.com/send?phone=55'.preg_replace("/[^0-9]/", "", $this->view->adds->retreat->whatsapp).'&text=Olá">'.$this->view->adds->retreat->whatsapp.'</a>'; ?></span>
            </div>
            <div class="col-md-4 box-parcerias-info <?php echo !strlen($this->view->adds->retreat->emailContato) ? 'd-none' : ''; ?>">
              <span class="info1">E-mail</span>
              <span style="cursor:pointer" onclick="window.location='mailto:<?php echo $this->view->adds->retreat->emailContato; ?>'" class="info2"><?php echo $this->view->adds->retreat->emailContato; ?></span>
            </div>
            <div class="col-md-4 box-parcerias-info <?php echo !strlen($this->view->adds->retreat->site) ? 'd-none' : ''; ?>">
              <span class="info1">Site</span><span style="cursor:pointer" onclick="window.open('http:\/\/<?php echo $this->view->adds->retreat->site; ?>', '_blank')" class="info2"><?php echo $this->view->adds->retreat->site; ?></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>