<div class="col-md-12">

<h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Categoria">Categoria</label>
                                    <select onchange="loadregistercombobox(this, '#idcategoria2', '/categories/load')" class="form-control round" name="idcategoria" id="input4">
                                        <option value="">Selecione</option>
                                        <?php foreach ($this->view->adds->categorias as $g) {?>
                                            <option <?=($g->idcategory == $this->view->obj->idcategoria ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Categoria">Sub-Categoria</label>
                                    <select class="form-control round" name="idcategoria2" id="idcategoria2">
                                        <option value="0">Selecione</option>
                                        <?php foreach ($this->view->adds->subcategorias as $g) {?>
                                            <option <?=($g->idcategory == $this->view->obj->idcategoria2 ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Tipo">Tipo</label>
                                    <select class="form-control round" name="tipo" id="input4">
                                        <option value="">Selecione</option>
                                        <option <?=('venda' == $this->view->obj->tipo ? "selected" : "");?> value="venda">Venda</option>
                                        <option <?=('aluguel' == $this->view->obj->tipo ? "selected" : "");?> value="aluguel">Aluguel</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <?php if(isset($this->view->adds->iduser)){
                                    echo '<input type="hidden" name="iduser" value="'.$this->view->adds->iduser.'">';
                                }else{ ?>
                                    <div class="form-group">
                                        <label for="Usuário">Usuário</label>
                                        <select class="form-control round" name="iduser" id="iduser">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->usuarios as $g) {?>
                                                <option <?=($g->iduser == $this->view->obj->iduser ? "selected" : "");?> value="<?=$g->iduser?>"><?=$g->name?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                <?php } ?>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Titulo">Titulo</label>
                                    <input type="text" required  name="nome" title="Titulo" value="<?php echo htmlentities($this->view->obj->nome) ?>" class="form-control round" placeholder="Nome">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Descrição">Descrição</label>
                                    <textarea name="texto" rows="5" title="Descrição" class="form-control round summernote" placeholder="Texto"><?php echo htmlentities($this->view->obj->texto) ?></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="label" for="Moeda">Moeda (R$,US$,€)</label>
                                    <input type="text"  name="moeda" title="Moeda" value="<?php echo htmlentities($this->view->obj->moeda) ?>" class="form-control round" placeholder="Moeda">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="label" for="Valor">Valor</label>
                                    <input type="text"  name="valor"  onKeyPress="return(moeda(this,'','.',event))" title="Valor" value="<?php echo htmlentities($this->view->obj->valor) ?>" class="form-control round" placeholder="Valor">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="Nome Contato">Nome Contato</label>
                                    <input type="text"  name="nomeContato" title="Nome Contato" value="<?php echo htmlentities($this->view->obj->nomeContato) ?>" class="form-control round" placeholder="Nome Contato">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="E-mail Contato">E-mail Contato</label>
                                    <input type="text"  name="emailContato" title="E-mail Contato" value="<?php echo htmlentities($this->view->obj->emailContato) ?>" class="form-control round" placeholder="E-mail Contato">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Whatsapp">Whatsapp</label>
                                    <input type="text"  onkeypress="mask(this, mphone);" name="whatsapp" title="Whatsapp" value="<?php echo htmlentities($this->view->obj->whatsapp) ?>" class="form-control round" placeholder="Whatsapp">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Site">Site</label>
                                    <input type="text"  name="site" title="Site" value="<?php echo htmlentities($this->view->obj->site) ?>" class="form-control round" placeholder="Site">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Video">Video</label>
                                    <input type="text"  name="video" title="Video" value="<?php echo htmlentities($this->view->obj->video) ?>" class="form-control round" placeholder="Video">
                                    <small>Exemplo:</small><br>
                                    <small>https://player.vimeo.com/video/337565310?color=ffffff</small><br>
                                    <small>https://www.youtube-nocookie.com/embed/fQ_trHn9YlY?controls=0</small><br>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Texto">Keywords</label>
                                    <textarea name="palavrasChaves" rows="5" title="Keywords" class="form-control" placeholder="Keywords"><?php echo $this->view->obj->palavrasChaves ?></textarea>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label" for="Imagem Principal">Imagem Principal <a href="#uploadergeral">Uploader da imagem abaixo</a></label>
                                            <input type="text" onchange="$('#previewlogo').attr('src', $(this).val())" required  name="logo" title="Logo" value="<?php echo $this->view->obj->logo ?>" class="form-control round" placeholder="Imagem Principal">
                                        </div>
                                    </div>
                                        <div class="col-lg-4 col-md-12">
                                            <img id="previewlogo" src="<?php echo $this->view->obj->logo ?>" class="img-fluid">
                                        </div>
                                </div>
                            </div>
                            
                            <div style="margin-top: 10px" class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label" for="Banner">Banner</label>
                                            <input type="text" onchange="$('#previewbanner').attr('src', $(this).val())" required  name="banner" title="Banner" value="<?php echo $this->view->obj->banner ?>" class="form-control round" placeholder="Banner">
                                        </div>
                                    </div>
                                        <div class="col-lg-4 col-md-12">
                                            <img id="previewbanner" src="<?php echo $this->view->obj->banner ?>" class="img-fluid">
                                        </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div id="imagemContent" class="col-lg-12">
                                        <label class="label" for="Imagens Adicionais">Imagens Adicionais</label>
                                        
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <button type="button" data-index="0" class="btn dupimagem">+</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" onchange="$('#previewimg').attr('src', $(this).val())" name="imagem[]" title="Imagem" value="" class="form-control round" placeholder="Imagem">
                                            </div>
                                            <div class="col-lg-4 col-md-12">
                                                <img id="previewimg" src="" class="img-fluid">
                                            </div>
                                        </div>
                                        <?php if(isset($this->view->obj->imgArray)){
                                            foreach($this->view->obj->imgArray as $key => $value){ ?>
                                                <div style="margin-top: 10px" class="row">
                                                    <div class="col-lg-2">
                                                        <button type="button" data-index="<?php echo $key*100; ?>" class="btn dupimagem">+</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" onchange="$('#previewimg<?php echo $key*100; ?>').attr('src', $(this).val())"  name="imagem[]" title="Imagem" value="<?php echo $value ?>" class="form-control round" placeholder="Imagem">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12">
                                                        <img id="previewimg<?php echo $key*100; ?>" src="<?php echo $value ?>" class="img-fluid">
                                                        <a href="#." data-index="<?php echo $key*100; ?>" class="text-danger remove"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                        <?php } 
                                        } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div style="margin-top: 10px" class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-8   ">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo" value="s" <?php echo ('s' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo2" value="n" <?php echo ('n' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo2">Não</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Colocar link para abrir o whatsapp?</label>
                                <div class="col-sm-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="botaoZap" id="botaoZap" value="s" <?php echo ('s' == $this->view->obj->botaoZap ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="botaoZap">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="botaoZap" id="botaoZap2" value="n" <?php echo ('n' == $this->view->obj->botaoZap ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="botaoZap2">Não</label>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idclassificado ?>">
                    <input type="hidden" name="imagens" value="<?php echo $this->view->obj->imagens ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="uploadergeral" class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls">Upload de imagens</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formimagem" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="form-group row">
                        <div class="col-lg-8 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="uploadgenericmod('formimagem', 'inputimagem', '<?php echo $this->view->url ?>/uploads', 'inputimagempreview')" type="file" class="custom-file-input" name="fileinputimagem" id="fileinputimagem" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 10px; margin-left:20px" class="form-group row">
                            <label class="col-sm-4 col-form-label d-none d-sm-block">Tipo imagem:</label>
                            <div class="col-sm-8   ">
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="tipoimagem" id="tipoimagem" value="l"checked class="custom-control-input">
                                    <label class="custom-control-label" for="tipoimagem">Imagem Principal</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="tipoimagem" id="tipoimagem2" value="b" class="custom-control-input">
                                    <label class="custom-control-label" for="tipoimagem2">Banner</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="tipoimagem" id="tipoimagem3" value="g" class="custom-control-input">
                                    <label class="custom-control-label" for="tipoimagem3">Galeria</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <img id="previewinputimagem" src="" class="img-fluid">
                        </div>
                        <div class="col-lg-12 mt-5">
                            <div class="row">
                                <div class="col-lg-9">
                                <input type="text" style="height: 37px;" id="inputimagempreview" name="inputimagempreview" class="form-control">
                                </div>
                                <span class="col-lg-3">
                                    <button type="button" class="btn btn-info btn-flat copy"><i class="far fa-copy"></i> Copiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".copy").click(function(){
        $('#inputimagempreview').select();
        document.execCommand('copy');
        alert("Conteudo copiado!")
    });

    $(document).on('click', '.remove', function(){
        $(this).closest(".row").remove();
    });

    $(document).on("click", ".dupimagem", function(){
        var indice  = parseInt((Math.random() * 100), 10);
        var content = `<div style="margin-top: 10px" class="row">
                            <div class="col-lg-2">
                                <button type="button" data-index="${indice}" class="btn dupimagem">+</button>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" onchange="$('#previewimg${indice}').attr('src', $(this).val())"  name="imagem[]" title="Imagem" value="" class="form-control round" placeholder="Imagem">
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <img id="previewimg${indice}" src="" class="img-fluid">
                                <a href="#." data-index="${indice}" class="text-danger remove"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>`;

        $("#imagemContent").append(content);
    })

    function mask(o, f) {
        setTimeout(function() {
            var v = mphone(o.value);
            if (v != o.value) {
            o.value = v;
            }
        }, 1);
    }

    function mphone(v) {
        var r = v.replace(/\D/g, "");
        r = r.replace(/^0/, "");
        if (r.length > 10) {
            r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
        } else if (r.length > 5) {
            r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
        } else if (r.length > 2) {
            r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
        } else {
            r = r.replace(/^(\d*)/, "($1");
        }
        return r;
    }
</script>