
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                                <div class="card-content">
                                    <div class="card-body">
                                        <ul class="nav nav-tabs">
                                            <?php
                                                $active = 'active';
                                                $expande = 'true';
                                                foreach ($this->view->adds->languages as $l) {
                                            ?>
                                                <li class="nav-item">
                                                    <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                                </li>

                                            <?php
                                                $active = '';
                                                    $expande = 'false';
                                                }
                                            ?>
                                        </ul>
                                        <div class="tab-content px-1 pt-1">
                                            <?php
                                                $active = 'active';
                                                $expande = 'true';
                                                $role = 'role="tabpanel"';
                                                foreach ($this->view->adds->languages as $l) {
                                            ?>
                                            <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="label" for="Titulo">Titulo</label>
                                                            <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="title[]" title="Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->title) ?>" class="form-control round" placeholder="Titulo">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="label" for="Hash">Hash</label>
                                                            <input type="text" onblur="$('.hash').val(this.value)" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="hash[]" title="Sub-Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->hash) ?>" class="form-control round hash" placeholder="Hash">
                                                        </div>
                                                    </div>
                                                </div>


                                                <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                            </div>
                                            <?php
                                                $active = '';
                                                    $expande = 'false';
                                                    $role = '';
                                                }
                                            ?>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                            <div class="col-sm-10">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                                    <label class="custom-control-label" for="status">Sim</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                                    <label class="custom-control-label" for="status2">Não</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                                <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                                <button type="button" onclick="registerModule('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="hidden-label-round-controls">Upload de imagens</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <form id="formimagem" action="<?php echo $this->view->action ?>" class="form-register">
                                <div class="form-group row">
                                    <div class="col-lg-8 col-md-12">
                                        <div class="card-block">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <div class="custom-file">
                                                        <input onchange="uploadgeneric('formimagem', 'inputimagem', '<?php echo $this->view->url ?>/uploads', 'inputimagempreview')" type="file" class="custom-file-input" name="fileinputimagem" id="fileinputimagem" aria-describedby="fileHelp">
                                                        <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12">
                                        <img id="previewinputimagem" src="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-12 mt-5">
                                        <div class="input-group input-group-sm">
                                            <input type="text" style="height: 37px;" id="inputimagempreview" name="inputimagempreview" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-info btn-flat copy"><i class="far fa-copy"></i> Copiar</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="hidden-label-round-controls">Itens do Módulo</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="formJson" method="post">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Titulo</th>
                                                    <th>Ativo</th>
                                                    <th>Ações</th>
                                                </tr>
                                            </thead>
                                            <tbody id="itensModulos">
                                                <?php foreach ($this->view->adds->inputJson as $json) {
                                                    $dados = json_decode($json, true);
                                                    ?>
                                                    <tr>
                                                        <td>
                                                            <?php echo $dados['linguagem'][1]['title'] ?>
                                                        </td>
                                                        <td>
                                                            <?php echo $dados['status'] == 'a' ? 'Ativo' : 'Inativo' ?>
                                                        </td>
                                                        <td>
                                                            <a href="#." class="btn btn-danger mr-1 text-white deleteRow"><i class="far fa-trash-alt"></i></a>
                                                            <a href="#." class="btn btn-warning text-white updateRow"><i class="fas fa-pencil-alt"></i></a>
                                                            <input name="json[]" type="hidden" value='<?php echo $json ?>' class="json" />
                                                        </td>
                                                    </tr>
                                                <?php }?>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="hidden-label-round-controls">Itens do Módulo</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <form id="formmodule" action="<?php echo $this->view->action ?>" class="form-register">
                                <ul class="nav nav-tabs">
                                    <?php
                                        $active = 'active';
                                        $expande = 'true';
                                        foreach ($this->view->adds->languages as $l) {
                                    ?>
                                        <li class="nav-item">
                                            <a class="nav-link <?php echo $active ?>" id="base-tabModule<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tabModule<?php echo $l->idlanguage ?>" href="#tabModule<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                        </li>

                                    <?php
                                        $active = '';
                                            $expande = 'false';
                                        }
                                    ?>
                                </ul>
                                <div class="tab-content px-1 pt-1">
                                    <?php
                                        $active = 'active';
                                        $expande = 'true';
                                        $role = 'role="tabpanel"';
                                        foreach ($this->view->adds->languages as $l) {
                                    ?>
                                <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tabModule<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tabModule<?php echo $l->idlanguage ?>">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="Titulo">Titulo</label>
                                                <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="titleModule[<?php echo $l->idlanguage ?>][]" id="titleModule<?php echo $l->idlanguage ?>" title="Titulo" class="form-control round" placeholder="Titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="Titulo Secundário">Titulo Secundário</label>
                                                <input type="text"  name="titleSecondModule[<?php echo $l->idlanguage ?>][]" id="titleSecondModule<?php echo $l->idlanguage ?>" title="Titulo Secundário" class="form-control round" placeholder="Titulo Secundário">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="Ordem">Ordem</label>
                                                <input type="number" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="orderModule[<?php echo $l->idlanguage ?>][]" id="orderModule<?php echo $l->idlanguage ?>" title="Ordem" class="form-control round" placeholder="Ordem    ">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Texto</label>
                                                <textarea name="textModule[<?php echo $l->idlanguage ?>][]" id="textModule<?php echo $l->idlanguage ?>" rows="5" title="Texto em <?php echo $l->title ?>" class="form-control round" placeholder="Texto"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" class="languageModule" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php
                                $active = '';
                                    $expande = 'false';
                                    $role = '';
                                }
                                ?>
                                
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label for="Titulo Secundário">Icone</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i id="mostraicone" style="font-size: 15px; color: black" class=""></i></span>
                                                <input type="text"  onblur="trocaicone(this.value)" id="icone" name="iconModule" class="form-control" placeholder="Digite aqui o Icone Ex. fa fa-user">
                                            <small><a target="_blank" href="http://fontawesome.com/">Mais icones</a></small>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group mt-2">
                                            <label for="Imagem/Icone">Imagem/Icone</label>
                                            <input type="text" onblur="mostrarPreview(this)"  name="image" id="image" title="Imagem/Icone" class="form-control round" placeholder="Imagem/Icone">
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12">
                                        <img id="previewimage" src="" class="img-fluid">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                    <div class="col-sm-10">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="statusModule" id="statusModule" checked value="a" class="custom-control-input">
                                            <label class="custom-control-label" for="statusModule">Sim</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="statusModule" id="statusModule2" value="i" class="custom-control-input">
                                            <label class="custom-control-label" for="statusModule2">Não</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" onclick="registerModule('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?> Geral</button>
                                <button type="button" onclick="registerInJson('#formmodule')" class="btn btn-info text-white">Salvar Item</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(".copy").click(function(){
        $('#inputimagempreview').select();
        document.execCommand('copy');
        alert("Conteudo copiado!")
    });

    $('#itensModulos').on( 'click', '.deleteRow', function () {
        table.row( $(this).parents('tr') ).remove().draw();
    });

    $(document).on('click', ".updateRow", function(){
        table.row( $(this).parents('tr') ).remove().draw();
        var json = JSON.parse($(this).next().val().replace('\\', ""));

        //VARRE O JSON NOS INPUTS
        $.each(json['linguagem'], function (key, item) {
            $('#titleModule'+key).val(item['title']);
            $('#titleSecondModule'+key).val(item['titleSecond']);
            $('#textModule'+key).val(item['text']);
            $('#orderModule'+key).val(item['order']);
        });
        
        $('#icone').val(json['icon']);
        $('#image').val(json['image']);
       
        if(json['status'] == 'a'){
            $("#statusModule").prop("checked", true);
        }else{
            $("#statusModule2").prop("checked", true);
        }
    });

    function mostrarPreview(t){
        $('#previewimage').attr('src', t.value);
    }

    function registerInJson(form){
        var postData = $(form).serializeJSON();
        
        var ativo  = postData['statusModule'] == 'a' ? 'Ativo' : 'Inativo';
        var button = '<a href="#." class="btn btn-danger mr-1 text-white deleteRow"><i class="far fa-trash-alt"></i></a>';
        button = button + '<a href="#." class="btn btn-warning text-white updateRow"><i class="fas fa-pencil-alt"></i></a>'

        var jsonFull = {};
        jsonFull['linguagem'] = {};

        $(".languageModule").each(function() {
            jsonFull['linguagem'][$(this).val()] = {};
            jsonFull['linguagem'][$(this).val()]['title']       = postData['titleModule'][$(this).val()][0];
            jsonFull['linguagem'][$(this).val()]['titleSecond'] = postData['titleSecondModule'][$(this).val()][0];
            jsonFull['linguagem'][$(this).val()]['text']        = postData['textModule'][$(this).val()][0];
            jsonFull['linguagem'][$(this).val()]['order']       = postData['orderModule'][$(this).val()][0];
        });

        jsonFull['icon']   = postData['iconModule'];
        jsonFull['image']  = postData['image'];
        jsonFull['status'] = postData['statusModule'];

        var jsonFull = JSON.stringify(jsonFull);
        var inpuJson = '<input name="json[]" type="hidden" value=\''+jsonFull+'\' class="json" />';
        button = button+inpuJson;

        table.row.add( [ postData['titleModule'][1][0], ativo, button ] ).draw().node();
        //$("#formmodule")[0].reset();
        $('#previewimage').attr('src', '');
    }

    function registerModule(form) {
        var postData     = $(form).serializeArray();
        var postDataJson = $('#formJson').serializeArray();

        var postForm = postData.concat(postDataJson)
        
        var formURL = $(form).attr("action");
        var validate = 0;
        $('#status_response').removeClass('d-none');
        $('form' + form + ' .form-control[required]').each(function () {
            if (!$(this).val()) {
            alertmsg('O campo ' + $(this).attr('title') + ' é obrigatório!', 'alert-danger');
            $(this).addClass('is-invalid');
            $('#status_response').addClass('d-none');
            validate++;
            return false;
            }
        });

        if (validate == 0) {
            $.ajax({
            type: "POST",
            url: formURL,
            data: postForm,
            dataType: 'json',
            success: function (data) {
                var response = data['response'];
                $('#status_response').addClass('d-none');
                alertmsg(response['mensagem'], response['classe'])

                if (response['result'] == 'error') {
                $('.validate-input').each(function () {
                    if ($(this).val() == '') {
                    $(this).addClass('is-invalid');
                    }
                });
                return false;
                } else {
                window.location.replace(response['redirect']);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#status_response').addClass('d-none');
                alertmsg('Ocorreu um erro inesperado, por favor tente mais tarde!', 'alert-danger');
                return false;
            }
            });
        }
    }
</script>