<div class="col-md-12">

<h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Categoria">Categoria</label>
                                    <select required onchange="loadregistercombobox(this, '#idcategoria2', '/categories/load')" class="form-control round" name="idcategoria" id="input4">
                                        <option value="">Selecione</option>
                                        <?php foreach ($this->view->adds->categorias as $g) {?>
                                            <option <?=($g->idcategory == $this->view->obj->idcategoria ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Categoria">Sub-Categoria</label>
                                    <select class="form-control round" name="idcategoria2" id="idcategoria2">
                                        <option value="">Selecione</option>
                                        <?php foreach ($this->view->adds->subcategorias as $g) {?>
                                            <option <?=($g->idcategory == $this->view->obj->idcategoria2 ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Nome da empresa">Nome da empresa</label>
                                    <input type="text" required  name="nome" title="Nome da empresa" value="<?php echo htmlentities($this->view->obj->nome) ?>" class="form-control round" placeholder="Nome da empresa">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Sub-titulo">Sub-titulo</label>
                                    <input type="text"  name="subtitulo" title="Sub-titulo" value="<?php echo htmlentities($this->view->obj->subtitulo) ?>" class="form-control round" placeholder="Sub-titulo">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="Nome Contato">Nome Contato</label>
                                    <input type="text"  name="nomeContato" title="Nome Contato" value="<?php echo htmlentities($this->view->obj->nomeContato) ?>" class="form-control round" placeholder="Nome Contato">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="E-mail Contato">E-mail Contato</label>
                                    <input type="text"  name="emailContato" title="E-mail Contato" value="<?php echo htmlentities($this->view->obj->emailContato) ?>" class="form-control round" placeholder="E-mail Contato">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Whatsapp">Whatsapp</label>
                                    <input type="text"  name="whatsapp" title="Whatsapp" value="<?php echo htmlentities($this->view->obj->whatsapp) ?>" class="form-control round" placeholder="Whatsapp">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Site">Site</label>
                                    <input type="text"  name="site" title="Site" value="<?php echo htmlentities($this->view->obj->site) ?>" class="form-control round" placeholder="Site">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Endereço">Endereço</label>
                                    <input type="text"  name="endereco" title="Endereço" value="<?php echo htmlentities($this->view->obj->endereco) ?>" class="form-control round" placeholder="Endereço">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Descrição">Descrição</label>
                                    <textarea name="texto" rows="5" title="Descrição" class="form-control round summernote" placeholder="Texto"><?php echo htmlentities($this->view->obj->texto) ?></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Descontos e Benefícios">Descontos e Benefícios</label>
                                    <textarea name="descontos" rows="5" title="Descontos e Benefícios" class="form-control summernote" placeholder="Descontos e Benefícios"><?php echo $this->view->obj->descontos ?></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Termos e condições">Termos e condições</label>
                                    <textarea name="termos" rows="5" title="Termos e condições" class="form-control summernote" placeholder="Termos e condições"><?php echo $this->view->obj->termos ?></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Texto">Keywords</label>
                                    <textarea name="palavrasChaves" rows="5" title="Keywords" class="form-control" placeholder="Keywords"><?php echo $this->view->obj->palavrasChaves ?></textarea>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label" for="Logo">Logo</label>
                                            <input type="text" onchange="$('#previewlogo').attr('src', $(this).val())" required  name="logo" title="Logo" value="<?php echo $this->view->obj->logo ?>" class="form-control round" placeholder="Logo">
                                        </div>
                                    </div>
                                        <div class="col-lg-4 col-md-12">
                                            <img id="previewlogo" src="<?php echo $this->view->obj->logo ?>" class="img-fluid">
                                        </div>
                                </div>
                            </div>
                            
                            <div style="margin-top: 10px" class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label" for="Banner">Banner</label>
                                            <input type="text" onchange="$('#previewbanner').attr('src', $(this).val())" required  name="banner" title="Banner" value="<?php echo $this->view->obj->banner ?>" class="form-control round" placeholder="Banner">
                                        </div>
                                    </div>
                                        <div class="col-lg-4 col-md-12">
                                            <img id="previewbanner" src="<?php echo $this->view->obj->banner ?>" class="img-fluid">
                                        </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div id="imagemContent" class="col-lg-12">
                                        <label class="label" for="Imagens Adicionais">Imagens Adicionais</label>
                                        
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <button type="button" data-index="0" class="btn dupimagem">+</button>
                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" onchange="$('#previewimg').attr('src', $(this).val())" name="imagem[]" title="Imagem" value="" class="form-control round" placeholder="Imagem">
                                            </div>
                                            <div class="col-lg-4 col-md-12">
                                                <img id="previewimg" src="" class="img-fluid">
                                            </div>
                                        </div>
                                        <?php if(isset($this->view->obj->imgArray)){
                                            foreach($this->view->obj->imgArray as $key => $value){ ?>
                                                <div style="margin-top: 10px" class="row">
                                                    <div class="col-lg-2">
                                                        <button type="button" data-index="<?php echo $key*100; ?>" class="btn dupimagem">+</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <input type="text" onchange="$('#previewimg<?php echo $key*100; ?>').attr('src', $(this).val())"  name="imagem[]" title="Imagem" value="<?php echo $value ?>" class="form-control round" placeholder="Imagem">
                                                    </div>
                                                    <div class="col-lg-4 col-md-12">
                                                        <img id="previewimg<?php echo $key*100; ?>" src="<?php echo $value ?>" class="img-fluid">
                                                        <a href="#." data-index="<?php echo $key*100; ?>" class="text-danger remove"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>
                                        <?php } 
                                        } ?>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div id="redeContent" class="col-lg-12">
                                        <label class="label" for="Redes Sociais">Redes Sociais</label>
                                        
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <button type="button" data-index="0" class="btn duprede">+</button>
                                            </div>
                                            <div class="col-lg-1">
                                                <i id="previewicon" class=""></i>
                                            </div>
                                            <div class="col-lg-4">
                                                <input type="text" onchange="$('#previewicon').attr('class', $(this).val())"  name="redesocial[icone][]" title="Icone" value="" class="form-control round" placeholder="Icone">
                                            </div>
                                            <div class="col-lg-5">
                                                <input type="text"  name="redesocial[link][]" title="Link" value="" class="form-control round" placeholder="Link">
                                            </div>
                                        </div>
                                        <?php if(isset($this->view->obj->redeArray)){
                                            foreach($this->view->obj->redeArray as $key => $value){ ?>
                                                <div style="margin-top: 10px" class="row">
                                                    <div class="col-lg-2">
                                                        <button type="button" data-index="<?php echo $key*100; ?>" class="btn duprede">+</button>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <i id="previewicon<?php echo $key*100; ?>" class="<?php echo $value['icone']; ?>"></i>
                                                        <a href="#." data-index="<?php echo $key*100; ?>" class="text-danger remove"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <input type="text" onchange="$('#previewicon<?php echo $key*100; ?>').attr('class', $(this).val())"  name="redesocial[icone][]" title="Icone" value="<?php echo $value['icone']; ?>" class="form-control round" placeholder="Icone">
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input type="text"  name="redesocial[link][]" title="Link" value="<?php echo $value['link']; ?>" class="form-control round" placeholder="Link">
                                                    </div>
                                                </div>
                                        <?php } 
                                        } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div style="margin-top: 10px" class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-8   ">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo" value="s" <?php echo ('s' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo2" value="n" <?php echo ('n' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo2">Não</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Mostrar botão solicitar desconto?</label>
                                <div class="col-sm-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="especiaisYpo" id="especiaisYpo" value="s" <?php echo ('s' == $this->view->obj->especiaisYpo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="especiaisYpo">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="especiaisYpo" id="especiaisYpo2" value="n" <?php echo ('n' == $this->view->obj->especiaisYpo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="especiaisYpo2">Não</label>
                                    </div>
                                </div>
                            </div>  
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Colocar link para abrir o whatsapp?</label>
                                <div class="col-sm-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="botaoZap" id="botaoZap" value="s" <?php echo ('s' == $this->view->obj->botaoZap ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="botaoZap">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="botaoZap" id="botaoZap2" value="n" <?php echo ('n' == $this->view->obj->botaoZap ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="botaoZap2">Não</label>
                                    </div>
                                </div>
                            </div> 

                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idempresa ?>">
                    <input type="hidden" name="imagens" value="<?php echo $this->view->obj->imagens ?>">
                    <input type="hidden" name="redesSociais" value="<?php echo $this->view->obj->redesSociais ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="hidden-label-round-controls">Upload de imagens</h4>
                        <a class="heading-elements-toggle">
                            <i class="la la-ellipsis-v font-medium-3"></i>
                        </a>
                    </div>
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <form id="formimagem" action="<?php echo $this->view->action ?>" class="form-register">
                                <div class="form-group row">
                                    <div class="col-lg-8 col-md-12">
                                        <div class="card-block">
                                            <div class="card-body">
                                                <fieldset class="form-group">
                                                    <div class="custom-file">
                                                        <input onchange="uploadgenericmod('formimagem', 'inputimagem', '<?php echo $this->view->url ?>/uploads', 'inputimagempreview')" type="file" class="custom-file-input" name="fileinputimagem" id="fileinputimagem" aria-describedby="fileHelp">
                                                        <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="margin-top: 10px; margin-left:20px" class="form-group row">
                                        <label class="col-sm-4 col-form-label d-none d-sm-block">Tipo imagem:</label>
                                        <div class="col-sm-8   ">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="tipoimagem" id="tipoimagem" value="l"checked class="custom-control-input">
                                                <label class="custom-control-label" for="tipoimagem">Logo (500px x 500px)</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="tipoimagem" id="tipoimagem2" value="b" class="custom-control-input">
                                                <label class="custom-control-label" for="tipoimagem2">Banner</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="tipoimagem" id="tipoimagem3" value="g" class="custom-control-input">
                                                <label class="custom-control-label" for="tipoimagem3">Galeria</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-12">
                                        <img id="previewinputimagem" src="" class="img-fluid">
                                    </div>
                                    <div class="col-lg-12 mt-5">
                                        <div class="row">
                                            <div class="col-lg-9">
                                            <input type="text" style="height: 37px;" id="inputimagempreview" name="inputimagempreview" class="form-control">
                                            </div>
                                            <span class="col-lg-3">
                                                <button type="button" class="btn btn-info btn-flat copy"><i class="far fa-copy"></i> Copiar</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
</div>

<script>
    $(".copy").click(function(){
        $('#inputimagempreview').select();
        document.execCommand('copy');
        alert("Conteudo copiado!")
    });

    $(document).on("click", ".dupimagem", function(){
        var indice  = parseInt((Math.random() * 100), 10);
        var content = `<div style="margin-top: 10px" class="row">
                            <div class="col-lg-2">
                                <button type="button" data-index="${indice}" class="btn dupimagem">+</button>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" onchange="$('#previewimg${indice}').attr('src', $(this).val())"  name="imagem[]" title="Imagem" value="" class="form-control round" placeholder="Imagem">
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <img id="previewimg${indice}" src="" class="img-fluid">
                                <a href="#." data-index="${indice}" class="text-danger remove"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>`;

        $("#imagemContent").append(content);
    })

    $(document).on('click', '.remove', function(){
        $(this).closest(".row").remove();
    });

    $(document).on("click", ".duprede", function(){
        var indice  = parseInt((Math.random() * 100), 10);
        var content = `<div style="margin-top: 10px" class="row">
                            <div class="col-lg-2">
                                <button type="button" data-index="${indice}" class="btn duprede">+</button>
                            </div>
                            <div class="col-lg-1">
                                <i id="previewicon${indice}" class=""></i>
                                <a href="#." data-index="${indice}" class="text-danger remove"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="col-lg-4">
                                <input type="text" onchange="$('#previewicon${indice}').attr('class', $(this).val())"  name="redesocial[icone][]" title="Icone" value="" class="form-control round" placeholder="Icone">
                            </div>
                            <div class="col-lg-5">
                                <input type="text"  name="redesocial[link][]" title="Link" value="" class="form-control round" placeholder="Link">
                            </div>
                        </div>`;

        $("#redeContent").append(content);
    })
</script>