<!-- Content Header (Page header) -->
<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><?php echo $this->view->titulo ?></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <?php foreach ($this->view->breadcrumb['label'] as $index => $value) {
                    if ($this->view->breadcrumb['active'][$index] == 'active') { ?>
                        <li class="breadcrumb-item active" aria-current="page"><span><?= $this->view->breadcrumb['label'][$index] ?></span></li>
                    <?php } else { ?>
                        <li class="breadcrumb-item"><a href="<?= $this->view->breadcrumb['url'][$index] ?>"><?= $this->view->breadcrumb['label'][$index] ?></a></li>
                    <?php } ?>
                <?php } ?>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>