  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="https://deepocean.com.br">Deepocean.com.br</a>.</strong>
    All rights reserved.
    </div>
  </footer>