<title><?php echo $this->titulo_pagina . ' | ' . $this->view->info->datasite->title ?></title>
<meta charset="UTF-8">
<meta name="author" content="">
<meta name="description" content="">
<meta name="robots" content="noarchive">
<meta name="reply-to" content="c">
<meta name="keywords" content="<?php echo $this->view->info->seo->keywords ?>">
<meta property="og:locale" content="pt-br">
<meta property="og:url" content="<?php echo URL_DEFAULT_SITE ?>">
<meta property="og:title" content="<?php echo $this->view->info->datasite->title ?>">
<meta property="og:site_name" content="<?php echo $this->view->info->datasite->title ?>">
<meta property="og:description" content="<?php echo $this->view->info->seo->description ?>">
<meta property="og:image" content="<?php echo $this->view->info->datasite->logo ?>">
<link rel="apple-touch-icon" href="<?php echo $this->view->info->datasite->favicon ?>">
<link rel="shortcut icon" type="image/png" href="<?php echo $this->view->info->datasite->favicon ?>">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
<!-- iCheck -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- JQVMap -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/jqvmap/jqvmap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/dist/css/adminlte.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Daterange picker -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/daterangepicker/daterangepicker.css">
<!-- summernote -->
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/summernote/summernote-bs4.min.css">

<!-- summernote -->
<link rel="stylesheet" href="/templates/common/css/dashboard.css">

<!-- jQuery -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!--JQUERY SERIALIZEJSON-->
<script src="/templates/common/js/jquery.serializeJson.js"></script>

<script src="/templates/common/js/app.js" type="text/javascript"></script>

<!-- DataTables -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
$(function () {
    table = $('.table').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": false,
    });

    $('.table tr:last .dtMoveDown').remove();

    // Remove previous binding before adding it
    $('.dtMoveUp').unbind('click');
    $('.dtMoveDown').unbind('click');

    // Bind clicks to functions
    $('.dtMoveUp').click(moveUp);
    $('.dtMoveDown').click(moveDown);
    // Move the row up
    function moveUp() {
      var tr = $(this).parents('tr');
      moveRow(tr, 'up');
    }

    // Move the row down
    function moveDown() {
      var tr = $(this).parents('tr');
      moveRow(tr, 'down');
    }

    // Move up or down (depending...)
    function moveRow(row, direction) {
      var index = table.row(row).index();

      var order = -1;
      if (direction === 'down') {
        order = 1;
      }

      var data1 = table.row(index).data();
      data1[0] = parseInt(data1[0]) + order;

      var data2 = table.row(index + order).data();
      data2[0] = parseInt(data2[0]) + -order;

      table.row(index).data(data2);
      table.row(index + order).data(data1);

      table.page(0).draw(false);
    }
  });
</script>
<style>
table.dataTable thead th, table.dataTable thead td {
    border-bottom: unset;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: unset;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  padding: unset;
}
</style>
