 
 <style>
 .bg-submenu{
   background-color: #264a60
 }
 </style>
 <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contatos</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge"><?php echo $this->view->info->countContacts ?></span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header"><?php echo $this->view->info->countContacts ?> Notificações</span>
          <div class="dropdown-divider"></div>
          <?php foreach($this->view->info->contacts as $contact){ ?>
            <a href="/contacts/view/<?php echo $contact->idcontact ?>" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> <?php echo $contact->name.' - '.$contact->subject ?>
              <span class="float-right text-muted text-sm"><?php echo $contact->date_create ?></span>
            </a>
            <div class="dropdown-divider"></div>
          <?php } ?>
          <a href="/contacts" class="dropdown-item dropdown-footer">Ver todos os contatos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout" role="button">
          <i class="nav-icon fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
    <img src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light"><?php echo $this->view->info->datasite->title ?></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <a href="/perfil/<?php echo $_SESSION['user_id'] ?>">
                <?php if (isset($_SESSION['image']) && !empty($_SESSION['image'])) {?>
                    <img class="img-circle elevation-2" src="<?php echo $_SESSION['image'] ?>" alt="User picture">
                <?php } else {?>
                    <span class="cl avatar-user text-white bg-info" style="width: 40px;height: 40px;display: flex;border-radius: 100%;justify-content: center;align-items: center;"><?php echo $_SESSION['name'][0] ?></span>
                <?php }?>
            </a>
        </div>
        <div class="info">
          <a href="#" class="d-block"><?php echo $_SESSION['name'] ?></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
        <?php $menu = $this->view->retorno['leveltop'];
        $total = $this->view->retorno['total']; 
        for ($i = 0; $i < $total; $i++) {?>
          <li class="nav-item <?php echo $menu[$i]['active'] ?> <?php echo $menu[$i]['focus'] ?>">
            <a href="<?php echo $menu[$i]['function'] != "" ? "/" . $menu[$i]['function'] : "#." ?>" class="nav-link">
              <i class="nav-icon <?php echo $menu[$i]['icon'] ?>"></i>
              <p>
                <?php echo $menu[$i]['title'] ?>
                <?php echo $menu[$i]['total'] > 0 ? '<i class="right fas fa-angle-left"></i>' : ''; ?>
              </p>
            </a>
            <?php if ($menu[$i]['total'] > 0) {?>
                <ul style="background: #333;" class="nav nav-treeview">
                <?php
                $sub = $menu[$i]['submenus'];
                for ($s = 0; $s < $menu[$i]['total']; $s++) {?>
                    <li class="nav-item <?php echo $sub[$s]['focus'] ?>">
                        <a href="/<?php echo $sub[$s]['function'] ?>" class="nav-link">
                            <i class="<?php echo $sub[$s]['icon'] ?> nav-icon"></i>
                            <p><?php echo $sub[$s]['title'] ?></p>
                        </a>
                    </li>
                <?php } ?>
                </ul>
            <?php } ?>
          </li>
        <?php } ?>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
                Sair
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>