<!-- jQuery UI 1.11.4 -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- ChartJS -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/moment/moment.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/dist/js/adminlte.js"></script>
<!-- Select2 -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/select2/js/select2.full.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/inputmask/jquery.inputmask.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/dist/js/pages/dashboard.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" integrity="sha512-Rdk63VC+1UYzGSgd3u2iadi0joUrcwX0IWp2rTh6KXFoAmgOjRS99Vynz1lJPT8dLjvo6JZOqpAHJyfCEZ5KoA==" crossorigin="anonymous"></script>
<script>
  

  $('.summernote').summernote({
      placeholder: 'Insira seu texto aqui',
      tabsize: 2,
      height: 300
  });
  $(function () {
    //MASK
    $('[data-mask]').inputmask();
    $("#money").maskMoney({
         prefix: "",
         decimal: ".",
         thousands: ""
     });
  });
    
</script>