<div class="col-md-12">

<h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Categoria">Categoria</label>
                                    <select onchange="loadregistercombobox(this, '#idcategoria2', '/categories/load')" class="form-control round" name="idcategoria" id="input4">
                                        <option value="">Selecione</option>
                                        <?php foreach ($this->view->adds->categorias as $g) {?>
                                            <option <?=($g->idcategory == $this->view->obj->idcategoria ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Categoria">Sub-Categoria</label>
                                    <select onchange="mostrarInputs(this)" class="form-control round" name="idcategoria2" id="idcategoria2">
                                        <option value="">Selecione</option>
                                        <?php foreach ($this->view->adds->subcategorias as $g) {?>
                                            <option <?=($g->idcategory == $this->view->obj->idcategoria2 ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Cidade ou Região">Cidade ou Região</label>
                                    <input type="text"  name="cidade" title="Cidade ou Região" value="<?php echo htmlentities($this->view->obj->cidade) ?>" class="form-control round" placeholder="Cidade ou Região">
                                </div>
                            </div>
                            <div id="estado" class="col-md-6 <?php echo $this->view->obj->idcategoria2 == 38 ? 'd-none' : ''; ?>">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="estado"  title="Estado" class="form-control" style="width: 100%;">
                                        <option value="">Selecione</option>
                                    <?php foreach($this->view->adds->ufs as $uf){ ?>
                                            <option <?php echo $uf->sigla == $this->view->obj->estado ? 'selected' : '' ?> value="<?php echo $uf->sigla ?>"><?php echo $uf->nome ?></option>
                                        <?php } ?>
                                    </select>
                                </div>
                            </div>
                            <div id="pais" class="col-lg-6 <?php echo $this->view->obj->idcategoria2 != 38 ? 'd-none' : ''; ?>">
                                <div class="form-group">
                                    <label class="label" for="País">País</label>
                                    <input type="text"  name="pais" title="País" value="<?php echo htmlentities($this->view->obj->pais) ?>" class="form-control round" placeholder="País">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <?php if(isset($this->view->adds->iduser)){
                                    echo '<input type="hidden" name="iduser" value="'.$this->view->adds->iduser.'">';
                                }else{ ?>
                                    <div class="form-group">
                                        <label for="Usuário">Usuário</label>
                                        <select class="form-control round" name="iduser" id="iduser">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->usuarios as $g) {?>
                                                <option <?=($g->iduser == $this->view->obj->iduser ? "selected" : "");?> value="<?=$g->iduser?>"><?=$g->name?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                <?php } ?>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Titulo">Titulo/NOME</label>
                                    <input type="text" required  name="nome" title="Titulo" value="<?php echo htmlentities($this->view->obj->nome) ?>" class="form-control round" placeholder="Titulo">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="Nome Contato">Nome Contato</label>
                                    <input type="text"  name="nomeContato" title="Nome Contato" value="<?php echo htmlentities($this->view->obj->nomeContato) ?>" class="form-control round" placeholder="Nome Contato">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="E-mail Contato">E-mail Contato</label>
                                    <input type="text"  name="emailContato" title="E-mail Contato" value="<?php echo htmlentities($this->view->obj->emailContato) ?>" class="form-control round" placeholder="E-mail Contato">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Whatsapp">Whatsapp</label>
                                    <input type="text"  onkeypress="mask(this, mphone);"  name="whatsapp" title="Whatsapp" value="<?php echo htmlentities($this->view->obj->whatsapp) ?>" class="form-control round" placeholder="Whatsapp">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Telefone">Telefone</label>
                                    <input type="text"  onkeypress="mask(this, mphone);"  name="telefone" title="Telefone" value="<?php echo htmlentities($this->view->obj->telefone) ?>" class="form-control round" placeholder="Telefone">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="label" for="Site">Site</label>
                                    <input type="text"  name="site" title="Site" value="<?php echo htmlentities($this->view->obj->site) ?>" class="form-control round" placeholder="Site">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Descrição">Descrição</label>
                                    <textarea name="texto" rows="5" title="Descrição" class="form-control round summernote" placeholder="Descrição"><?php echo htmlentities($this->view->obj->texto) ?></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="Texto">Keywords</label>
                                    <textarea name="palavrasChaves" rows="5" title="Keywords" class="form-control" placeholder="Keywords"><?php echo $this->view->obj->palavrasChaves ?></textarea>
                                </div>
                            </div>
                        </div>
                            <div style="margin-top: 10px" class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-8   ">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo" value="s" <?php echo ('s' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo2" value="n" <?php echo ('n' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo2">Não</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->iddica ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function mostrarInputs(el){
    if($(el).val() == 38){
        $('#estado').addClass('d-none');
        $('#pais').removeClass('d-none');
        return false;
    }
    $('#estado').removeClass('d-none');
    $('#pais').addClass('d-none');
}

function mask(o, f) {
    setTimeout(function() {
        var v = mphone(o.value);
        if (v != o.value) {
        o.value = v;
        }
    }, 1);
}

function mphone(v) {
    var r = v.replace(/\D/g, "");
    r = r.replace(/^0/, "");
    if (r.length > 10) {
        r = r.replace(/^(\d\d)(\d{5})(\d{4}).*/, "($1) $2-$3");
    } else if (r.length > 5) {
        r = r.replace(/^(\d\d)(\d{4})(\d{0,4}).*/, "($1) $2-$3");
    } else if (r.length > 2) {
        r = r.replace(/^(\d\d)(\d{0,5})/, "($1) $2");
    } else {
        r = r.replace(/^(\d*)/, "($1");
    }
    return r;
}
</script>