<section class="content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="form-t1">Dicas</h4>
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) { ?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <a href="<?php echo $this->view->url ?>/create" class="btn btn-min-width mr-1 mb-1">Adicionar dica</a>
                            <div class="row">
                                <div class="col-lg-12">
                                    <?php if(isset($this->view->adds->usuario)){
                                        echo '';
                                    }else{ ?>
                                        <div class="form-group">
                                            <label for="Usuário">Usuário</label>
                                            <select onchange="window.location='/dicas/index?iduser='+$(this).val()" class="form-control round" name="iduser" id="iduser">
                                                <option value="">Selecione</option>
                                                <?php foreach ($this->view->adds->usuarios as $g) {?>
                                                    <option <?=((isset($_GET['iduser']) && $g->iduser == $_GET['iduser']) ? "selected" : "");?> value="<?=$g->iduser?>"><?=$g->name?></option>
                                                <?php }?>
                                            </select>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Categoria">Categoria</label>
                                        <select onchange="window.location='/dicas/index?categoria='+$(this).val()" class="form-control round" name="idcategoria" id="input4">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->categorias as $g) {?>
                                                <option <?=((isset($_GET['categoria']) && $g->idcategory == $_GET['categoria']) ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Categoria">Sub-Categoria</label>
                                        <select onchange="window.location='/dicas/index?subcategoria='+$(this).val()" class="form-control round" name="idcategoria2" id="idcategoria2">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->subscategoria as $g) {?>
                                                <option <?=((isset($_GET['subcategoria']) && $g->idcategory == $_GET['subcategoria']) ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) { ?>
                                            <tr>
                                                <td>
                                                    <?php echo strlen($a->nome) ? $a->nome : $a->empresa ?><br>
                                                    <?php echo !strlen($a->whatsapp) ? '': '<small title="'.$a->whatsapp.'">Zap:'.mb_strimwidth($a->whatsapp, 0, 20, "...").'</small><br>' ?>
                                                    <?php echo !strlen($a->telefone) ? '': '<small title="'.$a->telefone.'">Tel: '.mb_strimwidth($a->telefone, 0, 20, "...").'</small><br>' ?>
                                                    <?php echo '<small>'.$a->categoria.'</small>' ?>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <?php echo $a->ativo == 's' ? '<i class="text-success fa fa-check"></i>' : '<i class="text-danger fas fa-ban"></i>' ?>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="<?php echo $this->view->url ?>/update/<?php echo $a->iddica ?>" class="text-info">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->iddica ?>', '<?php echo $a->nome ?>')" href="#." class="text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>