@charset "utf-8";
/* CSS Document */

body {background-color:#eeeeee; height:100%}

.button {background-color:#007DC5; font-size:18px; color:#ffffff; padding:13px; border-radius:10px; border-style:none
}
.reset {background-color:#ffffff; font-size:18px; color:#007DC5; padding:12px; border-radius:10px; border-style:solid; border-width:1px; border-color:#007DC5;
}

h2 { text-align:center; margin-top:3%; color:#073f74; font-size:20px;}

p { font-size:14px; margin-bottom:24px;}

form{ color:#333; vertical-align:central; font-family:Arial, Helvetica, sans-serif;}

a {cursor:pointer; text-decoration:none;}
.button {cursor:pointer; text-decoration:none;}
.reset {cursor:pointer; text-decoration:none;}

.reset:hover { background-color:#eee}
.button:hover { background-color:#0067a3}

#head { width:760px; margin-left:25%; background-color:#ffffff; padding-bottom:30px; margin-bottom:30px; font-family:Arial, sans-serif; font-size:18px; color:#073f74;}
#formulario { padding-left: 40px; padding-right:40px; width:680px;}
.gray{height:20px; background-color:#cccccc; margin-bottom:20px;}
.blue{ background-color:#052e4e; height:40px; margin-bottom:20px; color:#FFFFFF; font-size:28px; text-align:right; padding:5px; padding-right:20px; padding-top:10px;}

#nomedoforum{width:400px;}
