<style>
.mt-5{
	margin-top: 150px !important
}
.mb-5{
	margin-bottom: 150px !important
}
h5 {
	padding-bottom: 0px
}
ul {
	padding-left: 20px
}
.d-none{
	display: none;
}
</style>
<main id="mainContent" style="background-color:#fff" class="container-categoria container-parcerias">
	<section class="parcerias-banner">
		<div id="listagem" class="banner-topo">
			<div>
				<span class="shape-down"></span>
				<h2>Busca</h2>
			</div>
		</div>
	</section>
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-lg-6">
				<?php echo strlen($this->view->adds->busca) ? '<h3>Buscar por: '.$this->view->adds->busca.'</h3>' : ''; ?>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->diretoria) ? 'd-none' : ''; ?>">
				<h5>Diretoria:</h5>
				<div class="row">
					<?php echo $this->view->adds->diretoria; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->contatos) ? 'd-none' : ''; ?>">
				<h5>Contatos:</h5>
				<div class="row">
					<?php echo $this->view->adds->contatos; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->spouse) ? 'd-none' : ''; ?>">
				<h5>Spouses:</h5>
				<div class="row">
					<?php echo $this->view->adds->spouse; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->classificados) ? 'd-none' : ''; ?>">
				<h5>Classificados:</h5>
				<div class="row">
					<?php echo $this->view->adds->classificados; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->parceiros) ? 'd-none' : ''; ?>">
				<h5>Parceiros:</h5>
				<div class="row">
					<?php echo $this->view->adds->parceiros; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->retreats) ? 'd-none' : ''; ?>">
				<h5>Retreats:</h5>
				<div class="row">
					<?php echo $this->view->adds->retreats; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->categoriasDicas) ? 'd-none' : ''; ?>">
				<h5>Categorias de dicas:</h5>
				<div class="row">
					<?php echo $this->view->adds->categoriasDicas; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->dicas) ? 'd-none' : ''; ?>">
				<h5>Dicas:</h5>
				<div class="row">
					<?php echo $this->view->adds->dicas; ?>
				</div>
			</div>
			<div class="col-lg-12  mb-4 <?php echo !strlen($this->view->adds->videoteca) ? 'd-none' : ''; ?>">
				<h5>Videoteca:</h5>
				<div class="row">
					<?php echo $this->view->adds->videoteca; ?>
				</div>
			</div>
		</div>
	</div>
</main>