<style>
#mainContent{
    margin-top:150px;
    margin-bottom:150px
}
h3{
    color: #3d5463;
}
</style>

<main id="mainContent" class="container-categoria">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3><?php echo $this->view->adds->institucional->title; ?></h3>
                <h3 class="<?php echo !strlen($this->view->adds->institucional->subtitle) ? 'd-none' : ''; ?>"><?php echo $this->view->adds->institucional->subtitle; ?></h3>
                <?php echo $this->view->adds->institucional->text; ?>
            </div>
        </div>
    </div>
</main>