<style>
#footer .copyright {
    line-height: 2;
}
#footer .copyright a{
	cursor: pointer !important;
}

.cookie { 
    padding: 10px 0px;
    }

.cookie .operations {
    margin-left: auto;
    }

.cookie .operations .btn {
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px !important;
    color: #fff;
    background-color: #3d5463;
    border-color: #3d5463;
    padding: 10px 30px;
    }

.cookie .operations .btn:hover {
    background-color: #0b213a !important;
    }
    
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
    }
</style>
<?php if(empty($_COOKIE['cookie-module'])){ ?>

<div id="cookie-1" class="cookie" style="position: fixed;  width: 100%; z-index: 9999; background-color: #dcaa1f; bottom: 0; opacity: 0.9;">
    <div class="container container-cookie">
      <div class="d-flex align-items-center">
        <div class="content" style=" color: #fff; font-size: 13px;line-height: initial;">Nosso site usa recursos de armazenamento (cookies) para melhorar e personalizar sua experiência de navegação. <br>Para saber mais sobre nossas políticas, leia <a href="/page/politica-de-privacidade" style="color:#303236; "> Política de privacidade.</a></div>

        <div class="operations">          
           <div class="btn btn-success" onclick="cookies_();">OK</div>
        </div>
      </div>
    </div>
</div>
<?php }; ?>
<script type="text/javascript">
function cookies_() {
  
       var now = new Date();
         var time = now.getTime();
         time += 3600 * 24 * 1000 * 365;
         now.setTime(time);
       document.cookie = encodeURIComponent('cookie-module') + "=" + encodeURIComponent(1) + ';expires=' + now.toUTCString() + "; path=/";
       $('#cookie-1').fadeOut('slow');
}
</script>
<footer id="footer" class="no-indent container-footer">
	<div class="container ">
		<div class="row footer-redes">
			<div class="col-md-12 col-lg-5 container-footer-logo">
				<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/Logo.jpg" alt="">
				<span>A comunidade de liderança global de <br> executivos extraordinários.</span>
			</div>
			<div class="col-md-12 col-lg-5 container-footer-rede-sociais">
				<?php foreach($this->view->info->social as $social){ ?>
					<span style="cursor:pointer" onclick="window.location='<?php echo $social->link; ?>'">
						<i class="<?php echo $social->icon; ?>"></i>
					</span>
				<?php } ?>
			</div>
		</div>
	</div>
<div class="footer-custom container-footer-end">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-12 col-lg-7">
				<div class="copyright">
					&copy; 2020, YPO. TODOS OS DIREITOS RESERVADOS.   |  <a href="/page/termos-de-uso">POLÍTICA DE PRIVACIDADE E TERMOS DE USO YPO</a>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-4 ml-md-auto">
				<div class="footer-menu">
					<nav>
						<span>CRIAÇÃO/DESIGN  <span class="color-azul">AGÊNCIA ME</span>   |  DESENVOLVIMENTO  <a href="https://www.deepocean.com.br" target="_blank" class="color-azul">DEEP OCEAN</a></span>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

</footer>
<style>
.link-minha-conta {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    line-height: 22px;
    font-weight: 800;
    letter-spacing: -0.03em;
    padding: 14px 10px 14px 0px;
    display: block;
    position: relative;
    text-decoration: none;
    transition: color 0.2s linear;
}
</style>
<a href="#" id="js-back-to-top" class="btn-scroll-top">
	<i class="fas fa-chevron-up"></i>
</a>
<div id="nav-aside">
	<a href="#" class="nav-aside__close">
		<i class="icon">
			<span class="closeMenu" >
				<i class="fas fa-times"></i>
			</span>
		</i>
		<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/Logo.jpg" alt="">
	</a>
	<div class="nav-aside__content">
		<div id="nav-aside_menu"></div>
		<ul class="nav-asid__list">
			<li><a href="#">Documents</a></li>
			<li><a href="#">Training Camp</a></li>
			<li><a href="#">Drone Platform</a></li>
			<li><a href="#">Additional Info</a></li>
			<li><a href="#">Elements</a></li>
		</ul>
		<a class="link-minha-conta" href="<?php echo isset($this->view->info->session['link']) ? $this->view->info->session['link'] : '/login'; ?>">Minha Conta</a>
		<a class="link-minha-conta" style="<?php echo !isset($this->view->info->session['link']) ? 'display:none' : ''; ?>" href="/logout">Sair</a>
	</div>

</div>