<meta charset="utf-8">
    <title><?php echo $this->view->info->datasite->title; ?></title>
    <meta name="keywords" content="<?php echo $this->view->info->datasite->keywords; ?>">
    <meta name="description" content="<?php echo $this->view->info->datasite->description; ?>">
    <meta name="author" content="Deep Ocean">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="<?php echo $this->view->info->datasite->favicon; ?>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/style.css">
    <link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SISTEMA ?>/plugins/fontawesome-free/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<?php echo $this->view->info->datasite->scriptanalytics ?>
    <!-- summernote -->
    <link rel="stylesheet" href="/templates/sistema/AdminLTE/plugins/summernote/summernote-bs4.min.css">
    <script src="/templates/sistema/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
   
    <!-- Load google font
    ================================================== -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet"> 

<style>
.box-form-flex .select-custom-02.nice-select, input{
    max-width: unset !important;
}
.box-form-flex .select-custom-02.nice-select, input {
    width: 100% !important;
    height: 65px !important;
    position: relative;
    border-radius: 3px !important;
    border: 1px solid #c4c4c4 !important;
}
</style>