<style>
.divBusca {
    margin: 0 auto;
    width: 80%;
}

.box-search{
    max-width: 100px;
}
#top-bar__navigation > ul > li > a {
    font-size: 15px;
}
.top-bar__custom-btn {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.d-none{
    display:none;
}
.button-search-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#dcaa1e;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    z-index:9999;
    display:none;
}

.my-float{
	margin-top:22px;
}

@media (max-width: 1024.98px) {
    .button-search-float{
        display:block;
    }
}
</style>

<div class="container-fluid">
    <div class="row  no-gutters ">
        <div class="col-md-2 side-col d-flex align-items-center text-nowrap">
            <!-- start navigation-toggle -->
				<a href="#" id="top-bar__navigation-toggler" class="hide-object-desktop">
					<span></span>
				</a>
				<!-- end navigation-toggle -->
				<!-- start logo -->
            <a href="/index" class="top-bar__logo">
                <img src="<?php echo $this->view->info->datasite->logo; ?>" alt="">
            </a>
            <!-- end logo -->
        </div>
        <div class="col-md-7">
            <!-- start desktop menu -->
            <nav id="top-bar__navigation">
                <ul>
                    <?php foreach($this->view->info->menuSite as $menu){ ?>
                        <li>
                            <a <?php echo $menu->link_externo == 's' ? 'target="_blank"' : ''; ?> href="<?php echo $menu->link; ?>"><span><?php echo $menu->title; ?></span></a>
                            <?php if($menu->link == '/contato'){ ?>
                                <!--<ul>
                                    <li><a href="/contato">YPO</a></li>
                                    <li><a href="/spouses">Spouse</a></li>
                                </ul>-->
                            <?php } ?>
                        </li>
                    <?php } ?>
                </ul>
            </nav>
            <!-- end desktop menu -->
        </div>
        <div class="col-md-3 side-col">
            <span onclick="mostrarBusca()" class="box-search"><i class="fas fa-search"></i></span>
            <a style="padding-left: 0px;" href="<?php echo isset($this->view->info->session['link']) ? $this->view->info->session['link'] : '/login'; ?>" class="top-bar__custom-btn <?php echo isset($this->view->info->session['class']) ? $this->view->info->session['class'] : ''; ?>">
                <span style="display: block ruby;">
                    <i style="margin-left: 4px" class="far fa-user"></i>
                    <?php echo isset($this->view->info->session['name']) ? explode(' ', $this->view->info->session['name'])[0] : 'Minha COnta'; ?>
                </span>
            </a>
            <!-- end custom btn -->
        </div>
        
    </div>
    <div class="boxBusca">
        <div class="divBusca">
            <input type="text" style="border-right: none !important;" id="txtBusca" placeholder="Buscar..."/>
            <button style="height: 65px;" onclick="buscar()">

                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    
</div>

<a href="#" onclick="mostrarBusca()" class="button-search-float">
    <i class="fas fa-search my-float"></i>
</a>
<script>
    function mostrarBusca(){
        $('.boxBusca').css('top', '-10000px')
        $('.boxBusca').css('top', 'unset')
    }

    function buscar(){
        if($('#txtBusca').val() == '') {
            alert('Preecha a busca');
            return false;
        }
        window.location="/buscar/"+encodeURI($('#txtBusca').val()+'#listagem')
    }
</script>