
<script src="https://kit.fontawesome.com/ca4f1d2444.js" crossorigin="anonymous"></script>
<div class="pr-svg-sprite">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous"></script>
<!--JQUERY SERIALIZEJSON-->
<script src="/templates/common/js/jquery.serializeJson.js"></script>
<script src="/templates/common/js/app.js" type="text/javascript"></script>
<script src="/templates/ypo/js/bundle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/js/script.js"></script>
<script>

$(document).ready(function() {
        $('textarea.summernote').summernote();
    });
</script>