<div onclick="showMenu()" class="openMenuMobile">
      <button>
        Menu
        <i class="fas fa-bars"></i>
      </button>
    </div>
<div class="menu-categoria">
  <div class="menu-cadastro-categoria-t1">
    <span class="shape-menu-categoria"></span>
    <h2>
      Minha conta
    </h2>
  </div>
  <div class="box-menu-categoria">
    <div class="menuClassificados">
     <?php echo $this->view->retorno; ?>
    <h2 style="padding-bottom:10px" class="menu-classificados-t1">
        <a style="color: unset;text-decoration: none;" href="/perfil/<?php echo $_SESSION['user_id']; ?>">
        <i class="nav-icon fas fa-user" aria-hidden="true"></i> 
        Meu Perfil</a>
    </h2>
    </div>
  </div>
  <div class="menuClose">
    <button onclick="window.location='/logout'">
      Sair
    </button>
  </div>
</div>     