<main id="mainContent" class="container-categoria container-classificados">
      <section class="dica-indicacao-banner">
				<div class="banner-topo">
					<div>
						<span class="shape-down"></span>
						<h2>Classificados</h2>
					</div>
				</div>
		</section>
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
        <div class="col-lg-6">
          <?php if($this->view->adds->mostrarSubCategoria){ ?>
            <section>
              <div class="container container-select-video">
                <div class="row <?php echo count($this->view->adds->subscategoria) == 0 ? 'd-none' : '' ?>">
                  <div class="col-md-12 box-select-video mb-2">
                    <select onchange="redirect($(this).val())" class="mr-0" name="mostrar" id="mostrar">
                      <option hide value=""> Sub-Categoria: </option>
                      <?php foreach($this->view->adds->subscategoria as $value){ ?>
                        <option value="<?php echo $value->url; ?>#listagem" <?php echo ($value->idcategory == $_GET['categoria'] ? 'selected' : ''); ?> ><?php echo $value->title; ?></option>
                      <?php  } ?>
                    </select>
                  </div>
                </div>
              </div>
            </section>
          <?php } ?>
        </div>
        <div class="col-lg-6">
          <a href="/cadastro-classificados/create" style="margin:35px 0px 60px; background-color:#073050; color:#fff" class="btn btn-min-width mr-1 mb-1 pull-right">Criar Classificado</a>
        </div>
        <div class="col-md-4">
        <?php $this->includepage("Ypo.Institucional.Includes.Classificados.classificados-menu")?>
        </div>
        <div id="listagem" class="col-md-8">
            <div class="row">
              <?php foreach($this->view->adds->listagem as $value){ ?>
                <div class="col-md-6">
                  <div onclick="window.location='<?php echo $value->url; ?>'" style="padding-bottom: 10px; cursor:pointer" class="item-classificados">
                    <div class="img">
                      <a href="<?php echo $value->url; ?>"><img src="<?php echo $value->logo; ?>" alt=""></a>
                    </div>
                    <div class="pl-3">
                      <div class="title"><h2><?php echo $value->nome; ?></h2></div>
                      <div class="valor <?php echo ($value->valor == 0 or $value->valor == 0.00) ? 'd-none' : ''; ?>"><span><?php echo $value->moeda; ?> <?php echo number_format($value->valor,2,',','.'); ?></span></div>
                      <div class="status"><span><?php echo $value->tipo; ?></span></div>
                    </div>
                  </div>
                </div>
              <?php }; ?>
            </div>
            <div class="col-md-12 container-dica-indicacao-itens mb-5">
            <div class="row ">
              <div class="col-md-12">
                <div class="page-nav">
                  <ul class="page-nav__list">
                      <?php if($this->view->adds->paginacao > 1){
                        $pageAnt = str_replace('%7Bpage%7D', ($this->view->adds->paginacao-1),$this->view->adds->urlPagination);
                        ?>
                            <li>
                                <a href="/<?php echo $pageAnt ?>" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        <?php } ?>
                        <?php

                        $pags = ceil($this->view->adds->total/$this->view->adds->limit);

                        for($i = $this->view->adds->paginacao; $i < $this->view->adds->paginacao + $this->view->adds->max_links; $i++) {
                            if ($i <= $pags){ 
                              $page = str_replace('%7Bpage%7D', $i, $this->view->adds->urlPagination);
                              ?>
                                <li class="<?php if($this->view->adds->paginacao == $i){echo 'active';} ?>"><a <?php if($this->view->adds->paginacao == $i){?> href="#" <?php }else{ ?>href="/<?php echo $page ?>"<?php } ?>><?php echo $i ?></a></li>
                        <?php }
                        } ?>

                        <?php
                        if(($this->view->adds->paginacao+1) < $pags){ 
                          $pageProx = str_replace('%7Bpage%7D', ($this->view->adds->paginacao+1),$this->view->adds->urlPagination);
                          ?>
                            <li><a href="<?php echo $pageProx ?>"><i class="fas fa-chevron-right"></i></a></li>
                        <?php }?>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</main>
<script>
function redirect(url){
  window.location = url;
  return false;
}

</script>