

<style>
.info2 a {
    font-size: 21px;
    font-weight: 600;
    color: #00253c;
    text-decoration: none;
}
</style>
<main id="mainContent" class="">
  <div class="container-parcerias-detalhe">
    <div class="container p-0">
      <div div class="row">
        <div class="col-lg-12">
          <?php echo $this->view->adds->breadcrumb; ?>
        </div>
      </div>
    </div>
    <div class="container box-parcerias-detalhe">
      <div class="box-parcerias-img">
        <img src="<?php echo $this->view->adds->classificado->banner; ?>" alt="">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box-parcerias-title">
            <img class="<?php echo !strlen($this->view->adds->classificado->banner) ? 'mt-0' : '' ?>" style="height:300px;border: 1px solid #fff;" src="<?php echo $this->view->adds->classificado->logo; ?>" alt="">
            <h2><?php echo $this->view->adds->classificado->nome; ?></h2>
          </div>
          <div class="col-md-12">
            <div class="box-parcerias-text">
                <p><?php echo $this->view->adds->classificado->texto; ?></p>
            </div>
          </div>
          <div class="col-md-12 container-parcerias-info">
            <div class="row ">
                <div class="<?php echo ($this->view->adds->classificado->valor == 0 or $this->view->adds->classificado->valor == 0.00) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                  <span class="info1">Valor</span>
                  <span class="info2"><?php echo $this->view->adds->classificado->moeda; ?><?php echo number_format($this->view->adds->classificado->valor, 2,',','.'); ?></span>
                </div>
              </div>
          </div>
          <div class="col-md-12 <?php echo !strlen($this->view->adds->classificado->video) ? 'd-none' : ''; ?>">
            <div class="box-parcerias-text" style="text-align: center;">
              <iframe class="col-lg-8" height="315" src="<?php echo $this->view->adds->classificado->video; ?>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12">
          <div class="container-parcerias-img-small">
            <div class="row box-parcerias-img-small">
                <?php if(is_array($this->view->adds->classificado->arrayImages)){ foreach($this->view->adds->classificado->arrayImages as $imagem){ ?>    
                    <div class="col-md-3">
                        <div class="box-parcerias-small-img mt-1">
                            <a href="<?php echo $imagem; ?>" data-lightbox="image-1" data-title="">
                              <img src="<?php echo $imagem; ?>" alt="">
                            </a>
                        </div>
                    </div>
                <?php } } ?>
            </div>
        </div>
        <div class="divisor">
        </div>
        <div class="col-md-12 container-parcerias-info">
          <div class="row ">
              <div class="<?php echo !strlen($this->view->adds->classificado->whatsapp) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Tel/WhatsApp</span>
                <span class="info2"><?php echo $this->view->adds->classificado->botaoZap == 's' ? '<a target="_blank" href="https://api.whatsapp.com/send?phone=55'.preg_replace("/[^0-9]/", "", $this->view->adds->classificado->whatsapp).'&text=Olá">'.$this->view->adds->classificado->whatsapp.'</a>' : $this->view->adds->classificado->whatsapp; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->classificado->nomeContato) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Contato</span>
                <span class="info2"><?php echo $this->view->adds->classificado->nomeContato; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->classificado->emailContato) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">E-mail</span>
                <span style="cursor:pointer" onclick="window.location='mailto:<?php echo $this->view->adds->classificado->emailContato; ?>'" class="info2"><?php echo $this->view->adds->classificado->emailContato; ?></span>
              </div>
              <div class="<?php echo !strlen($this->view->adds->classificado->site) ? 'd-none' : ''; ?> col-md-4 box-parcerias-info">
                <span class="info1">Site</span>
                <span style="cursor:pointer" onclick="window.open('http:\/\/<?php echo $this->view->adds->classificado->site; ?>', '_blank')" class="info2"><?php echo $this->view->adds->classificado->site; ?></span>
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>