<footer id="footer" class="no-indent footer-bg01">

<div class="footer-custom container-footer">
	<div class="container">  
		<div class="row align-items-center">
			<div class="col-md-4">
				<div class="copyright">
					&copy; 2020 YPO. All rights reserved..
				</div>
			</div>
			<div class="col-md-4 text-center">
				<a href="index.html" class="footer__logo">
					<img src="images/logo-white.png" alt="">
				</a>
			</div>
			<div class="col-md-4 text-right">
				<a href="#" id="js-back-to-top" class="btn-scroll-topo">
					<span class="shape"></span>
					<span>Voltar ao topo</span>
				</a>
			</div>
		</div>
	</div>
</div>

</footer>

<div id="nav-aside">
	<a href="#" class="nav-aside__close">
		<i class="icon">
			<svg>
				<use xlink:href="#remove"></use>
			</svg>
		</i>
		<img src="images/Logo.jpg" alt="">
	</a>
	<div class="nav-aside__content">
		<div id="nav-aside_menu"></div>
		<ul class="nav-asid__list">
			<li><a href="#">Documents</a></li>
			<li><a href="#">Training Camp</a></li>
			<li><a href="#">Drone Platform</a></li>
			<li><a href="#">Additional Info</a></li>
			<li><a href="#">Elements</a></li>
		</ul>
		<address>
			5961 Santa Fe Ave, Huntington<br>
			Park, CA 90255, USA
		</address>
		<address>
			+1 800 341 41 41	&nbsp; +1 800 834 62 74<br>
			<a href="mailto:info@quadron.co">info@quadron.co</a>
		</address>
		
	</div>
</div>