<meta charset="utf-8">
<title>YPO Turismo</title>
<meta name="keywords" content="HTML5 Template">
<meta name="description" content="Quadron - Responsive HTML5 Template">
<meta name="author" content="Quadron">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/favicon.ico">
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/turismo.css">
<link rel="stylesheet" href="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/css/style.css">

<!-- Load google font
================================================== -->
<script>
    WebFontConfig = {
        google: { families: [ 'Roboto:300,400,400i,500,700', 'Montserrat:700'] }
    };
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
</script>