<!-- Main content -->
<section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><?php echo $this->view->adds->countContacts ?></h3>

                <p>Novos contatos</p>
              </div>
              <div class="icon">
              <i class="fas fa-id-card-alt"></i>
              </div>
              <a href="/contacts" class="small-box-footer">Ver todos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><?php echo $this->view->adds->porcentagemDiferenca ?><sup style="font-size: 20px">%</sup></h3>

                <p>Diferença entre 30 e 60 dias</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/" class="small-box-footer">Ir pro site <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><?php echo $this->view->adds->countBlog ?></h3>

                <p>Posts</p>
              </div>
              <div class="icon">
              <i class="fas fa-newspaper"></i>
              </div>
              <a href="/blogs" class="small-box-footer">Ver todos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><?php echo $this->view->adds->visitasUnicas ?></h3>

                <p>Visitantes Unicos</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/" class="small-box-footer">Ir pro site <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Contatos Recentes</h4>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Data Contato</th>
                                            <th>Nome</th>
                                            <th>Assunto</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) { ?>
                                            <tr>
                                                <td><a href="#" class="cl name <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->date_create ?></a></td>
                                                <td><a href="#" class="cl subject <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->name ?></a></td>
                                                <td><a href="#" class="cl subject <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->subject ?></a></td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="/contacts/view/<?php echo $a->idcontact ?>" class="btn btn-info text-white">
                                                            <i class="fas fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Data Contato</th>
                                            <th>Nome</th>
                                            <th>Assunto</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->