<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                    <li class="nav-item">
                                        <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                    </li>

                                <?php
                                    $active = '';
                                        $expande = 'false';
                                    }
                                ?>
                            </ul>
                            <div class="tab-content px-1 pt-1">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    $role = 'role="tabpanel"';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Titulo">Titulo</label>
                                                <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="title[]" title="Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->title) ?>" class="form-control round" placeholder="Titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Mini Descrição">Mini descrição</label>
                                                <textarea name="mintext[]" rows="5" title="Mini Descrição em <?php echo $l->title ?>" class="form-control round" placeholder="Mini Descrição"><?php echo ($this->view->obj[$l->idlanguage]->mintext) ?></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Texto</label>
                                                <textarea name="text[]" rows="5" title="Texto em <?php echo $l->title ?>" class="form-control round summernote" placeholder="Texto"><?php echo htmlentities($this->view->obj[$l->idlanguage]->text) ?></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Description (Seo)">Description (Seo)</label>
                                                <textarea name="description[]" rows="5" title="Description (Seo) em <?php echo $l->title ?>" class="form-control round" placeholder="Description (Seo)"><?php echo ($this->view->obj[$l->idlanguage]->description) ?></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Keywords (Seo)">Keywords (Seo)</label>
                                                <textarea name="keywords[]" rows="5" title="Keywords (Seo) em <?php echo $l->title ?>" class="form-control round" placeholder="Keywords (Seo)"><?php echo ($this->view->obj[$l->idlanguage]->keywords) ?></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php
                                    $active = '';
                                        $expande = 'false';
                                        $role = '';
                                    }
                                ?>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select name="idcategory" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  title="Categoria" class="form-control" style="width: 100%;">
                                            <option value="">Selecione</option>
                                            <?php foreach($this->view->adds->categories as $category){ ?>
                                                <option <?php echo $category->idcategory == $this->view->adds->idcategory ? 'selected' : '' ?> value="<?php echo $category->idcategory ?>"><?php echo $category->title ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Segmento</label>
                                        <select name="idsegment" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  title="Segmento" class="form-control" style="width: 100%;">
                                            <option value="">Selecione</option>
                                            <?php foreach($this->view->adds->segments as $segment){ ?>
                                                <option <?php echo $segment->idsegment == $this->view->adds->idsegment ? 'selected' : '' ?> value="<?php echo $segment->idsegment ?>"><?php echo $segment->title ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Vídeo">Vídeo</label>
                                        <input type="text"  name="video" title="Vídeo" value="<?php echo $this->view->adds->video ?>" class="form-control round" placeholder="Vídeo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Imagem">Imagem</label>
                                        <input type="text" onblur="mostrarPreview(this)" name="image" id="image" title="Imagem" class="form-control round" placeholder="Imagem">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <img id="previewimage" src="" class="img-fluid">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Preço">Preço</label>
                                        <input type="text" name="price" id="money" title="Preço" value="<?php echo $this->view->adds->price ?>" class="form-control round" placeholder="Preço">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Ordem">Ordem</label>
                                        <input type="number" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="order" title="Ordem" value="<?php echo $this->view->adds->order ?>" class="form-control round" placeholder="Ordem">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="Icone">Icone</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i id="mostraicone" style="font-size: 15px; color: black" class="<?=$this->view->adds->icon?>"></i></span>
                                            <input type="text" onblur="trocaicone(this.value)" id="icone" name="icon" class="form-control" title="Icone" placeholder="Digite aqui o Icone Ex. fa fa-user" value="<?php echo $this->view->adds->icon ?>">
                                        <small><a target="_blank" href="http://fontawesome.com/">Veja mais icones</a></small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Documento">Documento</label>
                                        <input type="text" name="doc" id="doc" title="Documento" value="<?=$this->view->adds->doc?>" class="form-control round" placeholder="Documento">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Codigo de produto (SKU)">Codigo de produto (SKU)</label>
                                        <input type="text" name="productcode" id="productcode" value="<?=$this->view->adds->productcode?>" title="Codigo de produto (SKU)" class="form-control round" placeholder="Codigo de produto (SKU)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label d-none d-sm-block">Ativo:</label>
                                        <div class="col-lg-6">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="status">Sim</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="status2">Não</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-lg-6 col-form-label d-none d-sm-block">Destaque na home:</label>
                                        <div class="col-lg-6">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="home" id="home" value="s" <?php echo ('s' == $this->view->adds->home ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="home">Sim</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="home" id="home2" value="n" <?php echo ('n' == $this->view->adds->home ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="home2">Não</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Imagens Adicionais:</label>
                                        <div class="col-md-12">
                                            <div id="cloneTraducao" class="cloneTraducao">
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-lg-12">
                                                        <button type="button" class="btn btn-success addLinha">Adicionar Imagem </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="conteudoClonado">
                                                <?php 
                                                if(isset($this->view->adds->photos['name'])){
                                                foreach ($this->view->adds->photos['name'] as $key => $value) { ?>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="row">
                                                                <input  type="text" placeholder="Alt imagem" value="<?php echo isset($this->view->adds->photos['alt'][$key]) ? $this->view->adds->photos['alt'][$key] : '' ?>" name="photos[alt][]" class="form-control col-lg-4" />  
                                                                <input  type="text" placeholder="Link Imagem" value="<?php echo $value ?>" name="photos[name][]" class="form-control col-lg-4" />  
                                                                <img src="<?php echo $value ?>" class="img-fluid previewphoto col-lg-4">
                                                            </div>  
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <button type="button" class="btn btn-danger removeLinha">X</button>
                                                            <button type="button" data-id="<?php echo $l->idlanguage ?>" class="btn btn-success addLinha">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <?php } } ?>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>

                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls">Área de uploads</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formimagem" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="form-group row">
                        <div class="col-lg-8 col-md-12">
                            <fieldset class="form-group">
                                <div class="custom-file">
                                    <input onchange="uploadgeneric('formimagem', 'inputimagem', '<?php echo $this->view->url ?>/uploads', 'inputimagempreview')" type="file" class="custom-file-input" name="fileinputimagem" id="fileinputimagem" aria-describedby="fileHelp">
                                    <label class="custom-file-label" for="inputGroupFile01">Escolher Arquivo/Imagem</label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <img id="previewinputimagem" src="" class="img-fluid">
                        </div>
                        <div class="col-lg-12 mt-2">
                            <div class="input-group input-group-sm">
                                <input type="text" style="height: 37px;" id="inputimagempreview" name="inputimagempreview" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat copy"><i class="far fa-copy"></i> Copiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    $(".copy").click(function(){
        $('#inputimagempreview').select();
        document.execCommand('copy');
        alert("Conteudo copiado!")
    });
    function mostrarPreview(t){
        $('#previewimage').attr('src', t.value);
    }
    function mostrarPreviewPhotos(t){
        $(t).next().attr('src', t.value);
    }
  $(document).on('click', '.addLinha', function () {
    var html = '<div class="row" style="margin-bottom: 10px">'
                    +'<div class="col-lg-8">'
                        +'<div class="row">'
                            +'<input  type="text" placeholder="Alt da imagem"  name="photos[alt][]" class="form-control col-lg-4" />   '
                            +'<input  type="text" onblur="mostrarPreviewPhotos(this)" placeholder="Link da imagem"  name="photos[name][]" class="form-control col-lg-4" />   '
                            +'<img src="" class="img-fluid col-lg-4 previewphoto"> '
                        +'</div>'
                    +'</div>'
                    +'<div class="col-lg-4">'
                        +'<button type="button" class="btn btn-danger removeLinha">X</button> '
                        +'<button type="button" class="btn btn-success addLinha">+</button>'
                    +'</div>'
                +'</div>';

    $('.conteudoClonado').append(html);
  });

  $(document).on('click', '.removeLinha', function () {
    $(this).closest('.row').remove();
  })
</script>