<div class="col-md-12">
    <h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="d-none nav nav-tabs">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                    <li class="nav-item">
                                        <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                    </li>

                                <?php
                                    $active = '';
                                        $expande = 'false';
                                    }
                                ?>
                            </ul>
                            <div class="tab-content px-1 pt-1">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    $role = 'role="tabpanel"';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                <div <?php echo $role ?> class="bg-white tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Categoria">Nivel</label>
                                                <select class="form-control round" name="nivel" id="input4">
                                                    <option value="0">Categoria Principal</option>
                                                    <?php foreach ($this->view->adds->categorias as $g) {?>
                                                        <option <?=($g->idcategory == $this->view->obj[$l->idlanguage]->nivel ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->type.' - '.$g->title?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Titulo">Titulo</label>
                                                <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="title[]" title="Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->title) ?>" class="form-control round" placeholder="Titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Sub-Titulo">Sub-Titulo</label>
                                                <input type="text" name="subtitle[]" title="Sub-Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->subtitle) ?>" class="form-control round" placeholder="Sub-Titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Texto</label>
                                                <textarea name="text[]" rows="5" title="Texto em <?php echo $l->title ?>" class="form-control round summernote" placeholder="Texto"><?php echo htmlentities($this->view->obj[$l->idlanguage]->text) ?></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php
                                    $active = '';
                                        $expande = 'false';
                                        $role = '';
                                    }
                                ?>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Ordem">Ordem</label>
                                        <input type="number" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="order" title="Ordem" value="<?php echo $this->view->adds->order ?>" class="form-control round" placeholder="Ordem">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                        <label for="Icone">Icone</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i id="mostraicone" style="font-size: 15px; color: black" class="<?=$this->view->adds->icon?>"></i></span>
                                            <input type="text" onblur="trocaicone(this.value)" id="icone" name="icon" class="form-control" placeholder="Digite aqui o Icone Ex. fa fa-user" value="<?php echo $this->view->adds->icon ?>">
                                        <small><a target="_blank" href="http://fontawesome.com/">Veja mais icones</a></small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status2">Não</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block">Tipo:</label>
                                <div class="col-sm-10">
                                    <?php foreach($this->view->adds->types as $key => $type){ ?>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="type" id="type<?php echo $key ?>" value="<?php echo $type ?>" <?php echo ($type == $this->view->adds->type ? "checked" : ""); ?> class="custom-control-input">
                                            <label class="custom-control-label" for="type<?php echo $key ?>"><?php echo ucfirst($type) ?></label>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-7 col-form-label d-none d-sm-block">Tipo de listagem (Para retreats):</label>
                                <div class="col-sm-5">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="listagem" id="listagem" value="s" <?php echo ('s' == $this->view->adds->listagem ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="listagem">Arquivos</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="listagem" id="listagem2" value="n" <?php echo ('n' == $this->view->adds->listagem ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="listagem2">Registros</label>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="form-group row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="card-block">
                                        <div class="card-body">
                                            <fieldset class="form-group">
                                                <div class="custom-file">
                                                    <input onchange="uploadgeneric('formcrud', 'imagem', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="fileimagem" id="fileimagem" aria-describedby="fileHelp">
                                                    <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <img id="previewimagem" src="<?php echo $this->view->adds->image <> '' ? $this->view->adds->image : '' ?>" style="height: 100px">
                                </div>
                            </div>

                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                    <input type="hidden" name="imagem" value="<?php echo $this->view->adds->image ?>" id="imagem">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
