    <section id="pagination">
<div class="container-fluid">
    <!--/ DOM positioning table -->
    <!-- Alternative pagination table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Listagem</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) {?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php }?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Data Contato</th>
                                            <th>Nome</th>
                                            <th>Assunto</th>
                                            <th>Telefone</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) {?>
                                            <tr>
                                                <td><a href="#" class="cl name <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->date_create ?></a></td>
                                                <td><a href="#" class="cl subject <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->name ?></a></td>
                                                <td><a href="#" class="cl subject <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->subject ?></a></td>
                                                <td><a href="#" class="cl name <?php echo $a->view == 'n' ? 'bold' : '' ?>"><?php echo $a->phone ?></a></td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="/contacts/view/<?php echo $a->idcontact ?>" class="btn btn-info text-white">
                                                               <i class="fas fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->idcontact ?>', '<?php echo $a->name ?>')" href="#." class="btn btn-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php }?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Data Contato</th>
                                            <th>Nome</th>
                                            <th>Assunto</th>
                                            <th>Telefone</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>