<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                    <li class="nav-item">
                                        <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                    </li>

                                <?php
                                    $active = '';
                                        $expande = 'false';
                                    }
                                ?>
                            </ul>
                            <div class="tab-content px-1 pt-1">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    $role = 'role="tabpanel"';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Nome">Nome</label>
                                                <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="title[]" title="Nome em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->title) ?>" class="form-control round" placeholder="Nome">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Texto</label>
                                                <textarea name="text[]" rows="5" title="Texto em <?php echo $l->title ?>" class="form-control round summernote" placeholder="Texto"><?php echo htmlentities($this->view->obj[$l->idlanguage]->text) ?></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php
                                    $active = '';
                                        $expande = 'false';
                                        $role = '';
                                    }
                                ?>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Selecione o cargo">Selecione o cargo</label>
                                        <select  class="form-control round cargoelect" onchange="$('.cargoelect').val($(this).val())" title="Selecione o cargo" name="idcargo" id="input4">
                                            <option value="0">Selecione</option>
                                            <?php foreach ($this->view->adds->cargo as $g) {?>
                                                <option <?php echo ($g->idoffice == $this->view->obj[$l->idlanguage]->idcargo ? "selected" : ""); ?> value="<?php echo $g->idoffice ?>"><?php echo $g->title ?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Selecione a Seção">Selecione a Posição</label>
                                        <select class="form-control round sectionselect" onchange="$('.sectionselect').val($(this).val())"  title="Selecione a categoria" name="idposicao">
                                            <option value="0">Selecione uma Posição</option>
                                            <?php foreach ($this->view->adds->posicao as $posicao) {?>
                                                <option <?php echo ($posicao->idoffice == $this->view->obj[$l->idlanguage]->idposicao ? "selected" : ""); ?> value="<?php echo $posicao->idoffice ?>"><?php echo $posicao->title ?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Selecione a Seção">Selecione o Escritório</label>
                                        <select class="form-control round selectescritorio" onchange="$('.selectescritorio').val($(this).val())"  title="Selecione o Escritório" name="idescritorio" id="input4">
                                            <option value="0">Selecione o Escritório</option>
                                            <?php foreach ($this->view->adds->escritorio as $escritorio) {?>
                                                <option <?php echo ($escritorio->idoffice == $this->view->obj[$l->idlanguage]->idescritorio ? "selected" : ""); ?> value="<?php echo $escritorio->idoffice ?>"><?php echo $escritorio->title ?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Ordem">Ordem</label>
                                        <input type="number" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="order" title="Ordem" value="<?php echo $this->view->adds->order ?>" class="form-control round" placeholder="Ordem">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="E-mail">E-mail</label>
                                        <input type="email"  name="email" title="E-mail" value="<?php echo $this->view->adds->email ?>" class="form-control round" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="Skype">Skype</label>
                                        <input type="text" name="skype" title="Skype" value="<?php echo $this->view->adds->skype ?>" class="form-control round" placeholder="Skype">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="Celular">Celular</label>
                                        <input type="text" name="mobilephone" data-inputmask='"mask": "(99) 99999-9999"' data-mask title="Celular" value="<?php echo $this->view->adds->mobilephone ?>" class="form-control round" placeholder="Celular">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">O Celular é Whatsapp?</label>
                                <div class="col-sm-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="whatsapp" id="whatsapp1" value="s" <?php echo ('s' == $this->view->adds->whatsapp ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="whatsapp1">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="whatsapp" id="whatsapp2" value="n" <?php echo ('n' == $this->view->adds->whatsapp ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="whatsapp2">Não</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status2">Não</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">   
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Vcard">Vcard</label>
                                        <input type="text" name="vcard" value="<?php echo $this->view->adds->vcard ?>" id="vcard" title="Vcard" class="form-control round" placeholder="Vcard">
                                    </div>
                                </div> 
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Imagem">Imagem</label>
                                        <input type="text" onblur="mostrarPreview(this)" value="<?php echo $this->view->adds->image ?>" name="image" id="image" title="Imagem" class="form-control round" placeholder="Imagem">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-12">
                                    <img id="previewimage" src="<?php echo $this->view->adds->image ?>" class="img-fluid">
                                </div>
                            </div>

                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                    <input type="hidden" name="imagem" value="<?php echo $this->view->adds->image ?>" id="imagem">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls">Área de uploads</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formimagem" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="form-group row">
                        <div class="col-lg-8 col-md-12">
                            <fieldset class="form-group">
                                <div class="custom-file">
                                    <input onchange="uploadgeneric('formimagem', 'inputimagem', '<?php echo $this->view->url ?>/uploads', 'inputimagempreview')" type="file" class="custom-file-input" name="fileinputimagem" id="fileinputimagem" aria-describedby="fileHelp">
                                    <label class="custom-file-label" for="inputGroupFile01">Escolher Arquivo/Imagem</label>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <img id="previewinputimagem" src="" class="img-fluid">
                        </div>
                        <div class="col-lg-12 mt-2">
                            <div class="input-group input-group-sm">
                                <input type="text" style="height: 37px;" id="inputimagempreview" name="inputimagempreview" class="form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info btn-flat copy"><i class="far fa-copy"></i> Copiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(".copy").click(function(){
        $('#inputimagempreview').select();
        document.execCommand('copy');
        alert("Conteudo copiado!")
    });
    function mostrarPreview(t){
        $('#previewimage').attr('src', t.value);
    }
</script>
