<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                    <li class="nav-item">
                                        <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                    </li>

                                <?php
                                    $active = '';
                                        $expande = 'false';
                                    }
                                ?>
                            </ul>
                            <div class="tab-content px-1 pt-1">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    $role = 'role="tabpanel"';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Titulo">Titulo</label>
                                                <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="title[]" title="Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->title) ?>" class="form-control round" placeholder="Titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Ordem">Ordem</label>
                                                <input type="number" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="order" onblur="$('.inputorder').val($(this).val())" title="Ordem" value="<?php echo $this->view->adds->order ?>" class="form-control inputorder round" placeholder="Ordem">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Texto</label>
                                                <textarea name="text[]" rows="5" title="Texto em <?php echo $l->title ?>" class="form-control round summernote" placeholder="Texto"><?php echo htmlentities($this->view->obj[$l->idlanguage]->text) ?></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12 control-label">Respostas:</label>
                                        <div class="col-md-12">
                                            <div id="cloneTraducao" class="cloneTraducao">
                                                <div class="row" style="margin-bottom: 10px">
                                                <div class="col-lg-12">
                                                    <button type="button" data-id="<?php echo $l->idlanguage ?>" class="btn btn-success addLinha">Adicionar Resposta </button>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="conteudoClonado<?php echo $l->idlanguage ?>">
                                                <?php 
                                                if(isset($this->view->obj[$l->idlanguage]->response)){
                                                foreach ($this->view->obj[$l->idlanguage]->response as $key => $value) { 
                                                    foreach ($value as $key2 => $json) {
                                                    ?>
                                                <div class="row" style="margin-bottom: 10px">
                                                    <div class="col-lg-4">
                                                        <input  type="text" placeholder="Titulo" value="<?php echo $json['titleResponse'] ?>" name="titleResponse[<?php echo $l->idlanguage ?>][]" class="form-control" />   
                                                        <input  type="number" placeholder="Ordem" value="<?php echo $json['orderResponse'] ?>" name="orderResponse[<?php echo $l->idlanguage ?>][]" class="form-control" /> 
                                                    </div>
                                                    <div class="col-lg-7">
                                                        <textarea name="textResponse[<?php echo $l->idlanguage ?>][]" cols="30" rows="5" class="form-control"><?php echo $json['textResponse'] ?></textarea>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <button type="button" class="btn btn-danger removeLinha">X</button>
                                                        <button type="button" data-id="<?php echo $l->idlanguage ?>" class="btn btn-success addLinha">+</button>
                                                    </div>
                                                </div>
                                                <?php }
                                                    }
                                                    }?>
                                            </div>
                                        </div>
                                    </div> 


                                    <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php
                                    $active = '';
                                        $expande = 'false';
                                        $role = '';
                                    }
                                ?>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status2">Não</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).on('click', '.addLinha', function () {
    var idLinguagem = $(this).attr('data-id')
    var html = '<div class="row" style="margin-bottom: 10px">'
                  +'<div class="col-lg-4">'
                    +'<input  type="text" placeholder="Titulo"  name="titleResponse['+idLinguagem+'][]" class="form-control" />   '
                    +'<input  type="number" placeholder="Ordem"  name="orderResponse['+idLinguagem+'][]" class="form-control" /> '
                  +'</div>'
                  +'<div class="col-lg-7">'
                    +'<textarea name="textResponse['+idLinguagem+'][]" cols="30" rows="5" class="form-control"></textarea> '
                  +'</div>'
                  +'<div class="col-lg-1">'
                    +'<button type="button" class="btn btn-danger removeLinha">X</button> '
                    +'<button type="button" data-id="'+idLinguagem+'" class="btn btn-success addLinha">+</button>'
                  +'</div>'
                +'</div>';

    $('.conteudoClonado'+idLinguagem).append(html);
  });

  $(document).on('click', '.removeLinha', function () {
    $(this).closest('.row').remove();
  })
  
</script>
