.menu-cadastro-categoria-t1  {
  display: flex;
  align-items: center;
}
.menu-cadastro-categoria-t1 h2 {
  font-size: 40px;
  color: #495d6a;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0px;
}
.menu-cadastro-categoria-t1 .shape-menu-categoria {
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-left: 75px solid #dcaa1e;
  border-bottom: 45px solid transparent;
  margin-right: 35px;
}
.container-categoria-cadastro {
  padding: 200px 0px 350px;
  background-color: #f1f4f6;
}
.box-menu-categoria {
  background-color: #fff;
  padding: 40px 30px 55px 0px;
  margin-top: 25px;
}
.menu-classificados-t1, .menu-retreats-t1, .menu-dicas-t1, .dados-t1 {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: #073050;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.menu-classificados-t1 img, .menu-retreats-t1 img, .menu-dicas-t1 img, .dados-t1 img {
  margin-right: 20px;
}
.box-menu-categoria ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: #073050;
  font-weight: 600;
  padding: 15px 25px 15px 55px;
  margin-bottom: 10px;
}
.box-menu-categoria ul li:hover {
  background-color: #073050;
  color: #fff;
  position: relative;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.box-menu-categoria ul li:hover .qtd{
  color: #fff;
}
.box-menu-categoria ul li:hover button{
  color: #fff;
}
.box-menu-categoria ul li .qtd {
  color: #000;
}
.box-menu-categoria ul li button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  color: #073050;
  font-weight: 600;
  background-color: unset;
  border: none;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}
.menuClassificados, .menuRetreats, .menuDicas{
  margin-bottom: 90px;
}
.menuClose button {
  width: 100%;
  height: 90px;
  padding-left: 60px;
  color: #00253c;
  font-weight: bold;
  background-color: #cfd8e1;
  border: none;
  display: flex;
  align-items: center;
  font-size: 21px;
}
.box-form-flex {
  display: flex;
  flex-direction: column;
}
.box-form-flex .form-group {
  max-width: 345px;
  width: 100%!important;
}
.box-form-flex .select-custom-02.nice-select, input {
  max-width: 345px;
  width: 100%!important;
  height: 65px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
}
.box-form-flex .select-custom-02.nice-select {
  padding-top: 30px;
  padding-left: 20px;
}
.box-form-flex .select-custom-02.nice-select .current {
  font-size: 17px;
  color: #000!important;
}
.box-form-input-flex input:first-child {
  margin-right: 25px;
  margin-bottom: 20px;
}
.box-form-flex .select-custom-02.nice-select:after {
  border-bottom: 2px solid #898989!important;
  border-right: 2px solid #898989!important;
  height: 12px;
  width: 12px;
  right: 25px;
}
.box-form-flex .form-group:first-child {
  margin-right: 30px;
  margin-bottom: 20px;  
}
.box-form-flex .placeholder-label {
  position: absolute;
  z-index: 20;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}
.box-form-select-flex {
  display: flex;
}
.box-form {
  background-color: #fff;
  padding: 40px 25px;
}
.box-form-input-full input {
  max-width: 100%;
}
.box-form form textarea {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  margin-top: 20px;
  padding-top: 25px;
}
.uploadIMG img {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.img-small div {
  margin-bottom: 20px;
}
.box-form ::placeholder {
  text-indent: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #898989;
}
.form-t1 {
  font-size: 27px;
  margin: 0px;
  padding: 0px 0px 30px 25px;
  color: #1e1e2d;
}
.form {
  margin-top: 120px;
}
.uploadIMG span {
  font-size: 12px;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
.uploadIMG .prin {
  text-transform: unset;
  padding: 0px;
}
.box-form-fim {
  margin-top: 40px;
}
.box-form-fim .input-file {
  padding: 15px 30px 15px 15px;
  max-width: 345px;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}
.box-form-fim .input-file div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form-fim .input-file span {
  display: inline-block;
}
.btn-submit {
  max-width: 280px;
  width: 100%;
  height: 60px;
  color: #fff;
  background-color: #d69d23;
  border: none;
}
.btn-submit:hover {
  color: #fff;
  background-color: #d69d23;
  border: none;
}
.box-form-fim .form-buttuns {
  display: flex;
  justify-content: space-between;
}
.openMenuMobile {
  display: none;
}
@media (max-width: 1023px){
  .openMenuMobile {
    display: block;
  }
  .menu-categoria {
    display: none;
    position: absolute;
    right: -10000px;
    z-index: 30;
    top: -110px;
    max-width: 280px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.13);
  }
  .menu-cadastro-categoria-t1 .shape-menu-categoria {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #dcaa1e;
    border-bottom: 25px solid transparent;
    margin-right: 35px;
  }
  .box-menu-categoria {
    padding: 20px 30px 55px 0px;
    margin-top: 0px;
  }
  .menu-classificados-t1, .menu-retreats-t1, .menu-dicas-t1, .dados-t1 {
    padding-left: 10px;
  }
  .box-menu-categoria ul li {
    padding-left: 20px;
  }
  .menu-cadastro-categoria-t1 {
    margin-top: 10px;
    padding-left: 10px;
  }
  .menu-cadastro-categoria-t1 h2 {
    font-size: 22px;
  }
  .form {
    margin-top: 30px;
  }
  .menuClassificados, .menuRetreats, .menuDicas {
    margin-bottom: 50px;
    border-bottom: 1px solid #c4c4c4;
  }
  .box-form form textarea {
   width: 270px;
  } 
  .box-form-select-flex {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .box-form-flex .form-group:first-child {
    margin: 0px;
  }
  .container-categoria-cadastro  {
    padding-top: 40px;
  }
  .box-form-input-flex input{
    margin-bottom: 20px;
  }
  .img-large  {
    margin-bottom: 20px;
  }
  .form-buttuns {
    flex-wrap: wrap;
  }
  .box-form-fim {
    margin-top: 0px;
  }
  .box-form-fim .input-file  {
    margin-bottom: 20px;
  }
  .box-form-fim .input-file div {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .openMenuMobile button{
    border: none;
    background-color: unset;
    font-size: 22px;
    text-transform: u;
  }
  .openMenuMobile button i{
   margin-left: 10px;
  }
}
.box-down-ul-classificados, .box-down-ul-retreats, .box-down-ul-dicas, .box-down-ul-dados {
  display: none;
}