/* ESTILO CSS MENU DESKTOP */
#top-bar [class^="col-"].side-col:first-child {
    justify-content: flex-end;
}
#top-bar__navigation {
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    
}
#top-bar__navigation > ul > li > a {
    font-size: 21px;
    color: #073050;
}

#top-bar__navigation > ul > li > a:hover {
    color: #073050;
}
.top-bar__custom-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3d5463;
    z-index: 1;
    transform: unset;
    transition: all 0.2s linear;
}
.top-bar__custom-btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.top-bar__custom-btn:hover {
    color: #000;
   
}
.top-bar__custom-btn:hover:before {
    transform: unset; 
    background-color: #d69d23;
}
.side-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-size: 27px;
    color: #3d5463;
}
.box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 130px;
    border-left: 1px solid #e2e5e7;
    cursor: pointer;
}

/* CSS BANNERS */ 
.custom-layout04 .caruser-custom-wrapper .slick-dots li.slick-active span {
    color: #ffffff; 
}
.custom-layout04 .caruser-custom-wrapper .slick-dots li.slick-active span:before {
    width: 100%; 
}

.custom-layout04 .caruser-custom-wrapper .slick-dots li span:before {
    background-color:#d69d23; 
}
.custom-layout04 .caruser-custom-wrapper .slick-dots li.slick-active span {
    color: #d69d23;    
}
.mainSlider.slick-dots-01 .slick-dots li.slick-active span {
    background-color:#d69d23; 
}

/* BOX MEIO ITENS */ 
#mainContent .section__indent-01 {
    padding: 65px 0px 135px 0px;
}
.section--bg-wrapper-01 {
    background-image: none;
    background-color: #fff;
}
.section--bg-vertical-line {
    background-image:  none;
}
.section-heading {
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 40px;
}
.section-heading .title{
    margin-left: 20px;
    margin-top: 0px;
    color: #495d6a;
    font-size: 40px;
    text-transform: uppercase;
}
.section-heading:not(.size-sm):not(.size-md) .title {
    margin-top: 0px;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 60px solid #dcaa1e;
    border-bottom: 30px solid transparent;
}
.box-itens-meio {
    display: flex;
    justify-content: space-between;
}
.box-itens-meio .itens {
    min-height: 150px;
    width: 100%;
    border-left: 4px solid #c2c2c2;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: flex-end;
    margin-top: 70px;
    margin-bottom: 130px;
}
.box-itens-meio .itens img {
    align-self: baseline;
}
.box-itens-meio .itens span {
    font-size: 30px;
    font-weight: bold;
    color: #00253c;
    display: block;
    margin-top: 30px;
    height: 44px;
}
.section-heading .white {
    color: #ffff;
}
.section-blue .section-heading{
    margin-left: 10px;
  
}
.section-blue {
    padding-bottom: 150px;
    background-color: #00253c;
}
/* BOX CLASSIFICADOS */ 
.box-itens-classificados {
    display: flex;
    justify-content: center;
    width: 100%;
}
.box-itens-classificados .itens {
    min-height: 540px;
    max-width: 390px;
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.box-itens-classificados .slick-track {
    width: 100%;
}
.box-itens-classificados .itens > span {
    color: #fff;
    font-size: 40px;
    padding: 0px 0px 30px 40px;
    font-weight: 100;
}

.box-itens-classificados p {
    color: #073050;
    font-size: 22px;
}   
.box-itens-classificados .box-title-veiculos {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}
.box-title-imoveis:hover  {
    font-size: 24px;
}
.box-itens-classificados .box-title-imoveis {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}
.promobox03 .promobox03__layout {
    background-color: rgba(19, 53, 81, 0.7);
}
.promobox03:hover .promobox03__title{
    transition: 0.5s;
    font-size: 24px;
}
.promobox03:hover .promobox03__img::before {
    background-color: rgb(91, 94, 98, 0.5);
}
.promobox03 .promobox03__link {
    font-size: 18px;
    text-transform: uppercase;
}
.promobox03:hover  .promobox03__description  .promobox03__layout  {

    background-color: rgb(204, 165, 54, 0.9);
}
.box-itens-classificados .box-title-variados {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}
.box-verTodos {
    max-width: 640px;
    width: 100%;
    height: 150px;
    color: #dcaa1e;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    text-transform: uppercase;
    z-index: 10;
    background-color: #0f3b5d;
}

.box-verTodos .circle {
    border: 1px solid #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    max-height: 60px;
    max-width: 60px;
    padding: 10px;
    margin-right: 20px;
    border-radius: 100%;
}
.section-retreats {
    margin-top: 50px;
}
.promobox02:hover {
    box-shadow: 0px 3px 10px rgba(4, 8, 117, 0.7); 
}
.promobox02:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block; 
}
.box-dicas {
    display: flex;
    width: 100%;
}
.box-dicas .form-group:first-child {
    margin-right: 50px;
}
.select-custom-02.nice-select {
    width: 500px;
    height: 100px;
}
.form-default .form-group:not(:first-child) {
    margin-top: 0px;
}
.section-dicas {
    background-image: url(/images/banner-07.jpg);
    background-size: 100%;
    min-height: 900px;
}
.form-default .form-group .wrapper-select-for-title .placeholder-label {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: #073050;
}
.form-default .form-group .wrapper-select-for-title .select-custom-02.nice-select{ 
    padding: 50px 25px;
}
.select-custom-02.nice-select:after {
    height: 30px;
    right: 54px;
    top: 34%;
    width: 30px; 
}
.section-dicas {
    padding: 80px;
}
.section-dicas .section-heading  {
    margin-left: 0px;
    margin-bottom: 30px;
}
.box-dicas .title {
    font-size: 30px!important;
    color: #677782;
    font-weight:400;
    text-transform: inherit;
    margin: 0px 40px 30px;
}
.section-videoteca.section-heading {
    margin-left: 0px;
}
.box-section-videoteca .icon-next {
    font-size: 16px;
    color: #2E3192;
    text-align: center;
}
.box-section-videoteca .icon-next{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-arrow-extraright .slick-arrow:hover{
    background-color: #00253C;
}
.box-section-videoteca .icon-next:hover {
    color: #fff;
}
.btn__text {
    font-size: 22px;
    color: #DCAA1E;
}
.btn__icon {
    font-size: 16px;
    color: #DCAA1E;
}
.btn-link-icon:hover .btn__icon {
    background-color: unset;
    color:#DCAA1E;
    border: 1px solid #d6d6d6;
}
/* RODAPÉ */

#footer .copyright {
    font-size: 12px;
    color: #F1F2F2;
}
.footer-menu span {
    color: #727F87;
    font-size: 10px;
}
.footer-menu .color-azul{
    color:#B6C2C9;
}
.container-footer,.container-footer-end {
    background-color: #00253c;
}
.container-footer {
    padding: 80px 0px 0px;
}
.container-footer-logo {
    color: #fff;
    display: flex;
    flex-direction: column;
}
.container-footer-logo span {
    display: block;
    margin-top: 35px;
    font-weight: 300;
}
.container-footer-logo img {
    align-self: baseline;
}
.container-footer-rede-sociais {
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    max-width: 300px;
}
.container-footer-rede-sociais span {
    text-align: center;
    border: 1px solid #394953;
    border-radius: 100%;
    min-width: 50px;
    height: 50px;
    padding: 11px;
}
.footer-redes {
    justify-content: space-between;
    padding-bottom: 80px;
}
.show-mobile {
    display: none;
}
.btn-scroll-top {
    border: 1px solid #d69d23;
    color: #d69d23;
    z-index: 22;
}
.btn-scroll-top:hover {
    color: #d69d23;
    border: 2px solid #d69d23;
}
#mainContent .section__indent-01 {
    padding-bottom: 50px;
}
#top-bar.stuck {
  
    z-index: 22;
}
#top-bar__navigation a > span:hover::before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color:  #d69d23;
}
/* 1300PX */
@media (max-width: 1300px){
    .container-footer-logo img {
        align-self: center;
    }
    .container-footer {
        padding: 50px 0px;
        text-align: center;
    }
    .footer-redes {
        justify-content: center;
        padding-bottom: 50px;
    }
    .container-footer-rede-sociais {
        margin-top: 30px;
    }
    #top-bar .row [class^="col-"]:first-child #top-bar__navigation-toggler{
        order: unset;
    }
    #top-bar [class^="col-"].side-col:first-child {
        justify-content: space-between;
    }
    #nav-aside_menu > ul > li > a {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 15px;
        line-height: 22px;
        font-weight: 800;
        letter-spacing: -0.03em;
        padding: 14px 10px 14px 0px;
        display: block;
        position: relative;
        text-decoration: none;
        transition: color 0.2s linear;
    }
    #nav-aside address {
        font-size: 12px;
    }
    #nav-aside {
        background-color: #00253c;
    }
    #nav-aside .nav-aside__content {
        padding: 0px 0px 0px 30px;
    }
    .select-custom-02.nice-select {
        width: 400px;
    }
    #footer .footer-custom {
        text-align: center;
    }
}


/* MOBILE */
@media (max-width: 1023px){
    #top-bar.stuck {
        z-index: 15;
    }
    #top-bar__navigation a > span:hover::before {
        display: none;
    }
    #top-bar .row [class^="col-"]:first-child #top-bar__navigation-toggler{
        order: unset;
    }
    #top-bar [class^="col-"].side-col:first-child {
        justify-content: space-between;
    }
    #nav-aside_menu > ul > li > a {
        text-transform: uppercase;
        color: #ffffff;
        font-size: 15px;
        line-height: 22px;
        font-weight: 800;
        letter-spacing: -0.03em;
        padding: 14px 10px 14px 0px;
        display: block;
        position: relative;
        text-decoration: none;
        transition: color 0.2s linear;
    }
    #nav-aside address {
        font-size: 12px;
    }
    #nav-aside {
        background-color: #00253c;
    }
    #nav-aside .nav-aside__content {
        padding: 0px 0px 0px 30px;
    }
    .section-heading {
        margin-left: 0px;
    }
    .section-heading .title {
        font-size: 32px;
    }
    .box-itens-meio .itens span {
        font-size: 22px;
    }
    .box-itens-meio .itens {
        margin: 50px 0px;
    }
    #mainContent .section__indent-02-custom {
        padding-top: 30px;
    }
    .box-itens-classificados {
        flex-wrap: wrap;
    }
    .box-itens-classificados .itens {
        margin-top: 40px;
        width: 400px;
        min-height: 100%;
    }
    .box-itens-classificados .itens:first-child {
        margin-top: 0px;
    }
    .section-blue .section-heading {
        margin-left: 0px;
    }
    .section-dicas {
        padding: 0px;
    }
    .select-custom-02.nice-select {
        width: 300px;
        height: 50px;
        margin-bottom: 30px;
    }
    .box-dicas {
        flex-wrap: wrap;
    }
    .box-dicas .title {
        margin: 0px;
    }
    .box-dicas .form-group:first-child {
        margin-right: 50px;
    }
    .section-dicas {
        background-image: none;
        min-height: unset;
        background-size: contain;
        background-color: #e9edf1;
        padding: 30px 0px;
    }
    .form-default .form-group .wrapper-select-for-title .placeholder-label {
        font-size: 22px;
    }
    .select-custom-02.nice-select:after {
        height: 22px;
        right: 30px;
        top: 34%;
        width: 22px;
    }
    .section-dicas .section-heading{ 
        padding-bottom: 0px;
    }
    #mainContent .section__indent-03 {
        padding: 50px 0px;
    }
    .slick-arrow-extraright .slick-arrow.slick-next, .slick-arrow-extraright .slick-arrow.slick-prev{
        margin-top: 35px;
    }
    .container-footer-logo img {
        align-self: center;
    }
    .container-footer {
        padding: 50px 0px;
        text-align: center;
    }
    .footer-redes {
        justify-content: center;
        padding-bottom: 50px;
    }
    .container-footer-rede-sociais {
        margin-top: 30px;
    }
    .box-itens-classificados .itens {
        margin-left: 0px;
    }
    .box-itens-classificados .itens:first-child {
        margin-top: 40px;
    }
    .section-blue, .slick-arrow-extraright .slick-arrow.slick-next, .slick-arrow-extraright .slick-arrow.slick-prev {
        margin-top: 45px;
    }
    .section-blue .slick-arrow-extraright .slick-arrow {
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .show-mobile {
        display: block;
    }
    #mainContent .section__indent-01 {
        padding-bottom: 0px;
    }
}
.divBusca {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    margin-right: 200px;
}
.divBusca input {
    height: 40px;
    background: transparent;
    border: 1px solid #3d5463;
    display: block;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    color: #555;
    border-right: none;
}
.divBusca button { 
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3d5463;
    color: #073050;
    
}
.boxBusca { 
    background-color: #fff;
    width: 100%;
    position: absolute;
    right: 0px;
    top: -10000px;
}
/* MOBILE */
.divBusca-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    margin-right: 200px;
}
.divBusca-mobile  input {
    height: 40px;
    background: transparent;
    border: 1px solid #3d5463;
    display: block;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    color: #555;
    border-right: none;
}
.divBusca-mobile  button { 
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3d5463;
    color: #073050;
    
}
.boxBusca-mobile  { 
    background-color: #fff;
    width: 100%;
    position: absolute;
    right: 0px;
    top: -10000px;
}

@media (max-width: 1400px){
    #top-bar [class^="col-"].side-col:first-child {
        justify-content: flex-start;
    }
    #top-bar__navigation > ul > li > a {
        font-size: 18px;
    }
    .mainSlider.mainSlider-size-01 .img--holder {
        background-position: initial;
    }
    .section-heading:not(.size-sm):not(.size-md) .title {
        font-size: 36px;
    }
    .box-itens-meio .itens span {
        font-size: 26px;
    }
}
@media (max-width: 767px){
    #nav-aside_menu > ul {
        width: unset;
    }
    .boxBusca-mobile{ 
        background-color: transparent;
        width: 100%;
        position: relative;
        right: 25px;
        top: unset;
        margin-top: 30px;
    }
    .divBusca-mobile input{
        color: #fff;
    }
    .divBusca-mobile {
        margin-right: 0px;
    }
    #nav-aside .nav-aside__close + *{
        margin-top: 30px;
    }
    .divBusca input {
        max-width: 250px;
    }
    .show-desktop {
        display: none;
    }
    #top-bar [class^="col-"].side-col:first-child {
        justify-content: space-between;
    }
    #top-bar__navigation > ul > li > a {
        font-size: 18px;
    }
    .mainSlider.mainSlider-size-01 .img--holder {
        background-position: inherit;
    }
    .section-heading:not(.size-sm):not(.size-md) .title {
        font-size: 32px;
    }
    .box-itens-meio .itens span {
        font-size: 22px;
    }
}
.menu-categoria-t1 {
    font-size: 28px;
    font-weight: bold;
    color: #d69d23;
    padding-left: 55px;
    text-transform: initial;
    padding-bottom: 20px;
}
.menuCategoria {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.categoria-principal .box-menu-categoria {
    padding-bottom: 40px;
    padding-top: 40px;
}
.parcerias-banner .banner-topo {
    background-image: url("/images/categoria/banner.jpg");
    min-height: 370px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    padding-top: 50px;
  }
.dica-indicacao-banner .banner-topo {
    background-image: url("/ypobrasil/images/dicas-indicações/banner.jpg");
    min-height: 370px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    padding-top: 50px;
}
.dica-indicacao-banner .banner-topo div {
    display: flex;
    align-items: center;
    height: 330px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}
.parcerias-banner .banner-topo div {
    display: flex;
    align-items: center;
    height: 330px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }
.shape-down {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 300px solid #d69d23;
    margin-bottom: -200px;
}
.dica-indicacao-banner .banner-topo h2 {
    font-size: 72px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    margin-left: -150px;
    margin-top: 100px;
    padding: 0px;
}
.parcerias-banner .banner-topo h2 {
    font-size: 72px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    margin-left: -150px;
    margin-top: 100px;
    padding: 0px;
  }
#top-bar:not(.no-indent-mainContent) + *{
    margin-top: 0px;
}
.p-categoria {
    font-size: 26px;
    color: #00253c;
    font-weight: bold;
    margin: 40px 0px 35px;
}
.categoria-item {
    background-color: #fff;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    max-width: 250px;
    width: 100%;
    margin-bottom: 15px;
}
.categoria-item:last-child {
    margin-right: 0px;
}
.container-categoria-itens{
    margin-top: 25px;
}
.container-parcerias {
    background-color: #f0f4f7;
}
@media (max-width: 1023px){
    .categoria-principal {
        top: -580px!important;
        right: -4px!important;
    }
    .p-categoria {
        font-size: 16px;
        margin: 0px;
        margin-bottom: 15px;
    }
    .categoria-item {
        max-width: unset;
        width: 100%;
        margin-right: 0px;
    }
    .container-categoria-itens {
        display: flex;
        justify-content: center;
    }
    .container-parcerias {
        padding: 30px  0px 50px!important;
    }
    .parcerias-banner .banner-topo {
        background-image: url("/images/categoria/banner.jpg");
        min-height: unset;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 35px;
      }

    .parcerias-banner .banner-topo h2 {
        font-size: 36px;
        color: #fff;
        font-weight: bold;
        margin: 0px;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0px;
      }
}
.retreats-banner .banner-topo {
    background-image: url("/images/categoria/retreat-banner.jpg");
    min-height: 330px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }
.retreats-banner .banner-topo div {
    display: flex;
    align-items: center;
    height: 330px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }
.shape-down {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 300px solid #d69d23;
    margin-bottom: -200px;
  }
.retreats-banner .banner-topo h2 {
    font-size: 72px;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    margin-left: -150px;
    margin-top: 100px;
    padding: 0px;
  }
.container-retreats-itens .boxtexto h2{
    font-size: 40px;
    color: #073050;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}
.container-retreats-itens .retreats-item{
    margin-bottom: 50px;
    border-bottom: 1px solid #d5dbde;
}
.container-retreats-itens .retreats-item:hover h2{
    color: #d69d23;
}
.container-retreats-itens .boxtexto p{
    font-size: 20px;
    color: #3d5463;
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    text-align: justify;
}
.container-retreats-itens .boximg {
    max-width: 270px;
    width: 100%;
    margin-bottom: 50px;
}
.container-retreats-itens .boximg img {
    height: 100%;
}
.container-retreats-itens {
    margin-top: 25px;
}

.box-menu-dica {
    background-color: #f1f4f6!important;
}
.box-menu-dica li {
    font-size: 19px!important;
}
.t1-dica {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #d69d23;
    margin-bottom: 35px;
}
.p-texto-dica {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: #3d5463;
    margin-bottom: 35px;
}
.dica-contato {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.t2-dica {
    font-size: 16px;
    font-weight: bold;
    color: #d69d23;
}
.info-dica {
    font-size: 20px;
    font-weight: bold;
    color: #00253c;
}
.tel-dica, .email-dica, .site-dica {
    display: flex;
    flex-direction: column;
}
.dica-indicacao-item {
    padding: 20px 0px 40px;
    border-bottom: 1px solid #dfe2e5;
}
.box-menu-dica input {
    width: unset!important;;
    height: unset;
    display: none;
    max-width: 100%
}
.box-menu-dica input[type=checkbox]+label::before{
    height: 16px;
    width: 16px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #c7c7c7;
    display: inline-flex;
    content: "";
    font-weight: 700;
    font-family: "Font Awesome 5 Free"; 
    border: 1px solid #073050;
    margin-right: 10px;
}
.box-menu-dica input[type="checkbox"]:checked + label:before {
    background-color: #3d5463;
    content: '\f00c';
    align-items: center;
    font-size: 10px;
    transition: 200ms;
}
.list-inputs li {
    color: #3d5463!important;
    font-size: 17px!important;
    text-transform: initial;
    padding: 0px 0px 0px 55px!important;
}
.list-inputs .t1-cidade {
    font-size: 24px!important;
    font-weight: bold!important;
    color: #073050!important;
}
.list-inputs .t1-cidade:hover {
    color: #073050!important;
}
.list-inputs label {
    display: flex;
    align-items: center;
}
.list-inputs li:hover {
    background-color: unset!important;
    color:#3d5463!important;
    position: unset!important;
    border-top-right-radius: unset!important;
    border-bottom-right-radius: unset!important;
}
.container-dica-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #052c4b;
    padding: 70px 0px;
    margin-top: 80px;
}
.t1-form-dica {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.form-dica .select-custom-02.nice-select {
    background-color: #0a3455;
    color: #909da6;
    border-color: #607e93;
}
.form-dica .placeholder-label {
    color: #fff!important;
}
.form-dica .select-custom-02.nice-select:after {
    border-bottom: 2px solid #d59d23;
    border-right: 2px solid #d59d23;
}
.box-form-dica {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.input-flex {
    display: flex;
    flex-wrap: wrap;
}
.input-flex input{
    color: #fff;
    font-size: 22px;
    height: 100px;
    background-color: #0a3455;
    border-color: #607e93;
    max-width: 500px;
    width: 100%;
    margin-top: 25px;
}
.input-flex ::placeholder {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-indent: 25px;
    text-transform: uppercase;
}
.input-flex input:first-child {
    margin-right: 50px;
}
.input-flex div {
    width: 100%;
    max-width: 500px;
    margin-right: 50px;
}
.input-flex textarea {
    height: 230px!important;
    background-color: #0a3455;
    border-color: #607e93;
    max-width: 500px;
    width: 100%;
    margin-top: 25px;
    color: #fff;
    font-size: 22px;
}
.input-flex textarea ::placeholder{
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}
.form-dica-btn-submit {
    height: 70px;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    background-color: #d69d23;
    max-width: 200px;
    width: 100%;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 140px;
}
.box-form-dica-btn-submit {
    display: flex;
    justify-content: center;
}
.p-dica {
    font-size: 34px;
    color: #00253c;
    font-weight: bold;
    margin: 40px 0px 35px;
    line-height: 1.2;
}
@media (max-width: 767px){
    .input-flex input {
        max-width: 400px;
    }
    .input-flex textarea {
        max-width: 400px;
    }
    .t1-form-dica {
        font-size: 32px;
    }
    .form-dica-btn-submit {
        margin-left: 0px;
    }
    .dica-contato {
        flex-wrap: wrap;
    }
    .p-dica {
        font-size: 22px;
    }
    .dica-indicacao-banner .banner-topo h2 {
        font-size: 44px;
        margin-left: 0px;
    }
    .banner-topo {
        padding: 0px;
        margin-bottom: 0px!important;
    }
    .container-dica-indicacao-itens {
        padding: 0px 30px;
    }
    .input-flex input:first-child {
        margin-right: 0px;
    }
    .input-flex div {
        margin-right: 0px;
    }
    .form-dica .select-custom-02.nice-select {
       width: 384px;
    } 
    .form-dica .select-custom-02.nice-select {
        margin-bottom: 0px;
    }
}
.container-classificados {
    background-color: #f1f4f6;
}
.box-menu-classificados {
    background-color: #fff!important;
}
.box-menu-classificados li {
    font-size: 19px!important;
}

.box-menu-classificados input {
    width: unset!important;;
    height: unset;
    display: none;
    max-width: 100%
}
.box-menu-classificados input[type=checkbox]+label::before{
    height: 16px;
    width: 16px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #c7c7c7;
    display: inline-flex;
    content: "";
    font-weight: 700;
    font-family: "Font Awesome 5 Free"; 
    border: 1px solid #073050;
    margin-right: 10px;
}
.box-menu-classificados input[type="checkbox"]:checked + label:before {
    background-color: #3d5463;
    content: '\f00c';
    align-items: center;
    font-size: 10px;
    transition: 200ms;
}
.input-valor {
    margin-bottom: 40px;
}
.input-valor input {
    display: block;
}
.ui-widget.ui-widget-content {
    border: 1px solid #fff;
    background: #b7b5cf;
    height: 4px;
}
.ui-widget-content {
    border: 1px solid #fff;
    background: #d69d23;
    color: #333333;
    height: 4px;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-slider-horizontal {
    height: .8em;
}
.ui-slider {
    position: relative;
    text-align: left;

}
.ui-slider-horizontal .ui-slider-range {
    top: 7px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: none;
    background-position: 0 0;
    background: #d69d23;
    color: #333333;
    height: 4px;
    top: -2px;
}
.ui-slider-horizontal .ui-slider-handle {
    top:-8px;
    margin-left: 0px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 15px;
    height: 15px;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background-color: #fff;
    border: 2px solid #d7a029;
    border-radius: 50%;
    outline: none;
}
.ui-slider .ui-slider-handle:focus {
    border: 2px solid #d7a029;
}
.input-valor .main {
    max-width: 225px;
    width: 100%;
    margin: 0 auto;
}
.valores {
    display: flex;
    justify-content: center;
}
.valores input {
    margin-top: 20px;
    max-width: 100px;
    outline: none;
    border: 1px solid #b7b5cf;
    color: #999999;
    font-size: 16px;
    font-weight: 100;
    text-indent: 10px;
    height: 40px;
}
.valores input:first-child{
    margin-right: 25px;
}
.btnFiltrar {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #073050;
    border: none;
    height: 60px;
    border-radius: 30px;
    max-width: 130px;
    width: 100%;
    margin-right: 30px;
}
.box-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.btnLimpar {
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #073050;
}
.item-classificados {
    background-color: #fff;
    max-width: 370px;
    width: 100%;
    position: relative;
    margin-top: 28px;
}
.item-classificados .title h2{
    font-size: 26px;
    color: #00253c;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 1.2;
}
.item-classificados .title {
    max-width: 200px;
    width: 100%;
}
.item-classificados .img img{
    min-height: 300px;
    height: 100%;
}
.item-classificados .valor span {
    font-weight: 100;
    font-size: 30px;
    color: #3d5463;
}
.padding {
    padding: 0px 30px 40px;
}
.item-classificados .status {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 150px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 34px;
    background-color: #dcaa1e;
    height:62px;
    text-align: center;
}
.box-menu-classificados .qtd {
    color: #073050!important;
    font-size: 17px;
}
.box-menu-categoria ul li:hover .qtd {
    color: #fff!important;
}
.box-menu-classificados li {
    text-transform: initial;
}
.input-valor li {
    color: #3d5463!important;
    font-size: 17px!important;
    text-transform: initial;
    padding: 0px 0px 0px 55px!important;
}
.input-valor .t1-cidade {
    font-size: 24px!important;
    font-weight: bold!important;
    color: #073050!important;
}
.input-valor .t1-cidade:hover {
    color: #073050!important;
    background-color: #fff;
}
.shape-rigth {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #dcaa1e;
    border-bottom: 10px solid transparent;
    display: block;
    margin-right: 10px;
}
.list-inputs .t1-cidade, .input-valor .t1-cidade {
    justify-content: unset;
}
.box-table-01 {
    background-color: #073050;
    max-width: 400px;
}
.section-heading .title {
    margin-left: 0px;
}
.section-heading {
    margin-left: 0px;
}
.box-texto-videoteca-detalhe {
    margin-left: 100px;
}
.section-heading:not(.size-sm):not(.size-md) .title {
    color: #073050;
    text-transform: initial;
}
.box-texto-videoteca-detalhe p{
    color: #3c474f;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
}
.videolink .videolink__icon:before {
    background-color: rgba(255, 255, 255, 0.30);
    color: #2d3a49;
}
.videolink .videolink__icon:after {
    border-left: 11px solid #2d3a49;
}
.page-nav-img__btn.btn-prev .wrapper-img {
    background-color: #acc0ca;
    background-image: unset;
}
.page-nav-img__btn.btn-next .wrapper-img {
    background-color: #acc0ca;
    background-image: unset;
}
.btn__text {
    color: #fff!important;
    font-size: 16px;
    text-transform: uppercase;
}
.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-icon i {
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #b5b7ce;
    border-radius: 50px;
    padding: 13px 15px;
}
.box-icon:hover i {
    border-color: #fff;
}
.container-detalhe-videoTeca {
    background-color: #f1f4f6;
    padding-bottom: 140px;
}
.relacionados-t1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
.relacionados-t1 .t1 h2{
    font-size: 40px;
    font-weight: bold;
    color: #073050;
    margin: 0px;
    padding: 0px;
}
.relacionados-t1 .t1 {
    display: flex;
    align-items: center;
}
.relacionados-t1 .shape-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #dcaa1e;
    border-bottom: 25px solid transparent;
    margin-right: 15px;
}
.verTodos i {
    width: 10px;
    height: 20px;
    color: #dcaa1e;
    border-radius: 100%;
    padding: 28px;
    border: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-transform: uppercase;
}
.verTodos a {
 font-size: 22px;
 font-weight: bold;
 color:  #dcaa1e;
 text-decoration: none;
 text-transform: uppercase;
}
.verTodos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-detalhe-videoTeca-relacionados {
    padding: 80px 0px;
}
@media (max-width: 1023px){
    .box-texto-videoteca-detalhe {
        margin-left: 0px;
    }
    .relacionados-t1 {
        flex-wrap: wrap;
    }
    .t1 {
        margin-bottom: 25px;
    }
    .relacionados-t1 {
        margin-bottom: 30px;
    }
    .relacionados-t1 .t1 h2 {
        font-size: 28px;
    }
    .container-detalhe-videoTeca-relacionados {
        padding: 40px 0px;
    }
    .btn__text {
        font-size: 12px;
    }
    .box-icon i {margin: 0px 5px;}
    .container-detalhe-videoTeca {
        padding-bottom: 50px;
    }
}
.container-retreats-detalhe {
    padding: 180px 0px 80px;
    background-color: #f1f4f6;
}
.box-retreats-img img {
    max-height: 610px;
    width: 100%;
}
.box-retreats-detalhe {
    background-color: #fff;
}
.box-retreats-title h2 {
    font-size: 50px;
    font-weight: bold;
    color: #3d5463;
    max-width: 900px;
    padding: 50px 0px 20px 0px;
}
.box-retreats-title, .box-retreats-text{
    padding: 0px 70px;
}
.box-retreats-detalhe.container {
    padding: 0px;
}
.box-retreats-text p{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #3c474f;
}
.container-retreats-img-small {

    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    margin-top: 60px;
}

.box-retreats-small-img img {
    max-width: 320px;
    max-height: 230px;
    text-align: center;
}
.divisor {
    width: 100%;
    max-width: 1030px;
  
    background-color: #dde4e8;
    height: 4px;
    margin: 0 auto;
    margin: 40px auto 25px ;
}
.container-retreats-info {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.container-retreats-info .row {
    width: 100%;
}
.box-retreats-info {
    display: flex;
    flex-direction: column;
}
.info1 {
    font-size: 17px;
    font-weight: bold;
    color: #d69d23;
}
.info2 {
    font-size: 21px;
    font-weight: 600;
    color: #00253c;
}
.container-retreats-detalhe-end {
    padding: 80px 0px;
}
.t1-comentario h2 {
    font-size: 30px;
    font-weight: bold;
    color: #d69d23;
    margin-bottom: 0px;
}

.name-data .name {
    font-size: 20px;
    font-weight: bold;
    color: #00253c;
    display: inline-block;
    margin-right: 10px;
}
.name-data .data {
    font-size: 18px;
    font-weight: 500;
    color: #898989;
}
.box-comentario .p-comentario{
    font-size: 20px;
    font-weight: 500;
    color: #3c474f;
}
.box-comentario  {
    max-width: 990px;
    width: 100%;
}
.resposta span {
    font-weight: 500;
    font-size: 18px;
    color: #7d919e;
}
.resposta span button {
    background-color: unset;
    border: none;
    color: #7d919e;
    margin-top: 10px;
    outline: none;
}
.resposta span button::after {
    content: '';
    height: 2px;
    background-color: #e9e9e9;
    width: 800px;
    display: inherit;
    margin-bottom: 5px;
    margin-left: 20px;

}
.comentario-1 { 
    margin-bottom: 30px;
}
.comentario-2 {
    margin-left: 70px;
    margin-bottom: 30px;
}
.input-comentario input {
    text-indent: 20px;
    max-width: 490px;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    color: #000000;
    font-size: 500;
}
.input-comentario input ::placeholder {
    text-transform: uppercase;
}

.textarea-comentario textarea{
    outline: none;
    text-indent: 20px;
    width: 100%;
    max-width: 1092px;
    min-height: 150px;
    border: 1px solid #c4c4c4;
    font-size: 20px;
    color: #000000;
    font-size: 500;
}
.button-comentario button {
    max-width: 170px;
    width: 100%;
    height: 70px;
    font-weight: bold;
    color: #fff;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 18px;
    border: none;
    background-color: #00253c;
    outline: none;
}
@media (max-width: 1023px){
    .box-retreats-title, .box-retreats-text {
        padding: 0px;
    }
    .box-retreats-text p {
        margin-top: 0px;
    }
    .box-retreats-title h2 {
        padding: 25px 0px;
        font-size: 32px;
    }
    .box-retreats-small-img img {
        margin-bottom: 30px;
    }
    .container-retreats-info {
        margin-bottom: 30px;
    }
    .box-retreats-info {
        margin-bottom: 15px;
    }
    .comentario-2 {
        margin-left: 0px;
    }
    .resposta span button::after {
        width: 200px;
        margin-bottom: 0px;
    }
    .resposta span button {
        display: flex;
        align-items: center;
    }
    .container-retreats-detalhe-end {
        padding: 40px 0px;
    }
    .container-retreats-detalhe {
        padding: 120px 0px 50px;
    }
}
.container-parcerias-detalhe {
    padding: 180px 0px 80px;
    background-color: #f1f4f6;
}
.box-parcerias-img img {
    max-height: 610px;
    width: 100%;
}
.box-parcerias-detalhe {
    background-color: #fff;
}
.box-parcerias-title {
    display: flex;
    justify-content: space-between;
}
.box-parcerias-title img {
    margin-top: -100px;
    margin-right: 50px;
    margin-left: 17px;
}
.box-parcerias-title h2 {
    font-size: 50px;
    font-weight: bold;
    color: #3d5463;
    max-width: 900px;
    padding: 50px 0px 20px 0px;
}
.box-parcerias-title, .box-parcerias-text{
    padding: 0px 70px;
}
.box-parcerias-detalhe.container {
    padding: 0px;
}
.box-parcerias-text p{
    margin-top: 30px;
    font-size: 20px;
    color: #3c474f;
}
.container-parcerias-img-small {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    margin-top: 40px;
}

.box-parcerias-small-img img {
    max-width: 240px;
    max-height: 230px;
    text-align: center;
    height: 100%;
}
.divisor {
    width: 100%;
    max-width: 1030px;
    background-color: #dde4e8;
    height: 4px;
    margin: 0 auto;
    margin: 40px auto 25px ;
}
.container-parcerias-info {
    display: flex;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.container-parcerias-info .row {
    width: 100%;
}
.box-parcerias-info {
    display: flex;
    flex-direction: column;
}
.info1 {
    font-size: 17px;
    font-weight: bold;
    color: #d69d23;
}
.info2 {
    font-size: 21px;
    font-weight: 600;
    color: #00253c;
}
.container-parcerias-detalhe-end {
    padding: 80px 0px;
}
.t1-comentario h2 {
    font-size: 30px;
    font-weight: bold;
    color: #d69d23;
    margin-bottom: 0px;
}

.name-data .name {
    font-size: 20px;
    font-weight: bold;
    color: #00253c;
    display: inline-block;
    margin-right: 10px;
}
.name-data .data {
    font-size: 18px;
    font-weight: 500;
    color: #898989;
}
.box-parcerias-list {
    padding: 0px 80px;
}
.list-title h2{
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #d69d23;
}
.box-parcerias-list ul li {
    font-size: 22px;
    font-weight: 600;
    color: #00253c;
    margin-left: 20px;
    list-style-type: disc;
}
@media (max-width: 1023px){
    .box-parcerias-title, .box-parcerias-text {
        padding: 0px;
    }
    .box-parcerias-text p {
        margin-top: 0px;
    }
    .box-parcerias-title h2 {
        padding: 25px 0px;
        font-size: 32px;
    }
    .box-parcerias-small-img img {
        margin-bottom: 30px;
    }
    .container-parcerias-info {
        margin-bottom: 30px;
    }
    .box-parcerias-info {
        margin-bottom: 15px;
    }
    .box-parcerias-title img {
        margin: 0px;
        order: 2;
        margin-bottom: 20px;
    }
    .box-parcerias-title {
        flex-wrap: wrap;
    }
    .box-parcerias-list {
        padding: 0px;
    }
    .box-parcerias-list ul li {
        font-size: 14px;
    }
    .list-title h2 {
        font-size: 25px;
    }
    .box-parcerias-small-img img {
        max-width: 100%;
        max-height: 100%;
    }
}

