@media (min-width: 1025px) {
    #top-bar [class^="col-"].side-col:first-child {
        justify-content: flex-end;
    }
    #top-bar__navigation {
        justify-content: center;
        display: flex!important;
        text-transform: uppercase;
    }
    
    #top-bar__navigation > ul > li > a span{
        font-size: 18px;
        color: #00253c; 
    }
    #top-bar__navigation > ul > li > a span:hover{
        color: #deb14f; 
    }
    #top-bar .row {
        justify-content: center;
    }
}
.box-img.product {
    background-color: unset;
    position: relative;
    z-index: 1;
    padding: 0 0 0px 0;
    max-width: 280px;
    width: 100%;
}
.product__img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #f1f2f3;
    background-color: #fff;
    min-height: 245px;
}
.section-heading:not(.size-sm):not(.size-md).section-heading_indentg04{
    padding-bottom: 30px!important;
    padding-top: 60px;
}
.section-heading:not(.size-sm):not(.size-md) {
    padding: 0px;
}
.itens {
    font-size: 40px;
    color: #083050;
    font-weight: bold;
}
.itens img {
    margin-right: 20px;
}
.slick-arrow-center .slick-arrow:hover {
    background-color: #083050!important;
    border-color: #083050!important;
    
}
.container-footer .copyright {
    color: #ffffff!important;
}
.container-footer {
    background-color: #00253c;
    padding: 30px 0px;
}
.btn-scroll-topo {
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: -18px;
    right: -132px;
    justify-content: center;
    align-items: center;
    display: flex; flex-direction: column;
    text-decoration: none;
    border: none;
}
.btn-scroll-topo .shape {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #d69d23;
}
.btn-scroll-topo span {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    margin-top: 20px;
}
#top-bar .row [class^="col-"]:first-child #top-bar__navigation-toggler {
    order: inherit!important;
}
.box-img-banner-mobile  {
    display: none;
}
@media (max-width: 1400px){
    #top-bar__navigation > ul > li > a span {
        font-size: 16px;
    }
    .itens {
        font-size: 32px;
    }
    .btn-scroll-topo {
        right: 0px;
    }
}
@media (max-width: 1023px){
    .btn-scroll-topo {
        position: unset;
        width: unset;
    }
    #nav-aside {
        background-color: #00253c!important;
    }
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    #nav-aside #nav-aside_menu {
        text-transform: uppercase;
    }
    .itens {
        font-size: 20px;
    }
    .itens img {
        max-width: 50px;
        height: 50px;
    }
    .box-img-banner-mobile  {
        display: block;
    }
    .box-img-banner {
        display: none;
    }
    #mainContent .section-default-inner {
        padding: 50px 0px!important;
    }
}

#top-bar__navigation > ul > li.is-submenu > a span:after {
    bottom: 15px!important;
}
