.videoTeca-banner .banner-topo {
  background-image: url("/ypobrasil/images/videoTeca/banner.jpg");
  min-height: 330px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.videoTeca-banner .banner-topo div {
  display: flex;
  align-items: center;
  height: 330px;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}
.shape-down {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 300px solid #d69d23;
  margin-bottom: -200px;
}
.videoTeca-banner .banner-topo h2 {
  font-size: 72px;
  color: #fff;
  font-weight: bold;
  margin: 0px;
  margin-left: -150px;
  margin-top: 100px;
  padding: 0px;
}
.videoblock__icon:before {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.videoblock__icon:after {
  border-left: 11px solid #073050;
}
.videoblock:hover {
  box-shadow: 0px 0px 10px 0px rgba(229, 232, 238, 10);
}
.videoblock__img:before {
  display: none;
}
.btn__text {
  color: #264a66;
}
.page-nav .btn__icon i{
  color: #264a66!important;
}
.page-nav .page-nav__btn:hover .btn__icon i{
  color: #fff!important;
}
.container-select-video {
  display: flex;
  justify-content: flex-end;
}
.container-select-video .box-select-video{
  margin: 35px 0px 60px;
}
.container-select-video .box-select-video select{
  border: none;
  font-size: 19px;
  font-weight: bold;
  color: #073050;
  padding: 5px 20px;
  background-image: url("/ypobrasil/images/videoTeca/arrow.jpg");
  background-repeat: no-repeat;
  background-position: left;
  outline: none;
  cursor: pointer;
}
.container-select-video .box-select-video option span{
  border: none;
  margin-top: 10px;
  padding: 20px 0px;
}
.container-select-video .box-select-video select:first-child{
  margin-right: 60px;
}
.container-select-video .box-select-video select option i{
  margin-right: 20px;
  color: #d69d24;
  font-size: 15px;
}
@media (max-width: 1023px){
  .videoTeca-banner .banner-topo h2 {
    text-align: center;
    margin: 0px;
    font-size: 55px;
  }
  .shape-down {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #d69d23;
    margin-bottom: 0px;
  }
  .videoTeca-banner .banner-topo {
    margin-bottom: 0px;
  }
}