<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Listagem</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) { ?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <a href="<?php echo $this->view->url ?>/create" class="btn btn-success text-white btn-min-width mr-1 mb-1">Adicionar novo</a>
                            <div class="">
                                <table class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Nome</th>
                                            <th>Usuário</th>
                                            <th>Acesso</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) { ?>
                                            <tr>
                                                <td><a href="#" class="cl name"><?php echo $a->iduser ?></a></td>
                                                <td>
                                                    <a class="cl name" href="<?php echo $this->view->url ?>/update/<?php echo $a->iduser ?>">
                                                        <?php echo $a->name ?>
                                                    </a>
                                                </td>
                                                <td><a href="#" class="cl name"><?php echo $a->user ?></a></td>
                                                <td><a href="#" class="cl subject"><?php echo $a->group->description ?></a></td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a title="<?php echo $a->status == 'a' ? 'Bloquear' : 'Desbloquear' ?>" onclick="block('<?php echo $this->view->url ?>/block/<?php echo $a->iduser ?>/<?php echo $a->status == 'a' ? 'b' : 'a' ?>', '<?php echo $a->name ?>')" href="#." class="text-white btn <?php echo $a->status == 'a' ? 'btn-warning' : 'btn-success' ?>">
                                                                <i class="<?php echo $a->status == 'a' ? 'fas fa-user-lock' : 'fas fa-lock-open' ?>"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a href="<?php echo $this->view->url ?>/update/<?php echo $a->iduser ?>" class="btn btn-primary text-white">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->iduser ?>', '<?php echo $a->user ?>')" href="#." class="btn btn-danger text-white">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Nome</th>
                                            <th>Usuário</th>
                                            <th>Acesso</th>
                                            <th>Ação</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    </section>