<section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Listagem</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body card-dashboard">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <a href="<?php echo $this->view->url ?>/create" class="btn btn-success text-white btn-min-width mr-1 mb-1">Adicionar novo</a>
                    <div class="">
                        <table class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Menu</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($this->view->objs as $a) { ?>
                                    <tr>
                                        <td><a href="#" class="cl name"><?php echo $a->idmenu ?></a></td>
                                        <td><a href="#" class="cl subject"><?php echo $a->levelpreview . $a->title ?></a></td>
                                        <td>
                                            <ul class="list-unstyled list-inline buttons-config">
                                                <li class="list-inline-item">
                                                    <a href="<?php echo $this->view->url ?>/update/<?php echo $a->idmenu ?>" class="btn btn-primary text-white">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->idmenu ?>', '<?php echo $a->title ?>')" href="#." class="btn btn-danger text-white">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                <?php } ?>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Menu</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>