<div class="col-md-12">

<h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
            <h4>Spouse de: <?php echo $this->view->obj->usuario->name ?></h4>
            <form id="formcrud" action="/perfil/<?php echo $this->view->obj->idspouse ?>" class="form-register">
            <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Nome">Nome</label>
                                <input type="text" required  name="nome" title="Nome completo" value="<?php echo $this->view->obj->nome ?>" class="form-control round" placeholder="Nome completo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="CPF">CPF</label>
                                <input type="text" onkeyup="somenteNumeros(this);" onblur="$('#usuario').val($(this).val())" required  name="cpf" title="CPF" value="<?php echo $this->view->obj->cpf ?>" class="form-control round" id="cpf" placeholder="Digite o CPF">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Data de nascimento">Data de nascimento</label>
                                <input type="date"  name="nascimento" title="Data de nascimento" value="<?php echo $this->view->obj->nascimento ?>" class="form-control round" id="nascimento" placeholder="Digite Data de nascimento">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="E-mail">E-mail</label>
                                <input type="email" required  name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="Insira o email do usuário">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Celular">Celular</label>
                                <input type="text"  name="phone" title="Celular" value="<?php echo $this->view->obj->phone ?>" class="form-control round mobilephone" placeholder="Insira o celular do usuário">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Capitulo">Capitulo</label>
                                <input list="capitulosList" type="text" required  name="capitulo" title="Capitulo" value="<?php echo $this->view->obj->capitulo ?>" class="form-control round" id="capitulo" placeholder="Digite o Capitulo">
                                <datalist id="capitulosList">
                                   <?php foreach($this->view->adds->capitulos as $capitulo){ ?>
                                        <option value="<?php echo $capitulo->capitulo; ?>">
                                   <?php } ?>
                                </datalist>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Ramo de atuação">Ramo de atuação</label>
                                <input list="ramoatvsList" type="text"  name="ramoatv" title="Ramo de atuação" value="<?php echo $this->view->obj->ramoatv ?>" class="form-control round" id="ramoatv" placeholder="Digite o Ramo de atuação">
                                <datalist id="ramoatvsList">
                                   <?php foreach($this->view->adds->ramoatvs as $ramoatv){ ?>
                                        <option value="<?php echo $ramoatv->ramoatv; ?>">
                                   <?php } ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Empresa">Empresa</label>
                                <input type="text" name="empresa" title="Empresa" value="<?php echo $this->view->obj->empresa ?>" class="form-control round" placeholder="Empresa">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Senha</label>
                                <input type="password" name="password" title="Senha" <?php echo $this->view->obj->idspouse == '' ? 'required' : '' ?> class="form-control round" id="password" placeholder="Digite sua senha">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Confirmar Senha</label>
                                <input type="password" name="password" title="Confirmar Senha" <?php echo $this->view->obj->idspouse == '' ? 'required' : '' ?> class="form-control round" id="password_again" placeholder="Confirmar senha">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idspouse ?>">
                    <input type="hidden" name="password_old" value="<?php echo $this->view->obj->password ?>">
                    <input type="hidden" name="user" value="<?php echo $this->view->obj->user ?>">
                    <input type="hidden" name="parentesco" value="<?php echo $this->view->obj->parentesco ?>">
                    <input type="hidden" name="iduser" value="<?php echo $this->view->obj->iduser ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn btn-info">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>