
<style>
.inputlist{
    height: 30px !important;
}
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <h4 class="form-t1">Retreat</h4>
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) { ?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>

                            <form id="formfiles" action="/arquivos-retreats/create" class="form-register">
                            <div class="row">
                                
                                    <?php if(isset($this->view->adds->iduser)){
                                            echo '<input type="hidden" name="iduser" value="'.$this->view->adds->iduser.'">';
                                        }else{ ?>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="Usuário">Usuário</label>
                                                <select onchange="redirectUrl()" class="form-control round" name="iduser" id="iduser">
                                                    <option value="">Selecione</option>
                                                    <?php foreach ($this->view->adds->usuarios as $g) {?>
                                                        <option <?=((isset($_GET['iduser']) && $g->iduser == $_GET['iduser']) ? "selected" : "");?> value="<?=$g->iduser?>"><?=$g->name?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                        </div>
                                    <?php } ?>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Categoria">Categoria</label>
                                        <select onchange="redirectUrl()" class="form-control round" name="idcategoria" id="idcategoria">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->categorias as $g) {?>
                                                <option <?=((isset($_GET['categoria']) && $g->idcategory == $_GET['categoria']) ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Categoria">Sub-Categoria</label>
                                        <select <?php echo count($this->view->adds->subscategoria) == 0 ? 'readonly' : '' ?> onchange="redirectUrl()" class="form-control round" name="idcategoria2" id="idcategoria2">
                                            <option value="">Selecione</option>
                                            <?php foreach ($this->view->adds->subscategoria as $g) {?>
                                                <option <?=((isset($_GET['subcategoria']) && $g->idcategory == $_GET['subcategoria']) ? "selected" : "");?> value="<?=$g->idcategory?>"><?=$g->title?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="label" for="Titulo">Titulo</label>
                                        <input type="text" required  name="nome" title="Titulo" class="form-control round" placeholder="Titulo">
                                    </div>
                                </div>
                            </div>
                                <div class="form-group row">
                                <div class="col-lg-6">
                                        <div class="card-block">
                                            <div class="card-body">
                                                <label for="Categoria">Arquivo pt-br</label>
                                                <fieldset class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="arquivopt" id="arquivopt" multiple="multiple">
                                                        <label class="custom-file-label" for="inputGroupFile01">Escolher o arquivo</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card-block">
                                            <div class="card-body">
                                                <label for="Categoria">Arquivo en</label>
                                                <fieldset class="form-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="arquivoen" id="arquivoen">
                                                        <label class="custom-file-label" for="inputGroupFile01">Escolher o arquivo</label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" onclick="registerNew('formfiles')" class="btn btn-submit">Salvar</button>
                            </form>
                            <div class="mt-4">
                                <table class=" table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Arquivo Pt-br</th>
                                            <th>Arquivo En</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) { ?>
                                            <tr>
                                                <td>
                                                    <span class="d-none"><?php echo $a->nome ?></span>
                                                    <input id="nome<?php echo $a->idretreat; ?>" id="nome<?php echo $a->idretreat; ?>" type="text" data-id="<?php echo $a->idretreat; ?>" class="inputlist" value="<?php echo $a->nome ?>"><br><?php echo $a->categoria ?></td>
                                                <td>
                                                    <div class="d-flex">
                                                        <input style="display:none" type="file" onchange="save(<?php echo $a->idretreat; ?>)" name="arquivo1<?php echo $a->idretreat; ?>" data-id="<?php echo $a->idretreat; ?>" class="inputlist" id="arquivo1<?php echo $a->idretreat; ?>">
                                                        <button type="button" title="Enviar arquivo PT" onclick="clickFile('<?php echo '#arquivo1'.$a->idretreat; ?>')" style="border:none; background:none" class="text-info"><i class="fa fa-upload"></i></button>
                                                        <div id="previewarquivo1<?php echo $a->idretreat; ?>">
                                                            <?php 
                                                                if(strlen($a->portugues)){
                                                                    echo '<a title="Ver arquivo PT" class="btn-link" target="_blank" href="'.$a->portugues.'"><i class="fa fa-file"></i></a>';
                                                                }
                                                            ?>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                   <div class="d-flex">
                                                    <input style="display:none" type="file" onchange="save(<?php echo $a->idretreat; ?>)" name="arquivo2<?php echo $a->idretreat; ?>" data-id="<?php echo $a->idretreat; ?>" class="inputlist" id="arquivo2<?php echo $a->idretreat; ?>">
                                                        <button type="button" title="Enviar arquivo EN" onclick="clickFile('<?php echo '#arquivo2'.$a->idretreat; ?>'')" style="border:none; background:none" class="text-info"><i class="fa fa-upload"></i></button>
                                                        <div id="previewarquivo2<?php echo $a->idretreat; ?>">
                                                            <?php 
                                                                if(strlen($a->ingles)){
                                                                    echo '<a title="Ver arquivo EN" class="btn-link" target="_blank" href="'.$a->ingles.'"><i class="fa fa-file"></i></a>';
                                                                }
                                                            ?>
                                                        </div>
                                                   </div>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="#." onclick="save(<?php echo $a->idretreat; ?>)" class="text-success">
                                                                <i class="fa fa-save"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->idretreat ?>', '<?php echo $a->nome ?>')" href="#." class="text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Arquivo Pt-br</th>
                                            <th>Arquivo En</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

<script>
function redirectUrl(){
    let url = '/arquivos-retreats/index?';
    let params = [];

    if($('#iduser').val()){
        params.push('iduser='+$('#iduser').val());
    }
    
    if($('#idcategoria').val()){
        params.push('categoria='+$('#idcategoria').val())
    }
    
    if($('#idcategoria2').val()){
        params.push('subcategoria='+$('#idcategoria2').val())
    }

    for(var i=0; i<params.length; i++){
        url += '&'+params[i];
    }

    window.location = url;
}

    function save(id){
        let nome =  $('#nome'+id).val();

        var fd = new FormData();
        var arquivo1 = $('#arquivo1'+id)[0].files;
        var arquivo2 = $('#arquivo2'+id)[0].files;

        fd.append('nome',nome);
        fd.append('id',id);
        fd.append('arquivopt',arquivo1[0]);
        fd.append('arquivoen',arquivo2[0]);

        $.ajax({
            url: '/arquivos-retreats/update/'+id,
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            dataType: 'json',
            success: function(response){
                if(response['response']['arquivo1']){
                    $('#previewarquivo1'+id).html('');
                    $('#previewarquivo1'+id).html(`
                        <a title="Ver arquivo PT" href="${response['response']['arquivo1']}" target="_blank"><i class="fa fa-file"></i></a>
                    `);
                    alertmsg(response['response']['mensagem'], response['response']['classe'])
                }
                if(response['response']['arquivo2']){
                    $('#previewarquivo2'+id).html('');
                    $('#previewarquivo2'+id).html(`
                        <a title="Ver arquivo EN" href="${response['response']['arquivo2']}" target="_blank"><i class="fa fa-file"></i></a>
                    `);
                    alertmsg(response['response']['mensagem'], response['response']['classe'])
                }
            },
        });
    }

    function alertmsg(msg, classe) {
        $('#status_response').addClass('d-none');
        $('#response').html('<div class="alert-dismissible fade show p-2" role="alert">' + msg + '</div>');
        $('#response').removeClass('alert alert-danger');
        $('#response').removeClass('alert alert-success');
        $('#response').addClass('alert ' + classe);
        $("#response").slideDown();
        setTimeout(function () {
            $("#response").slideUp();
        }, 4000);
    }

    function clickFile(id){
        $(id).click();
    }
    $('.inputlist').keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
            save($(this).attr('data-id'));  
        }
        if(keycode == 9){
            save($(this).attr('data-id'));  
        }
    });
</script>