    <!--/ DOM positioning table -->
    <!-- Alternative pagination table -->
    <section id="pagination">
<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="form-t1">Solicitações de desconto</h4>
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) {?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php }?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <?php if(isset($this->view->adds->usuario)){
                                        echo '';
                                    }else{ ?>
                                        <div class="form-group">
                                            <label for="Usuário">Usuário</label>
                                            <select onchange="window.location='/solicitacoes-desconto/index?iduser='+$(this).val()" class="form-control round" name="iduser" id="iduser">
                                                <option value="">Selecione</option>
                                                <?php foreach ($this->view->adds->usuarios as $g) {?>
                                                    <option <?=((isset($_GET['iduser']) && $g->iduser == $_GET['iduser']) ? "selected" : "");?> value="<?=$g->iduser?>"><?=$g->name?></option>
                                                <?php }?>
                                            </select>
                                        </div>
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="">
                                <table class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Data Contato</th>
                                            <th>Empresa</th>
                                            <th>Usuário</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) {?>
                                            <tr>
                                                <td><?php echo $a->date_create ?></td>
                                                <td><?php echo $a->empresa->nome ?></td>
                                                <td><?php echo $a->usuario->name ?></td>
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="/solicitacoes-desconto/view/<?php echo $a->idsolicitacao ?>" class="text-info">
                                                               <i class="fas fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->idsolicitacao ?>', 'Registro')" href="#." class="text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php }?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Data Contato</th>
                                            <th>Empresa</th>
                                            <th>Usuário</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
 