<style>
h6{
    padding-bottom:0px!important;
}
</style>
<div class="col-md-12">

<h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
                <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12 align-self-center">
                                    <div class="padding-dynamic-table-3">
                                        <div class="row">
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">Data</h6>
                                                <p><?php echo date('d/m/Y', strtotime($this->view->obj->date_create)) ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">Parceiro</h6>
                                                <p><?php echo $this->view->obj->empresa->nome ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">Empresa</h6>
                                                <p><?php echo $this->view->adds->dados->empresa ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">Nome</h6>
                                                <p><?php echo $this->view->adds->dados->nome ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">E-mail</h6>
                                                <p><?php echo $this->view->adds->dados->email ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">Whatsapp/Tel</h6>
                                                <p><?php echo $this->view->adds->dados->whatsapp ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-4">
                                                <h6 class="text-bold text-uppercase font-weight-bold">Capitulo</h6>
                                                <p><?php echo $this->view->adds->dados->capitulo ?></p>
                                            </div>
                                            <div class="text-block mt-4 col-md-12">
                                                <h6 class="text-bold text-uppercase font-weight-bold">mensagem</h6>
                                                <p><?php echo $this->view->obj->mensagem ?></p>
                                            </div>
                                            <div class="col-lg-12">
                                                <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>