    /*
    Flaticon icon font: Flaticon
    Creation date: 12/04/2019 16:15
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-long-arrow-pointing-up:before { content: "\f100"; }
.flaticon-football:before { content: "\f101"; }
.flaticon-sneakers:before { content: "\f102"; }
.flaticon-running-man:before { content: "\f103"; }
.flaticon-athlete:before { content: "\f104"; }
.flaticon-basketball:before { content: "\f105"; }
.flaticon-girl:before { content: "\f106"; }
.flaticon-kids-couple:before { content: "\f107"; }
.flaticon-man-standing-up:before { content: "\f108"; }
.flaticon-backpack:before { content: "\f109"; }
.flaticon-tshirt:before { content: "\f10a"; }
.flaticon-gym:before { content: "\f10b"; }
    
    $font-Flaticon-long-arrow-pointing-up: "\f100";
    $font-Flaticon-football: "\f101";
    $font-Flaticon-sneakers: "\f102";
    $font-Flaticon-running-man: "\f103";
    $font-Flaticon-athlete: "\f104";
    $font-Flaticon-basketball: "\f105";
    $font-Flaticon-girl: "\f106";
    $font-Flaticon-kids-couple: "\f107";
    $font-Flaticon-man-standing-up: "\f108";
    $font-Flaticon-backpack: "\f109";
    $font-Flaticon-tshirt: "\f10a";
    $font-Flaticon-gym: "\f10b";