<div class="col-md-12">

<h4 class="form-t1" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="label" for="Titulo">Titulo</label>
                                    <input type="text" required  name="titulo" title="Titulo" value="<?php echo htmlentities($this->view->obj->titulo) ?>" class="form-control round" placeholder="Titulo">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="Link">Link</label>
                                    <input type="text"  name="link" title="Link" value="<?php echo htmlentities($this->view->obj->link) ?>" class="form-control round" placeholder="Link">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="Data">Data</label>
                                    <input type="date" name="data" title="Data" value="<?php echo $this->view->obj->data ?>" class="form-control round" placeholder="Data">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="label" for="Ordem">Ordem</label>
                                    <input type="text" name="ordem" title="Ordem" value="<?php echo $this->view->obj->ordem ?>" class="form-control round" placeholder="Ordem">
                                </div>
                            </div>
                            
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label class="label" for="Imagem Principal">Imagem Principal</label>
                                            <input type="text" onchange="$('#previewimagem').attr('src', $(this).val())" required  name="imagem" title="Logo" value="<?php echo $this->view->obj->imagem ?>" class="form-control round" placeholder="Imagem Principal">
                                        </div>
                                    </div>
                                        <div class="col-lg-4 col-md-12">
                                            <img id="previewimagem" src="<?php echo $this->view->obj->imagem ?>" class="img-fluid">
                                        </div>
                                </div>
                            </div>
                        </div>
                            <div style="margin-top: 10px" class="form-group row">
                                <label class="col-sm-4 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-8   ">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo" value="s" <?php echo ('s' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="ativo" id="ativo2" value="n" <?php echo ('n' == $this->view->obj->ativo ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="ativo2">Não</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->iddestaque ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls">Upload de arquivos/imagens</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">
                <form id="formimagem" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="form-group row">
                        <div class="col-lg-8 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="uploadgeneric('formimagem', 'inputimagem', '<?php echo $this->view->url ?>/uploads', 'inputimagempreview')" type="file" class="custom-file-input" name="fileinputimagem" id="fileinputimagem" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher o arquivos/imagem</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <img id="previewinputimagem" src="" class="img-fluid">
                        </div>
                        <div class="col-lg-12 mt-5">
                            <div class="row">
                                <div class="col-lg-9">
                                <input type="text" style="height: 37px;" id="inputimagempreview" name="inputimagempreview" class="form-control">
                                </div>
                                <span class="col-lg-3">
                                    <button type="button" class="btn btn-info btn-flat copy"><i class="far fa-copy"></i> Copiar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".copy").click(function(){
        $('#inputimagempreview').select();
        document.execCommand('copy');
        alert("Conteudo copiado!")
    });

    $(document).on("click", ".dupimagem", function(){
        var indice  = parseInt((Math.random() * 100), 10);
        var content = `<div style="margin-top: 10px" class="row">
                            <div class="col-lg-2">
                                <button type="button" data-index="${indice}" class="btn dupimagem">+</button>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" onchange="$('#previewimg${indice}').attr('src', $(this).val())"  name="imagem[]" title="Imagem" value="" class="form-control round" placeholder="Imagem">
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <img id="previewimg${indice}" src="" class="img-fluid">
                            </div>
                        </div>`;

        $("#imagemContent").append(content);
    })
</script>