<div class="col-md-12">
    <h2 class="form-t1"><?php echo $this->titulo_pagina ?></h2>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" enctype='multipart/form-data' class="form-register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Cod. Membro">Cod. Membro</label>
                                <input type="text" name="codmember" title="Cod. Membro" value="<?php echo $this->view->obj->codmember ?>" class="form-control round" placeholder="Cod. Membro">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="CPF">CPF</label>
                                <input type="text" required onblur="salvarUsuario(this)"  name="cpf" title="CPF" value="<?php echo $this->view->obj->cpf ?>" class="form-control round" id="cpf" maxlength="11" placeholder="Digite o CPF">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="Nome">Nome</label>
                                <input type="text" required  name="name" title="Nome completo" value="<?php echo $this->view->obj->name ?>" class="form-control round" placeholder="Nome completo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Data de nascimento">Data de nascimento</label>
                                <input type="date"  name="nascimento" title="Data de nascimento" value="<?php echo $this->view->obj->nascimento ?>" class="form-control round" id="nascimento" placeholder="Digite Data de nascimento">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="E-mail">E-mail</label>
                                <input type="email" required  name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="Insira o email do usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Celular</label>
                                <input type="text"  name="phone" title="Celular" value="<?php echo $this->view->obj->phone ?>" class="form-control round mobilephone" placeholder="Insira o celular do usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Site">Site</label>
                                <input type="text"  name="website" title="Site" value="<?php echo $this->view->obj->website ?>" class="form-control round" placeholder="Insira o site do usuário">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Capitulo">Capitulo</label>
                                <input list="capitulosList" type="text" required  name="capitulo" title="Capitulo" value="<?php echo $this->view->obj->capitulo ?>" class="form-control round" id="capitulo" placeholder="Digite o Capitulo">
                                <datalist id="capitulosList">
                                   <?php foreach($this->view->adds->capitulos as $capitulo){ ?>
                                        <option value="<?php echo $capitulo->capitulo; ?>">
                                   <?php } ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Cidade">Cidade</label>
                                <input type="text"  name="cidade" title="Cidade" value="<?php echo $this->view->obj->cidade ?>" class="form-control round" placeholder="Cidade">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado</label>
                                <select name="estado"  title="Estado" class="form-control" style="width: 100%;">
                                    <option value="">Selecione</option>
                                    <?php foreach($this->view->adds->ufs as $uf){ ?>
                                        <option <?php echo $uf->sigla == $this->view->obj->estado ? 'selected' : '' ?> value="<?php echo $uf->sigla ?>"><?php echo $uf->nome ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Ramo de atuação">Ramo de atuação</label>
                                <input list="ramoatvsList" type="text"  name="ramoatv" title="Ramo de atuação" value="<?php echo $this->view->obj->ramoatv ?>" class="form-control round" id="ramoatv" placeholder="Digite o Ramo de atuação">
                                <datalist id="ramoatvsList">
                                   <?php foreach($this->view->adds->ramoatvs as $ramoatv){ ?>
                                        <option value="<?php echo $ramoatv->ramoatv; ?>">
                                   <?php } ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Empresa">Empresa</label>
                                <input type="text" name="empresa" title="Empresa" value="<?php echo $this->view->obj->empresa ?>" class="form-control round" placeholder="Empresa">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nome fantasia">Nome fantasia</label>
                                <input type="text" name="fantasia" title="Nome fantasia" value="<?php echo $this->view->obj->fantasia ?>" class="form-control round" placeholder="Nome fantasia">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Grupo de Acesso">Grupo de Acesso</label>
                                <select class="form-control round" required  title="Grupo de Acesso" name="idgroup" id="input4">
                                    <option selected disabled>Selecione um Grupo</option>
                                    <?php foreach ($this->view->adds->groups as $g) {?>
                                        <option <?php echo ($g->idgroup == $this->view->obj->idgroup ? "selected" : ""); ?> value="<?php echo $g->idgroup ?>"><?php echo $g->description ?></option>
                                    <?php }?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Celular">Usuário</label>
                                <input type="text" autocomplete="false" required  name="user" onkeypress="valida('#usuario')" title="Usuário" value="<?php echo $this->view->obj->user ?>" class="form-control round" id="usuario" placeholder="Digite o usuário">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Celular">Senha</label>
                                <input type="password" autocomplete="false" name="password" title="Senha" <?php echo $this->view->obj->iduser == '' ? 'required' : '' ?> class="form-control round" id="password" placeholder="Digite sua senha">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Celular">Confirmar Senha</label>
                                <input type="password" autocomplete="false" name="password" title="Confirmar Senha" <?php echo $this->view->obj->iduser == '' ? 'required' : '' ?> class="form-control round" id="password_again" placeholder="Confirmar senha">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label for="hobbies">Hobbies</label>
                            <textarea class="form-control" name="hobbies" id="hobbies" cols="30" rows="2"><?php echo $this->view->obj->hobbies ?></textarea>
                        </div>
                        <div class="col-lg-8">
                            <label for="image">Imagem: 500 x 667px e 600px x 800px</label>
                            <input type="file" name="image" class="form-control" id="image">
                        </div>
                        <div class="col-lg-4 <?php echo !strlen($this->view->obj->image) ? 'd-none' : '' ?>">
                            <img class="img-responsive" src="<?php echo $this->view->obj->image ?>" alt="">
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input style="height: 1px !important" type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label style="height: 1px !important" class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->iduser ?>">
                    <input type="hidden" name="password_old" value="<?php echo $this->view->obj->password ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="registerNew('formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) {?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php }?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px" class="col-lg-12 <?php echo is_numeric($this->view->obj->iduser) ? '' : 'd-none' ?>">
                <a href="<?php echo $this->view->url ?>/create<?php echo "?iduser=".$this->view->obj->iduser; ?>" class="btn btn-min-width mr-1 mb-1">Adicionar Spouse</a>
                <table class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Parentesco</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($this->view->obj->spouses as $a) { ?>
                            <tr>
                                <td><?php echo $a->nome ?></td>
                                <td><?php echo $a->parentesco ?></td>
                                <td>
                                    <ul class="list-unstyled list-inline buttons-config">
                                        <li class="list-inline-item">
                                            <a href="/cadastro-spouse/update/<?php echo $a->idspouse ?>" class="text-info">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a onclick="deletar('/cadastro-spouse/destroy/<?php echo $a->idspouse ?>', '<?php echo $a->nome ?>')" href="#." class="text-danger">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        <?php } ?>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nome</th>
                            <th>Parentesco</th>
                            <th>Ação</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

function retirarFormatacao(campoTexto) {
    return campoTexto.value.replace(/(\.|\/|\-)/g,"");
}
function salvarUsuario(el){
  $("#usuario").val(retirarFormatacao(el));
}
var cpf = document.querySelector("#cpf");

cpf.addEventListener("blur", function(){
   if(cpf.value) cpf.value = cpf.value.match(/.{1,3}/g).join(".").replace(/\.(?=[^.]*$)/,"-");
});
</script>