<div class="col-md-12">
    <h2 class="form-t1"><?php echo $this->titulo_pagina ?></h2>
    <div class="card">
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) {?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php }?>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-lg-12">
                            <?php if(isset($this->view->adds->iduser)){
                                echo '<input type="hidden" name="iduser" value="'.$this->view->adds->iduser.'">';
                            }else{ ?>
                                <div class="form-group">
                                    <label for="Usuário">Usuário</label>
                                    <select class="form-control round" name="iduser" id="iduser">
                                        <option value="">Selecione</option>
                                        <?php foreach ($this->view->adds->usuarios as $g) {?>
                                            <option <?=(($g->iduser == $this->view->obj->iduser || (isset($_GET['iduser']) && $_GET['iduser'] == $g->iduser)) ? "selected" : "");?> value="<?=$g->iduser?>"><?=$g->name?></option>
                                        <?php }?>
                                    </select>
                                </div>
                            <?php } ?>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nome">Nome</label>
                                <input type="text" required  name="nome" title="Nome completo" value="<?php echo $this->view->obj->nome ?>" class="form-control round" placeholder="Nome completo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CPF">CPF</label>
                                <input type="text" onkeyup="somenteNumeros(this);" onblur="$('#usuario').val($(this).val())"  name="cpf" title="CPF" value="<?php echo $this->view->obj->cpf ?>" class="form-control round" id="cpf" placeholder="Digite o CPF">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Data de nascimento">Data de nascimento</label>
                                <input type="date"  name="nascimento" title="Data de nascimento" value="<?php echo $this->view->obj->nascimento ?>" class="form-control round" id="nascimento" placeholder="Digite Data de nascimento">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="E-mail">E-mail</label>
                                <input type="email"  name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="Insira o email do usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Celular</label>
                                <input type="text"  name="phone" title="Celular" value="<?php echo $this->view->obj->phone ?>" class="form-control round mobilephone" placeholder="Insira o celular do usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Capitulo">Capitulo</label>
                                <input list="capitulosList" type="text" required  name="capitulo" title="Capitulo" value="<?php echo $this->view->obj->capitulo ?>" class="form-control round" id="capitulo" placeholder="Digite o Capitulo">
                                <datalist id="capitulosList">
                                   <?php foreach($this->view->adds->capitulos as $capitulo){ ?>
                                        <option value="<?php echo $capitulo->capitulo; ?>">
                                   <?php } ?>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Ramo de atuação">Ramo de atuação</label>
                                <input list="ramoatvsList" type="text"  name="ramoatv" title="Ramo de atuação" value="<?php echo $this->view->obj->ramoatv ?>" class="form-control round" id="ramoatv" placeholder="Digite o Ramo de atuação">
                                <datalist id="ramoatvsList">
                                   <?php foreach($this->view->adds->ramoatvs as $ramoatv){ ?>
                                        <option value="<?php echo $ramoatv->ramoatv; ?>">
                                   <?php } ?>
                                </datalist>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Empresa">Empresa</label>
                                <input type="text" name="empresa" title="Empresa" value="<?php echo $this->view->obj->empresa ?>" class="form-control round" placeholder="Empresa">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Usuário</label>
                                <input type="text" readonly autocomplete="false"  name="user" onkeypress="valida('#usuario')" title="Usuário" value="<?php echo $this->view->obj->user ?>" class="form-control round" id="usuario" placeholder="Digite o usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Senha</label>
                                <input type="password" autocomplete="false" name="password" title="Senha" class="form-control round" id="password" placeholder="Digite sua senha">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Celular">Confirmar Senha</label>
                                <input type="password" autocomplete="false" name="password" title="Confirmar Senha" class="form-control round" id="password_again" placeholder="Confirmar senha">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-2">
                            <label for="hobbies">Hobbies</label>
                            <textarea class="form-control" name="hobbies" id="hobbies" cols="30" rows="2"><?php echo $this->view->obj->hobbies ?></textarea>
                        </div>
                        <div class="col-lg-8">
                            <label for="image">Imagem: 500 x 667px e 600px x 800px</label>
                            <input type="file" name="image" class="form-control" id="image">
                        </div>
                        <div class="col-lg-4 <?php echo !strlen($this->view->obj->image) ? 'd-none' : '' ?>">
                            <img class="img-responsive" src="<?php echo $this->view->obj->image ?>" alt="">
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <label class="col-sm-4 col-form-label d-none d-sm-block">Parentesco:</label>
                        <div class="col-sm-8">
                            <div class="custom-control custom-radio">
                                <input style="height: 1px !important" type="radio" name="parentesco" id="parentesco" value="conjuge" <?php echo ('conjuge' == $this->view->obj->parentesco ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="parentesco">Conjuge</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input style="height: 1px !important" type="radio" name="parentesco" id="status2" value="filho" <?php echo ('filho' == $this->view->obj->parentesco ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Filho(a)</label>
                            </div>
                        </div>
                    </div>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idspouse ?>">
                    <input type="hidden" name="password_old" value="<?php echo $this->view->obj->password ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="registerNew('formcrud')" class="btn btn-submit"><?php echo $this->view->label ?></button>
                    <button type="button" onclick="window.history.back();" class="ml-3 btn">Voltar</button>
                </form>
            </div>
        </div>
    </div>
</div>