
<div class="menu-categoria categoria-principal">
  <div class="box-menu-categoria">
    <div class="menuCategoria">
      <h2 class="menu-categoria-t1">
        Categorias
      </h2>
      <ul>
        <?php foreach($this->view->adds->categorias as $categoria){ ?>
          <li <?php echo $this->view->adds->idcategoria == $categoria->idcategory ? 'style="color:#fff" class="active"' : ''; ?>>
            <a  <?php echo $this->view->adds->idcategoria == $categoria->idcategory ? 'style="color:#fff"' : ''; ?> href="<?php echo $categoria->url; ?>#listagem"><?php echo $categoria->title; ?></a>
          </li>
        <?php }; ?>
      </ul>
    </div>
</div>  
</div>    