
<div class="menu-categoria categoria-principal retreats">
  <div class="box-menu-categoria">
    <div class="menuCategoria">
      <h2 class="menu-categoria-t1">
        Categorias
      </h2>
      <ul>
        <?php foreach($this->view->adds->categorias as $categoria){ ?>
          <li <?php echo $this->view->adds->idcategoria == $categoria->idcategory ? 'style="color:#fff" class="active"' : ''; ?>>
            <a  <?php echo $this->view->adds->idcategoria == $categoria->idcategory ? 'style="color:#fff"' : ''; ?> href="<?php echo $categoria->url; ?>#listagem"><span style="font-size: 24px;color: #d69d23;margin-right: 20px;"><i class="<?php echo $categoria->icon; ?>"></i></span> <?php echo $categoria->title; ?></a>
          </li>
        <?php }; ?>
      </ul>
    </div>
</div>  
</div>    