body {
    color: #262626;
}

.bg-login{
    background-color: #262626 !important;
}

.dataTables_filter, .dataTables_paginate{
    float: right;
}
.layout-fixed .main-sidebar {
    background-color: #262626;
}
.navbar-white {
    background-color: #05b9c0;
}
[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link, [class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
    background-color: #34c3cc;
    color: #fff;
}

.card-header {
    background-color: #05b9c0;
    color: white;
}

.card{
    border-radius: 0px;
-webkit-box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
}

.form-control {
    border-radius: 0;
}

.form-control:active, .form-control:focus {
    border-bottom: 2px solid #34c3cc;;
    border-radius: 0;
}

.btn{
    border-radius: 0px;
    -webkit-box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -17px rgba(0,0,0,0.75);
}

.login-box, .register-box{
    width: 100%;
}