<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="card-content">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                    <li class="nav-item">
                                        <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                    </li>

                                <?php
                                    $active = '';
                                        $expande = 'false';
                                    }
                                ?>
                            </ul>
                            <div class="tab-content px-1 pt-1">
                                <?php
                                    $active = 'active';
                                    $expande = 'true';
                                    $role = 'role="tabpanel"';
                                    foreach ($this->view->adds->languages as $l) {
                                ?>
                                <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Selecione o autor">Selecione o autor</label>
                                                <select <?php echo $l->idlanguage == 1 ? 'required' : '' ?> class="form-control round authorselect" onchange="$('.authorselect').val($(this).val())" title="Selecione o autor" name="idauthor" id="input4">
                                                    <option value="">Selecione</option>
                                                    <?php foreach ($this->view->adds->authors as $g) {?>
                                                        <option <?php echo ($g->idauthor == $this->view->obj[$l->idlanguage]->idauthor ? "selected" : ""); ?> value="<?php echo $g->idauthor ?>"><?php echo $g->title ?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Selecione a Seção">Selecione a Categoria</label>
                                                <select class="form-control round sectionselect" onchange="$('.sectionselect').val($(this).val())" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> title="Selecione a categoria" name="idcategory">
                                                    <option>Selecione uma Categoria</option>
                                                    <?php foreach ($this->view->adds->categories as $category) {?>
                                                        <option <?php echo ($category->idcategory == $this->view->obj[$l->idlanguage]->idcategory ? "selected" : ""); ?> value="<?php echo $category->idcategory ?>"><?php echo $category->title ?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Selecione a Seção">Selecione o Tipo de postagem</label>
                                                <select class="form-control round selecttype" onchange="$('.selecttype').val($(this).val())" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> title="Selecione o Tipo de postagem" name="idtype" id="input4">
                                                    <option>Selecione o Tipo de postagem</option>
                                                    <?php foreach ($this->view->adds->types as $type) {?>
                                                        <option <?php echo ($type->idtype == $this->view->obj[$l->idlanguage]->idtype ? "selected" : ""); ?> value="<?php echo $type->idtype ?>"><?php echo $type->title ?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Titulo">Titulo</label>
                                                <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> name="title[]" title="Titulo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->title) ?>" class="form-control round" placeholder="Titulo">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label" for="Data da Postagem">Data da Postagem</label>
                                                <input type="date" onblur="$('.inputdate').val($(this).val())"  name="date" title="Data da Postagem" value="<?php echo !empty($this->view->obj[$l->idlanguage]->date) ? $this->view->obj[$l->idlanguage]->date : date('Y-m-d') ?>" class="form-control round inputdate" placeholder="Data da Postagem">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label class="label" for="Ordem">Ordem</label>
                                                <input type="number" onblur="$('.inputorder').val($(this).val())" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> name="ordem" title="Ordem em <?php echo $l->title ?>" value="<?php echo $this->view->obj[$l->idlanguage]->ordem ?>" class="form-control round inputorder" placeholder="Ordem">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Mini descrição">Mini descrição</label>
                                                <textarea name="mintext[]" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> rows="5" title="Mini descrição em <?php echo $l->title ?>" class="form-control" placeholder="Mini descrição"><?php echo $this->view->obj[$l->idlanguage]->mintext ?></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Texto</label>
                                                <textarea name="text[]" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> rows="5" title="Texto em <?php echo $l->title ?>" class="summernote" placeholder="Texto"><?php echo $this->view->obj[$l->idlanguage]->text ?></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label" for="Referencia">Referencia</label>
                                                <input type="text" name="reference[]" title="Referencia em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->reference) ?>" class="form-control round" placeholder="Referencia">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label" for="Link">Link</label>
                                                <input type="text" onblur="$('.inputlink').val($(this).val())" name="link" title="Link em <?php echo $l->title ?>" value="<?php echo $this->view->obj[$l->idlanguage]->link ?>" class="form-control inputlink round" placeholder="Link">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="label" for="Link">Video (https://youtu.be/_FLC3ajYsiE)</label>
                                                <input type="text"  name="link_video" onblur="$('.inputlinkvideo').val($(this).val())" title="Link do video em <?php echo $l->title ?>" value="<?php echo $this->view->obj[$l->idlanguage]->link_video ?>" class="form-control inputlinkvideo round" placeholder="Link do video (Youtube: https://youtu.be/_FLC3ajYsiE)">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Texto">Keywords</label>
                                                <textarea name="keywords[]" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> rows="5" title="Keywords em <?php echo $l->title ?>" class="form-control" placeholder="Keywords"><?php echo $this->view->obj[$l->idlanguage]->keywords ?></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="Description (Seo)">Description (Seo)</label>
                                                <textarea name="description[]" <?php echo $l->idlanguage == 1 ? 'required' : '' ?> rows="5" title="Description (Seo) em <?php echo $l->title ?>" class="form-control" placeholder="Description (Seo)"><?php echo $this->view->obj[$l->idlanguage]->description ?></textarea>
                                            </div>
                                        </div>

                                    </div>


                                    <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                </div>
                                <?php
$active = '';
    $expande = 'false';
    $role = '';
}
?>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="status2">Não</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label d-none d-sm-block"> Destaque na home:</label>
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="spotlight" id="spotlight" value="s" <?php echo ('s' == $this->view->adds->spotlight ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="spotlight">Sim</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" name="spotlight" id="spotlight2" value="n" <?php echo ('n' == $this->view->adds->spotlight ? "checked" : ""); ?> class="custom-control-input">
                                        <label class="custom-control-label" for="spotlight2">Não</label>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="form-group row">
                                <div class="col-lg-6 col-md-12">
                                    <label for="Imagem">Imagem</label>
                                    <div class="card-block">
                                        <div class="card-body">
                                            <fieldset class="form-group">
                                                <div class="custom-file">
                                                    <input onchange="uploadgeneric('formcrud', 'image', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="fileimage" id="fileimage" aria-describedby="fileHelp">
                                                    <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-12">
                                    <img id="previewimage" src="<?php echo $this->view->adds->image <> '' ? $this->view->adds->image : '' ?>" style="height: 100px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                    <input type="hidden" name="image" value="<?php echo $this->view->adds->image ?>" id="image">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) {?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php }?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
