<section id="pagination">
<div class="container-fluid">
    <!--/ DOM positioning table -->
    <!-- Alternative pagination table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Listagem</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                <li><a data-action="close"><i class="ft-x"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <?php if (isset($this->view->errormessage)) { ?>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert <?php echo $this->view->classe ?>">
                                            <?php echo $this->view->errormessage ?>
                                        </div>
                                    </div>
                                </div>
                            <?php } ?>
                            <div id="status_response" class="d-none text-center mt-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <a href="<?php echo $this->view->url ?>/create" class="btn btn-success text-white btn-min-width mr-1 mb-1">Adicionar novo</a>
                            <div class="">
                                <table class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>Ordem</th>
                                            <th>Data</th>
                                            <th>Tipo </th>
                                            <th>Categoria </th>
                                            <th>Titulo</th>
                                            <th>Status</th>
                                            <th style="width:180px">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($this->view->objs as $a) {  ?>
                                            <tr>
                                                <td><?php echo $a->ordem ?></td>
                                                <td><?php echo $a->date ?></td>
                                                <td><?php echo isset($a->type->title) ? $a->type->title : '' ?></td>
                                                <td><?php echo isset($a->category->title) ? $a->category->title : '' ?></td>
                                              
                                                <td><?php echo $a->title ?></td>
                                                <td><?php echo $a->status == 'a' ? 'Ativo' : 'Inativo' ?></td>
                                                
                                                <td>
                                                    <ul class="list-unstyled list-inline buttons-config">
                                                        <li class="list-inline-item">
                                                            <a href="<?php echo $this->view->url ?>/update/<?php echo $a->idblog ?>" class="text-primary">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a title="Total de visualizações" target="_blank" href="/dicas-de-culinaria/<?php echo $a->title_url ?>/<?php echo $a->idblog ?>" class="text-info">
                                                              <?php echo $a->views ?> <i class="fas fa-eye"></i>
                                                            </a>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <a onclick="deletar('<?php echo $this->view->url ?>/destroy/<?php echo $a->idblog ?>', '<?php echo $a->title ?>')" href="#." class="text-danger">
                                                                <i class="far fa-trash-alt"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <?php } ?>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Ordem</th>
                                            <th>Data</th>
                                            <th>Resort </th>
                                            <th>Categoria </th>
                                            <th>Titulo</th>
                                            <th>Status</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>