<section>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
                    <a class="heading-elements-toggle">
                        <i class="la la-ellipsis-v font-medium-3"></i>
                    </a>
                </div>
                <div class="card-content collpase show">
                    <div class="card-body">

                        <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="nav nav-tabs">
                                        <?php
                                            $active = 'active';
                                            $expande = 'true';
                                            foreach ($this->view->adds->languages as $l) {
                                        ?>
                                            <li class="nav-item">
                                                <a class="nav-link <?php echo $active ?>" id="base-tab<?php echo $l->idlanguage ?>" data-toggle="tab" aria-controls="tab<?php echo $l->idlanguage ?>" href="#tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>"><?php echo $l->title ?></a>
                                            </li>

                                        <?php
                                            $active = '';
                                                $expande = 'false';
                                            }
                                        ?>
                                    </ul>
                                    <div class="tab-content px-1 pt-1">
                                        <?php
                                            $active = 'active';
                                            $expande = 'true';
                                            $role = 'role="tabpanel"';
                                            foreach ($this->view->adds->languages as $l) {
                                        ?>
                                        <div <?php echo $role ?> class="tab-pane <?php echo $active ?>" id="tab<?php echo $l->idlanguage ?>" aria-expanded="<?php echo $expande ?>" aria-labelledby="base-tab<?php echo $l->idlanguage ?>">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="Selecione o Resort">Selecione a categoria</label>
                                                        <select class="form-control round categoryselect" onchange="$('.categoryselect').val($(this).val())" title="Selecione o Resort" name="idcategory" id="input4">
                                                            <option Value="">Selecione</option>
                                                            <?php foreach ($this->view->adds->categories as $g) {?>
                                                                <option <?php echo ($g->idcategory == $this->view->obj[$l->idlanguage]->idcategory ? "selected" : ""); ?> value="<?php echo $g->idcategory ?>"><?php echo $g->title ?></option>
                                                            <?php }?>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="label" for="Nome">Nome</label>
                                                        <input type="text" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="name[]" title="Nome em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->name) ?>" class="form-control round" placeholder="Nome">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="label" for="Cargo">Cargo</label>
                                                        <input type="text" name="cargo[]" title="Cargo em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->cargo) ?>" class="form-control round" placeholder="Cargo">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="label" for="Data em texto">Data em texto</label>
                                                        <input type="text"  name="data_string[]" title="Data em texto em <?php echo $l->title ?>" value="<?php echo htmlentities($this->view->obj[$l->idlanguage]->data_string) ?>" class="form-control round" placeholder="Data em texto">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="Mini Descrição">Mini Descrição</label>
                                                        <textarea name="mindescription[]" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  rows="5" title="Mini Descrição em <?php echo $l->title ?>"  class="form-control round" placeholder="Mini Descrição"><?php echo $this->view->obj[$l->idlanguage]->mindescription ?></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="Descrição">Descrição</label>
                                                        <textarea name="text[]" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  rows="5" title="Descrição em <?php echo $l->title ?>" class="summernote" placeholder="Descrição"><?php echo $this->view->obj[$l->idlanguage]->text ?></textarea>
                                                    </div>
                                                </div>

                                            </div>


                                            <input type="hidden" name="idlanguage[]" value="<?php echo $l->idlanguage ?>">
                                        </div>
                                        <?php
                                        $active = '';
                                            $expande = 'false';
                                            $role = '';
                                        }
                                        ?>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Ordem">Ordem</label>
                                                <input type="number" <?php echo $l->idlanguage == 1 ? 'required' : '' ?>  name="order" title="Ordem" value="<?php echo $this->view->adds->order ?>" class="form-control round" placeholder="Ordem">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Site">Site</label>
                                                <input type="text" name="site" title="Site" value="<?php echo $this->view->adds->site ?>" class="form-control round" placeholder="Site">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Link">Link</label>
                                                <input type="text" name="link" title="Link" value="<?php echo $this->view->adds->link ?>" class="form-control round" placeholder="Link">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                                        <div class="col-sm-10">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="status">Sim</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->adds->status ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="status2">Não</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label d-none d-sm-block">Destaque Home:</label>
                                        <div class="col-sm-10">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="home" id="home" value="s" <?php echo ('s' == $this->view->adds->home ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="home">Sim</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="home" id="home2" value="n" <?php echo ('n' == $this->view->adds->home ? "checked" : ""); ?> class="custom-control-input">
                                                <label class="custom-control-label" for="home2">Não</label>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-12">
                                            <label for="Imagem">Imagem</label>
                                            <div class="card-block">
                                                <div class="card-body">
                                                    <fieldset class="form-group">
                                                        <div class="custom-file">
                                                            <input onchange="uploadgeneric('formcrud', 'image', '<?php echo $this->view->url ?>/uploads')" type="file" class="custom-file-input" name="fileimage" id="fileimage" aria-describedby="fileHelp">
                                                            <label class="custom-file-label" for="inputGroupFile01">Escolher Imagem</label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-12">
                                            <img id="previewimage" src="<?php echo $this->view->adds->image <> '' ? $this->view->adds->image : '' ?>" style="height: 100px">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="id" value="<?php echo $this->view->adds->id ?>">
                            <input type="hidden" name="image" value="<?php echo $this->view->adds->image ?>" id="image">
                            <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                            <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button><button type="button" onclick="window.history.back();" class="ml-3 btn btn-info text-white">Voltar</button>
                        </form>
                    </div>

                    <div class="card-text">
                        <?php if (isset($this->view->errormessage)) {?>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="alert <?php echo $this->view->classe ?>">
                                        <?php echo $this->view->errormessage ?>
                                    </div>
                                </div>
                            </div>
                        <?php }?>
                        <div id="status_response" class="d-none text-center mt-2 mb-2">
                            <div class="fa-3x">
                                <i class="text-dark fas fa-spinner fa-spin"></i>
                            </div>
                        </div>
                        <div class="text-center p-t-115">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="response"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>