<main id="mainContent">
	<!-- start main slider -->
	<section class="container-indent ">
		<div >
			<div>
				<div class="slide">
				<div class="box-img-banner text-right">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/banner-turismo.jpg" alt="">
				</div>
				<div class="box-img-banner-mobile text-right">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/banner-turismo-mobile.jpg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- end main slider -->

	<!-- start section -->
	<section class="section section-default-inner">
		<div class="container">
			<div class="section-heading section-heading_indentg04" >
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-01.png" alt="Turismo">
					<span class="accordion">Turismo</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item acrodi" >
					<div class=" product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/turismo/arpoador.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/turismo/avantto.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-02.png" alt="Gastronomia">
					<span class="accordion">Gastronomia</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-03.png" alt="Serviços Financeiros">
					<span class="accordion">Serviços Financeiros</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>	
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-04.png" alt="Educação e Cultura">
					<span class="accordion">Educação e Cultura</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-05.png" alt="Locadoras de Veículos">
					<span class="accordion">Locadoras de Veículos</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>		
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-06.png" alt="Lojas">
					<span class="accordion">Lojas</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>	
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-07.png" alt="Locação de Espaços">
					<span class="accordion">Locação de Espaços</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-08.png" alt="Saúde e Estética">
					<span class="accordion">Saúde e Estética</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section-heading section-heading_indentg04">
				<div class="col-12 col-lg-12 itens">
					<img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/itens-icon-09.png" alt="Variados">
					<span class="accordion">Variados</span>
				</div>
			</div>
			<div class="js-carousel-products carousel-products slick-arrow-center panel">
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-08.jpg" alt=""></a></div>
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-01.jpg" alt=""></a></div>
					
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-09.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
				<div class="item">
					<div class="product box-img nomove-hover">
						<div class="product__img"><a href="shop_single_product.html"><img src="<?php echo URL_DEFAULT_TEMPLATE_SITE ?>/images/product/product_img-04.jpg" alt=""></a></div>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end section -->
</main>